charts/
.vagrant/
.envrc
inventory
shared/*
!shared/.gitkeep
site/
.cache/
apps/argo-cd-apps/argocd.secret*.yaml
!apps/argo-cd-apps/argocd.secret*.enc.yaml
.decrypted~*.yaml
ansible/vars/*
!ansible/vars/example.yaml
!ansible/vars/vagrant.yaml
values.yaml
/ansible/group_vars/all/*.yml
!/ansible/group_vars/all/main.yml
/ansible/host_vars/*.yml
!/ansible/host_vars/.gitkeep
