## Mis
charts/
.vagrant/
.envrc
shared/*
!shared/.gitkeep
site/
.cache/
values.yaml
.vscode/*

## Ansible
.ansible/*
/ansible/inventory/*
!/ansible/inventory/vagrant

## Different sops decrypted formats
*.enc_decrypted.yaml
*.enc.tmp.yaml
*.decrypted~*.yaml
*.decrypted.yaml
apps/argo-cd-apps/argocd.secret*.yaml
!apps/argo-cd-apps/argocd.secret*.enc.yaml
