---
# Project information
site_name: Madic | Home GitOps
site_description: A mono repository for my home Kubernetes cluster which tries to adhere to Infrastructure as Code (IaC) and GitOps practices
site_author: Michael Neese
site_url: https://madic-.github.io/git-ops/

# Repository
repo_name: madic-/k3s-git-ops
repo_url: https://github.com/madic-/k3s-git-ops
edit_uri: "-/edit/main/docs/"

copyright: Copyright &copy; 2024

theme:
  # https://github.com/squidfunk/mkdocs-material
  name: material
  icon:
    repo: fontawesome/brands/github-alt
  language: en
  features:
    - navigation.sections
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - content.code.copy
  #palette:
  #  - scheme: default
  #    primary: indigo
  #    accent: indigo
  #    toggle:
  #      icon: material/weather-night
  #      name: Switch to dark mode
  #  - scheme: slate
  #    primary: indigo
  #    accent: indigo
  #    toggle:
  #      icon: material/weather-sunny
  #      name: Switch to light mode

docs_dir: ./docs

# Customization
extra_css:
  - extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/madic-
    - icon: fontawesome/brands/mastodon
      link: https://chaos.social/@Madic
    - icon: fontawesome/brands/wordpress
      link: https://www.geekbundle.org

# Plugins
plugins:
  - privacy
  - social
  - search:
      lang: en
  - minify:
      minify_html: true

# Extensions
markdown_extensions:
  - attr_list
  - sane_lists
  - pymdownx.highlight:
      linenums: true
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  # https://facelessuser.github.io/pymdown-extensions/extensions/blocks/plugins/admonition/
  - pymdownx.blocks.admonition:
      types:
        - new
        - settings
        - note
        - abstract
        - info
        - tip
        - success
        - question
        - warning
        - failure
        - danger
        - bug
        - example
        - quote
  - toc:
      permalink: "#"
  - pymdownx.tasklist:
  #- pymdownx.details
  #- pymdownx.tabbed:
  #    alternate_style: true

# Navigation structure
nav:
  - Introduction: index.md
  - Installation: install.md
  - Applications:
      - Argo-CD: argocd.md
      - Authentication: auth.md
      - Backup: backup.md
      - Cert-Manager: certmanager.md
      - Databases: databases.md
      - Kube DOOM: kubedoom.md
      - LoadBalancer: loadbalancer.md
      - Monitoring: monitoring.md
      - Reflector: reflector.md
      - Secret Management: secretmanagement.md
      - Storage: storage.md
      - Updates: updates.md
  - Tools:
      - Helm: helm.md
      - Secrets: secrets.md
      - MKDocs: mkdocs.md
      - Pre-Commit-Hooks: pre-commit-hooks.md
      - Test Environment: testenv.md
