# python venv requirements

## mkdocs
### https://www.mkdocs.org/
mkdocs==1.6.1
### https://github.com/squidfunk/mkdocs-material
mkdocs-material==9.5.45
mkdocs-material[imaging]
### https://github.com/timvink/mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-localized-plugin==1.3.0
### https://github.com/byrnereese/mkdocs-minify-plugin
mkdocs-minify-plugin==0.8.0

## ansible
#ansible==11.0.0
