prometheusOperator:
    revisionHistoryLimit: 2
alertmanager:
    enabled: true
    ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: web239,websecure239
            traefik.ingress.kubernetes.io/router.tls: "true"
            traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd
        hosts:
            - ENC[AES256_GCM,data:4ao1yOEx3+TBI1QfR3RgAWDyr6e0P8iKf+DSE4xtKm78ug==,iv:1l1vnAguVHAfjiS1ftK4lUXhiJiIciR28DGU61ZGGxY=,tag:sc2S1QdgtlUFSmvsssipdA==,type:str]
        tls:
            - secretName: wildcard-cloudflare-production-02
              hosts:
                - ENC[AES256_GCM,data:rMMDm3Hat/IfVClw+w6+3mlD0GKhx1A2sjcssGBjVh5kOQ==,iv:ctzWXqz3AgeW36h8cJLrkeK4CsNJi7NPBqHW+wl3tjc=,tag:kO2mza2/K+JYGLrzM7qPUQ==,type:str]
    alertmanagerSpec:
        # PVC configuration
        storage:
            volumeClaimTemplate:
                spec:
                    storageClassName: longhorn
                    accessModes:
                        - ReadWriteOnce
                    resources:
                        requests:
                            storage: 1Gi
    config:
        global:
            resolve_timeout: 5m
        inhibit_rules:
            - source_matchers:
                - severity = critical
              target_matchers:
                - severity =~ warning|info
              equal:
                - namespace
                - alertname
            - source_matchers:
                - severity = warning
              target_matchers:
                - severity = info
              equal:
                - namespace
                - alertname
            - source_matchers:
                - alertname = InfoInhibitor
              target_matchers:
                - severity = info
              equal:
                - namespace
            - target_matchers:
                - alertname = InfoInhibitor
        route:
            group_by:
                - namespace
            group_wait: 30s
            group_interval: 5m
            repeat_interval: 1h
            receiver: ntfy
            routes:
                - receiver: ntfy
                  repeat_interval: 6h
                  matchers:
                    - alertname = "Watchdog"
        receivers:
            - name: ntfy
              webhook_configs:
                - url: ENC[AES256_GCM,data:wcEa9MPl5/o2ln4tn/oB+6IJUADkd1JbKNdr/x1vUMExzzNSHVZK5aLk5eyFPSPK61pa7Id2z69Jfg==,iv:Ww4ll3OWtFglDnHCf8eEJUV0qvHok2onlJacRR7BGgk=,tag:HZV7Px24NgkbnxWkL0Z9og==,type:str]
                  http_config:
                    basic_auth:
                        username: ENC[AES256_GCM,data:ckV0JR8tEkrkreg6qHd6psxClKGl3V3K,iv:LMUnciskqA8xiMHFnYbGL4RdCxXnE40Q/714w2EfIHE=,tag:YqO5+olgFsTOOdzMiTSSdw==,type:str]
                        password: ENC[AES256_GCM,data:ecXcSCQnu/p0rXegiMcGMx1MoQw7fjEL,iv:eG7sjiQaWRD0RMfjFUOsZIKV+aT1lp/rFDdEylAoIJs=,tag:WPvgojs3nAvjREeNN1oH7Q==,type:str]
        templates:
            - /etc/alertmanager/config/*.tmpl
prometheus:
    prometheusSpec:
        retention: 45d
        retentionSize: 25GB
        # By default, Prometheus only discovers PodMonitors and ServiceMonitors within its namespace.
        # Settings this to false disables the behaviour.
        podMonitorSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        #containers:
        #  - name: prometheus
        #    startupProbe:
        #      failureThreshold: 500
        # Resources request and limits
        resources:
            requests:
                cpu: 500m
                memory: 2Gi
            limits:
                cpu: 1000m
                memory: 6Gi
        # PVC configuration
        storageSpec:
            volumeClaimTemplate:
                spec:
                    storageClassName: longhorn
                    accessModes:
                        - ReadWriteOnce
                    resources:
                        requests:
                            storage: 35Gi
# In K3S, these services are not deployed as pods but are part of the k3s binary
# Do not use the vip because there are node specific metrics
kubeEtcd:
    enabled: true
    endpoints:
        - 192.168.1.21
        - 192.168.1.22
        - 192.168.1.23
kubeControllerManager:
    enabled: true
    endpoints:
        - 192.168.1.21
        - 192.168.1.22
        - 192.168.1.23
    service:
        enabled: true
        port: 10257
        targetPort: 10257
    serviceMonitor:
        enabled: true
        https: true
        insecureSkipVerify: true
kubeScheduler:
    enabled: true
    endpoints:
        - 192.168.1.21
        - 192.168.1.22
        - 192.168.1.23
    service:
        enabled: true
        port: 10259
        targetPort: 10259
    serviceMonitor:
        enabled: true
        https: true
        insecureSkipVerify: true
kubeProxy:
    enabled: false
    endpoints:
        - 192.168.1.21
        - 192.168.1.22
        - 192.168.1.23
    service:
        enabled: true
        port: 10249
        targetPort: 10249
grafana:
    revisionHistoryLimit: 2
    assertNoLeakedSecrets: false
    deploymentStrategy:
        type: Recreate
    # Admin user password
    adminPassword: ENC[AES256_GCM,data:yOcXIhRhuiEQMI5mq3DG9ksOUNslTUU8FipahsvG3WY=,iv:XpmgGBqL3zG1w/Y/19nicGhP1PGn0GLR+gAB15WxnUg=,tag:ZT9jZ0bM+ELV/Rk2VQ/8/g==,type:str]
    sidecar:
        dashboards:
            provider:
                allowUiUpdates: true
        resources:
            limits:
                cpu: 100m
                memory: 100Mi
            requests:
                cpu: 50m
                memory: 50Mi
    initChownData:
        resources:
            limits:
                cpu: 100m
                memory: 100Mi
            requests:
                cpu: 50m
                memory: 50Mi
    downloadDashboards:
        resources:
            limits:
                cpu: 100m
                memory: 100Mi
            requests:
                cpu: 50m
                memory: 50Mi
    persistence:
        enabled: true
        type: pvc
        existingClaim: longhorn-pvc-grafana
    # List of grafana plugins to be installed
    plugins:
        - grafana-piechart-panel
        #- "https://github.com/Checkmk/grafana-checkmk-datasource/releases/download/v3.3.0/tribe-29-checkmk-datasource-3.3.0.zip"
        - grafana-worldmap-panel
        - sni-thruk-datasource
    # ServiceMonitor label and job relabel
    #serviceMonitor:
    #  labels:
    #    release: kube-prometheus-stack
    #  relabelings:
    #    # Replace job value
    #    - sourceLabels:
    #        - __address__
    #      action: replace
    #      targetLabel: job
    #      replacement: grafana
    datasources:
        datasources.yaml:
            apiVersion: 1
            datasources:
                - name: Loki
                  type: loki
                  access: proxy
                  basicAuth: false
                  url: ENC[AES256_GCM,data:7TvkvuRMpcejhlE2OIRrHo1VVT5Eo4GtcAoyIbS0UelvOQ==,iv:9cK0vBIo52KE5YpYbWtArfEfQCuXxdgQ72m1TmwMCoQ=,tag:jJ5hrZrYqNN4Qjt698GQow==,type:str]
                  jsonData:
                    maxLines: 1000
    # Required for the dashboards configuration
    dashboardProviders:
        dashboardproviders.yaml:
            apiVersion: 1
            providers:
                - name: default
                  orgId: 1
                  folder: null
                  type: file
                  disableDeletion: false
                  editable: true
                  options:
                    path: /var/lib/grafana/dashboards/default
    dashboards:
        default:
            # https://grafana.com/grafana/dashboards/13639-logs-app/
            #logs-app:
            #  gnetId: 13639
            #  revison: 2
            #  datasource: Loki
            # https://grafana.com/grafana/dashboards/13332-kube-state-metrics-v2/
            #kube-state-metrics-v2:
            #  gnetId: 13332
            #  revison: 12
            #  datasource: Prometheus
            # https://grafana.com/grafana/dashboards/15757-kubernetes-views-global/
            kubernetes-views-global:
                gnetId: 15760
                revison: 32
                datasource: Prometheus
            # https://grafana.com/grafana/dashboards/15760-kubernetes-views-pods/
            kubernetes-views-pods:
                gnetId: 15757
                revison: 42
                datasource: Prometheus
            # https://grafana.com/grafana/dashboards/15759-kubernetes-views-nodes/
            kubernetes-views-nodes:
                gnetId: 15759
                revison: 32
                datasource: Prometheus
            # https://grafana.com/grafana/dashboards/15758-kubernetes-views-namespaces/
            kubernetes-views-namespaces:
                gnetId: 15758
                revison: 39
                datasource: Prometheus
                # https://grafana.com/grafana/dashboards/17882-kubernetes-event-exporter/
                #kubernetes-event-exporter:
                #  gnetId: 17882
                #  revison: 2
                #  datasource: null
                # https://grafana.com/grafana/dashboards/10176-pi-hole-exporter/
                #pihole-exporter:
                #  gnetId: 10176
                #  revison: 3
                #  datasource: Prometheus
    resources:
        requests:
            cpu: "1"
            memory: 1Gi
        limits:
            cpu: "4"
            memory: 2Gi
    grafana.ini:
        analytics:
            reporting_enabled: false
            check_for_updates: false
        auth:
            oauth_allow_insecure_email_lookup: true
            disable_login_form: true
        server:
            root_url: ENC[AES256_GCM,data:5HcC2nXsdKrUDSZwY4b9CxoyzjQBv2TfRRcW8tunDvXMB/DRbg==,iv:NKACgh/jH92mQ/IbTCl3mEUGK7izGwsyX3I58QYnvT8=,tag:kpVBlPWut6V8fjUhKOnHRA==,type:str]
        auth.generic_oauth:
            enabled: true
            name: Authelia
            icon: signin
            client_id: grafana
            client_secret: ENC[AES256_GCM,data:fKZ0HLsT8EXRJk/DCyoPRuTNk2ZM2fGsktYV6Rf2An0=,iv:lY85CCezVjQrIlZ406bvWbIWKwM0LuAouGdKm29uMrk=,tag:A5OZb1jd1UGU3S0+zDQwfw==,type:str]
            scopes: openid profile email groups
            empty_scopes: false
            auth_url: ENC[AES256_GCM,data:4xowhx+YMvyMVWO/s5rfTLw8x+ZgwMZdoqwNGJcsd/LqhJdl6gXmWK0qLIGWS5xiZD9Krw==,iv:48myg7eNY4UU4zKKyJ9M9KtWQu3UO4vsD4tnRbm73Wk=,tag:OYY/ziBz9PoxP1M3Ppc05A==,type:str]
            token_url: http://authelia.authelia.svc.cluster.local/api/oidc/token
            api_url: ENC[AES256_GCM,data:32fewK9I+/82pRCt53KcMshC28vFNSzh48q/jxJdK/ijuEc87NT8gWZoiKFHm0U=,iv:+40CcVBne9ckrCzPM3E8k1rQdjFDo6O3i3cIB1Ag7K0=,tag:XGRA7fOxanVxeITokPEGIg==,type:str]
            login_attribute_path: preferred_username
            groups_attribute_path: groups
            role_attribute_path: contains(groups[*], 'GrafanaAdmin') && 'GrafanaAdmin' || contains(groups[*], 'admin') && 'Admin' || contains(groups[*], 'editor') && 'Editor' || contains(groups[*], 'viewer') && 'Viewer'
            role_attribute_strict: true
            name_attribute_path: name
            use_pkce: true
            tls_skip_verify_insecure: true
            allow_assign_grafana_admin: true
        auth.proxy:
            enabled: false
            header_name: Remote-User
            header_property: username
            auto_sign_up: true
            headers: Groups:Remote-Group
            enable_login_token: false
prometheus-node-exporter:
    resources:
        limits:
            cpu: 500m
            memory: 100Mi
        requests:
            cpu: 100m
            memory: 50Mi
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBzVE51ZGpQWisvZHBsbTVh
            QnYybzhkTE1xamJZUEJ4bEgvd2xoMXRSQlJJCjIwd1BJM0lvWFlmcGJzeGUwbFRl
            d1JJMHlhUDRQZ2tSL1VxdDFld2g0SlEKLS0tIEthTTY3TkgyeWppUGV1NUJlTW9p
            QlVwMVdnTHZRd2pKTG9WZWk5UUlWRGMKm9n76/160tCREjWbGejQT631YMmwFW56
            eyewUykiD6MJruiQdN3TIU5DJbXqyreiokLln+mJIkE5Qc27+l6i2Q==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBFN0dMNW9wUG5QUHY2MzYv
            RjQ4bGdiMU45WVBZRXd1bUMzdytpMEJvNWdJClUxNnZnMzZPOGpDdFBEZ0JrUVJ6
            ZUFOY2RORXVlbGxuZ1BkaDFkRWQ0bDQKLS0tIHBhZGdtWlVZOXkva3doRzQyM3lQ
            MmlIS0pIYW0vT3RCTEl3KzAvdENJOFUKlm4hyi+s/iUyVQU+Qwtd38DQpuQzhwfY
            490KqZYeL4Okt+hJNOU2CchqFDBCmRgJ83Q30S2Ied2Oh+kaXLYdcw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-04T07:02:38Z"
    mac: ENC[AES256_GCM,data:QzdpsUlim13w0V2s7hQm1oas+eSun18IQX6c1HgddB+8pamrV26KDulkj0VKSZpYJMnvkE/eYk6PLFntGHRkQbQ8pDMBKyVJ4ECD01AVYEaWUZE6qh7eq/OXGcM+SJxKF9fxNCVkeLQCi+kh1pZzlZWXi14ekmsKXLEdAu1OUfg=,iv:vZ4Rm0WhZbyvsG0rqILPkIW7f2obxT3LOzgwOQUb9bg=,tag:CHomXpWHwob9PAEQ/iclGQ==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
