prometheusOperator:
    revisionHistoryLimit: 2
alertmanager:
    enabled: true
    ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: web239,websecure239
            traefik.ingress.kubernetes.io/router.tls: "true"
            traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd
        hosts:
            - ENC[AES256_GCM,data:P5Gfub7fZnkhGnxP79xL2dqY+VCMUaPN6od7/I9Fd4jJBA==,iv:wagJ4dw7usTUJD9CHbPLu9/1CtAfusEdB0WPQchc/7U=,tag:YfFJadJqicsucNs0WLp+gw==,type:str]
        tls:
            - secretName: wildcard-cloudflare-production-02
              hosts:
                - ENC[AES256_GCM,data:JDGkQKIx+RJ/K/UO+3ThEtpzwC8EPSecKhw9VKKA4RaQfA==,iv:P3cmxedqAHjVHu+d6aptJE8xS9PxVPR0MrB3uB9riFs=,tag:XHGk8LILLa6inc3MwvD+Ag==,type:str]
    alertmanagerSpec:
        # PVC configuration
        storage:
            volumeClaimTemplate:
                spec:
                    storageClassName: longhorn
                    accessModes:
                        - ReadWriteOnce
                    resources:
                        requests:
                            storage: 1Gi
    config:
        global:
            resolve_timeout: 5m
        inhibit_rules:
            - source_matchers:
                - severity = critical
              target_matchers:
                - severity =~ warning|info
              equal:
                - namespace
                - alertname
            - source_matchers:
                - severity = warning
              target_matchers:
                - severity = info
              equal:
                - namespace
                - alertname
            - source_matchers:
                - alertname = InfoInhibitor
              target_matchers:
                - severity = info
              equal:
                - namespace
            - target_matchers:
                - alertname = InfoInhibitor
        route:
            group_by:
                - namespace
            group_wait: 30s
            group_interval: 5m
            repeat_interval: 1h
            receiver: ntfy
            routes:
                - receiver: ntfy
                  repeat_interval: 6h
                  matchers:
                    - alertname = "Watchdog"
        receivers:
            - name: ntfy
              webhook_configs:
                - url: ENC[AES256_GCM,data:kcaoZKEIGU6xGSSUkKpJzTQJE0+WjZa3takqfsDHfcxOu0AWkZMxxYhKxJcJWlGepjn1XPpYc+bcGA==,iv:2/a5TiwEE13aLKojrJOC04TJCp/OBB4I3kmhB5/WAJA=,tag:D1GyVyojWdhC9bFz6y72zQ==,type:str]
                  http_config:
                    basic_auth:
                        username: ENC[AES256_GCM,data:FQkH3uM1iftnOWdKWa4LqBNyVESdKFHr,iv:5qqWNbLp3/huhKoHkzBdoy7W+ZUTwFUUT5HrYPIzdXc=,tag:w1F988NAFiK1WPYTHcmmpQ==,type:str]
                        password: ENC[AES256_GCM,data:HuJQto0FVjLWOFnj8E+i1uZR0JYh+WAR,iv:0xTLSk5iKUvQPGGvG0La3HfU4W2zuCORC6Yj9MPnpb4=,tag:g6hWdaGZVWpoZl3q76SDgQ==,type:str]
        templates:
            - /etc/alertmanager/config/*.tmpl
prometheus:
    prometheusSpec:
        retention: 45d
        retentionSize: 25GB
        # By default, Prometheus only discovers PodMonitors and ServiceMonitors within its namespace.
        # Settings this to false disables the behaviour.
        podMonitorSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        #containers:
        #  - name: prometheus
        #    startupProbe:
        #      failureThreshold: 500
        # Resources request and limits
        resources:
            requests:
                cpu: 500m
                memory: 2Gi
            limits:
                cpu: 1000m
                memory: 6Gi
        # PVC configuration
        storageSpec:
            volumeClaimTemplate:
                spec:
                    storageClassName: longhorn
                    accessModes:
                        - ReadWriteOnce
                    resources:
                        requests:
                            storage: 35Gi
# In K3S, these services are not deployed as pods but are part of the k3s binary
# Do not use the vip because there are node specific metrics
kubeEtcd:
    enabled: true
    endpoints:
        - 192.168.1.21
        - 192.168.1.22
        - 192.168.1.23
kubeControllerManager:
    enabled: true
    endpoints:
        - 192.168.1.21
        - 192.168.1.22
        - 192.168.1.23
    service:
        enabled: true
        port: 10257
        targetPort: 10257
    serviceMonitor:
        enabled: true
        https: true
        insecureSkipVerify: true
kubeScheduler:
    enabled: true
    endpoints:
        - 192.168.1.21
        - 192.168.1.22
        - 192.168.1.23
    service:
        enabled: true
        port: 10259
        targetPort: 10259
    serviceMonitor:
        enabled: true
        https: true
        insecureSkipVerify: true
kubeProxy:
    enabled: false
    endpoints:
        - 192.168.1.21
        - 192.168.1.22
        - 192.168.1.23
    service:
        enabled: true
        port: 10249
        targetPort: 10249
grafana:
    revisionHistoryLimit: 2
    assertNoLeakedSecrets: false
    deploymentStrategy:
        type: Recreate
    # Admin user password
    adminPassword: ENC[AES256_GCM,data:U4sYLc/wBDJ25HF9LflWv2GaixZSLLOQByYOZa7bqeE=,iv:xKbphFw7kCD7ZbAoPU6Y7O8jO+18VRIolxSrlvnqKAo=,tag:AkpZ/0pC6+s3AalLAapYgQ==,type:str]
    sidecar:
        dashboards:
            provider:
                allowUiUpdates: true
        resources:
            limits:
                #cpu: 1000m
                memory: 1000Mi
            requests:
                cpu: 50m
                memory: 50Mi
    initChownData:
        resources:
            limits:
                #cpu: 1000m
                memory: 1000Mi
            requests:
                cpu: 50m
                memory: 50Mi
    downloadDashboards:
        resources:
            limits:
                #cpu: 1000m
                memory: 1000Mi
            requests:
                cpu: 50m
                memory: 50Mi
    persistence:
        enabled: true
        type: pvc
        existingClaim: longhorn-pvc-grafana
    # List of grafana plugins to be installed
    plugins:
        - grafana-piechart-panel
        #- "https://github.com/Checkmk/grafana-checkmk-datasource/releases/download/v3.3.0/tribe-29-checkmk-datasource-3.3.0.zip"
        - grafana-worldmap-panel
        - sni-thruk-datasource
    # ServiceMonitor label and job relabel
    #serviceMonitor:
    #  labels:
    #    release: kube-prometheus-stack
    #  relabelings:
    #    # Replace job value
    #    - sourceLabels:
    #        - __address__
    #      action: replace
    #      targetLabel: job
    #      replacement: grafana
    datasources:
        datasources.yaml:
            apiVersion: 1
            datasources:
                - name: Loki
                  type: loki
                  access: proxy
                  basicAuth: false
                  url: ENC[AES256_GCM,data:ue5hfn+qJVWmzWoeQsXnw00/UO7lmTobNBt+ZxeXACsVCQ==,iv:j+Ne74Hs2edV0SBcLJTbojxZYeJUtfqFEfkuPZs90FQ=,tag:J8JJXS7bOj/kGrWKSmNBxA==,type:str]
                  jsonData:
                    maxLines: 1000
    # Required for the dashboards configuration
    dashboardProviders:
        dashboardproviders.yaml:
            apiVersion: 1
            providers:
                - name: default
                  orgId: 1
                  folder: null
                  type: file
                  disableDeletion: false
                  editable: true
                  options:
                    path: /var/lib/grafana/dashboards/default
    dashboards:
        default:
            # https://grafana.com/grafana/dashboards/13639-logs-app/
            #logs-app:
            #  gnetId: 13639
            #  revison: 2
            #  datasource: Loki
            # https://grafana.com/grafana/dashboards/13332-kube-state-metrics-v2/
            #kube-state-metrics-v2:
            #  gnetId: 13332
            #  revison: 12
            #  datasource: Prometheus
            # https://grafana.com/grafana/dashboards/15757-kubernetes-views-global/
            kubernetes-views-global:
                gnetId: 15760
                revison: 32
                datasource: Prometheus
            # https://grafana.com/grafana/dashboards/15760-kubernetes-views-pods/
            kubernetes-views-pods:
                gnetId: 15757
                revison: 42
                datasource: Prometheus
            # https://grafana.com/grafana/dashboards/15759-kubernetes-views-nodes/
            kubernetes-views-nodes:
                gnetId: 15759
                revison: 32
                datasource: Prometheus
            # https://grafana.com/grafana/dashboards/15758-kubernetes-views-namespaces/
            kubernetes-views-namespaces:
                gnetId: 15758
                revison: 39
                datasource: Prometheus
                # https://grafana.com/grafana/dashboards/17882-kubernetes-event-exporter/
                #kubernetes-event-exporter:
                #  gnetId: 17882
                #  revison: 2
                #  datasource: null
                # https://grafana.com/grafana/dashboards/10176-pi-hole-exporter/
                #pihole-exporter:
                #  gnetId: 10176
                #  revison: 3
                #  datasource: Prometheus
    resources:
        requests:
            cpu: "1"
            memory: 1Gi
        limits:
            cpu: "4"
            memory: 2Gi
    grafana.ini:
        analytics:
            reporting_enabled: false
            check_for_updates: false
        auth:
            oauth_allow_insecure_email_lookup: true
            disable_login_form: true
        server:
            root_url: ENC[AES256_GCM,data:kLPymNWddJHF48Fp1FbOTSTn8TI7BD6UQ60jNYBnTltz0Jg2Yw==,iv:+h5vDOZHGWbqe5xzFYKtapNHRlkbKuORfpTa2xQTY1w=,tag:Wy7xV8KoubMcA0INT88QeQ==,type:str]
        auth.generic_oauth:
            enabled: true
            name: Authelia
            icon: signin
            client_id: grafana
            client_secret: ENC[AES256_GCM,data:JUiN5NCfholzW91aQBN5MCg+v0zOur358FbViGfq/vM=,iv:PwAtJz8tEvlVe3YkVDJKR4FNwlSw0vd3uJgACf/98Gw=,tag:IWRBDtBQGujjK9mKqhvHhg==,type:str]
            scopes: openid profile email groups
            empty_scopes: false
            auth_url: ENC[AES256_GCM,data:tudV8CNGwO6zGuPwD0/dhPyZtw94Xv+hsh/qmlvnPOzo0gK4ztwtDyPrSXa0CtnVmlSQEQ==,iv:unbEvPzsJuT8BG1OWQHoy+emAdCWRCCjdrqB5J5uAIU=,tag:ff6k9PIuQEajYmZpJGDUbg==,type:str]
            token_url: http://authelia.authelia.svc.cluster.local/api/oidc/token
            api_url: ENC[AES256_GCM,data:n9uoeFt5p1Ie9tuN5CYDFRlA/5ScblitwFmCkDP722AqKhGy2MLv0xdy0OUsfes=,iv:ysYnYjpyj1fSO0YkEg/uwleXZHEPuQAF60bYz9zLdWw=,tag:99itvpx8PbWXfTjaNgw+Wg==,type:str]
            login_attribute_path: preferred_username
            groups_attribute_path: groups
            role_attribute_path: contains(groups[*], 'GrafanaAdmin') && 'GrafanaAdmin' || contains(groups[*], 'admin') && 'Admin' || contains(groups[*], 'editor') && 'Editor' || contains(groups[*], 'viewer') && 'Viewer'
            role_attribute_strict: true
            name_attribute_path: name
            use_pkce: true
            tls_skip_verify_insecure: true
            allow_assign_grafana_admin: true
        auth.proxy:
            enabled: false
            header_name: Remote-User
            header_property: username
            auto_sign_up: true
            headers: Groups:Remote-Group
            enable_login_token: false
prometheus-node-exporter:
    resources:
        limits:
            cpu: 500m
            memory: 100Mi
        requests:
            cpu: 100m
            memory: 50Mi
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBVcWJoT3RPWFNBZmdBcTJ0
            aE0rNWpYUE5JMko4RGxReWtoVkZGYXV5K0hFCk9kVzl6cWFMV21PcktIWmJSNTdm
            RnhtS1V0aVJUendyTEN1cEsxdGZFRUEKLS0tIDZ5RTIvKzlFNExrMlk2ejlDdW1H
            b2tVMHZkZC84Y05VSnE3YzlPS2Z3TmMK0WXUMDTB7z+q4szLxrHyZK+VoNPq31Nl
            qwfjgiuUkZ091/B5pCWYUIJ2WYkL0cedqYjvdM3yM86h7ujLVE0Z/w==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOTjFXVzlTWnRHUVY5YmNC
            TmtqWTJxendSRFZVdjZnWnQyNEFtYmZpekFjCk1rMEhOczJNU0N5SkJKRHkrWmx4
            KzcwSEprV3BoNTNrdXhQNy9Qa3Vmc2sKLS0tIGRzMktVSzk5dnFPbjRmbjZzVndX
            N09kQkNwK3N3aWZReFliMFUzdDJrWWsKcxu5fX9fWd419EsxYnZ68GjvdmZgkWKT
            sLkaziUsGDsRsEXggSUx+91OYeH/9AoIMuPrv+NJ1gFfYNPl9vunFw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-02T11:12:11Z"
    mac: ENC[AES256_GCM,data:X4od299owo/ilm0jX4nLf7Dqvt2Fazdq0S6EacajlzHXghFLlz9Dw3xzKKavIWYFjfKgqi9LZ8E8JM9AB2ewq5bOzyYepVYQg2xzomuKAGk6YFQtJlFLon1w1PrB4fkm8gph/A+UuavLVE6X1DC9vSbyN3ThfTCUXzBOc1etHkA=,iv:US8wtU/P365z7sMXIARdtmUF0K4LKQQgBKrxu/yCfvQ=,tag:X2eM6dFbEtb9fl+nVcS4eQ==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match|instance)$
    version: 3.11.0
