---
namespace: reflector

helmCharts:
  - name: reflector
    repo: https://emberstack.github.io/helm-charts
    version: 10.0.2
    releaseName: reflector
    namespace: reflector

resources:
  - namespace.yaml
  - k8s.np.reflector.yaml

commonAnnotations:
  argocd.argoproj.io/sync-wave: "2"
