pod:
    kind: Deployment
    revisionHistoryLimit: 2
    replicas: 2
ingress:
    enabled: true
    className: traefik
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
    certManager: false
    traefikCRD:
        enabled: true
        disableIngressRoute: true
    tls:
        enabled: true
        secret: ENC[AES256_GCM,data:ItHS2pP8MXiks+GLUndcKSOjALgjMEFj1RVXMlLfvikE,iv:uCJwPYR+102p2bRzMB2XgVHogsnF3fjl5sI32RGKoZA=,tag:Ia0HPcM/aMDCquWv68rBrQ==,type:str]
configMap:
    #log:
    #    level: debug
    server:
        endpoints:
            authz:
                auth-request:
                    implementation: AuthRequest
                ext-authz:
                    implementation: ExtAuthz
                forward-auth:
                    implementation: ForwardAuth
                    authn_strategies:
                        - name: HeaderAuthorization
                          schemes:
                            - Basic
                          scheme_basic_cache_lifespan: 0
                        - name: CookieSession
                basic-forward-auth:
                    implementation: ForwardAuth
                    authn_strategies:
                        - name: HeaderAuthorization
                          schemes:
                            - Basic
                          scheme_basic_cache_lifespan: 0
    identity_validation:
        reset_password:
            secret:
                value: ENC[AES256_GCM,data:4983WSWsSD7wBiiInQyToQS0uDJeT5vmvrwAJcqUorWOE+NQgLRI3yx9fxENuRMIo2smjg9PF1qDHWA/69k6q7M58HTKSyLn2FXQwVqZwXhewhPfUOvDQW5JEk+Ght4M35VOs0LKR5n2oz7KNG39066pO0JAPKGefrF/70LtHv4=,iv:1SBPIjWgRSUfOBABdIdONwmwC1sHYXhEfvhhBeHDY8M=,tag:qRTaw5dQSHMuenjvXA077g==,type:str]
    authentication_backend:
        password_reset:
            disable: false
        ldap:
            enabled: true
            implementation: custom
            address: ldaps://lldap.authelia.svc.cluster.local:6360
            base_dn: ENC[AES256_GCM,data:dRrYaLSCw+stX6e7QocwKTVB,iv:UaZkbP8L7k1qntEfkOa0OWRKILwZiMNDh/Na49b5zug=,tag:Ar3Hca6aBCC7yhq3r2V2Vg==,type:str]
            additional_users_dn: ou=people
            users_filter: (&({username_attribute}={input})(objectClass=person))
            additional_groups_dn: ou=groups
            groups_filter: (member={dn})
            attributes:
                username: uid
                group_name: cn
                mail: mail
            user: ENC[AES256_GCM,data:8lYR9bit0aaBHuiVyW1XiIAxeeVogLHVX0PRHfQCD06N7aJhuA8=,iv:L1qwUqNFnH1VWp/4zPyvfHHSG81fvgcvzRHESh8ury0=,tag:3PgMDlC3wTzgyvXArZM7bg==,type:str]
            password:
                value: ENC[AES256_GCM,data:PKjIhFyArwtRwcnz5As6rzUuKj50NPyEH1fb+HZ7r7FkipurKs02jSDX74ToSqEXuHa6Mze5SemFgB1ywsUcdg==,iv:iGdk5yGCNhQOBtqvMa+NTmMeGrF9gs12o3bjcGgN2zw=,tag:lwAQU5m5U9UarUz4ikjMvg==,type:str]
                #file:
                #  enabled: true
            tls:
                skip_verify: true
    access_control:
        default_policy: deny
        rules:
            - domain: ENC[AES256_GCM,data:jCVzwENv75G60bI/eZRopB9W1mQWNw==,iv:fdbEwJr9C4tczkfMXhlVij7xoFw1OsqRA53MZEmOliE=,tag:7WQxNJ6F3j82hV9P+CjBIg==,type:str]
              policy: one_factor
              resources:
                - ^/rest/.*$
            - domain: ENC[AES256_GCM,data:GcAoBEaEK7AmfcVGI14o1EG6,iv:jadjt2KXu/ykG4IAvgOdQrlB6E4oKPpDZ11i5kpk8Sw=,tag:2MtXRLDFkHBP45AW2WMV7A==,type:str]
              policy: bypass
              resources:
                - ^/favicon.*$
            - domain: ENC[AES256_GCM,data:IUJhXirreejJ0tenJiJI0J8r,iv:d5FvWcHM7XQmvISJNskdlpUSgKk4vobpDN3aZNyLKZ4=,tag:9vQdXs/UX4FXIpY0Tn4Mnw==,type:str]
              policy: two_factor
            - domain: ENC[AES256_GCM,data:M4HwQJ3JioCv5klOZBNtYfZMKrzs6iOH/ouYzg==,iv:vnXNg1oBv5DRR1WER82URgljGj4F1+iJ6EZF2M7BFts=,tag:Sx8yWajoTLHwss6w6GWF7g==,type:str]
              policy: one_factor
            - domain: ENC[AES256_GCM,data:4M+ELluD1QaZd2EfPPOKUpkhtXJh2GI=,iv:xPVSufGP3PhIC1nqchhJTj+uXrjImrkUyWfTY/gYI8M=,tag:eaJOnglt/isWLV1zqQClsQ==,type:str]
              policy: two_factor
    session:
        name: authelia_session
        #secret: Tu6mithie4BaiXaec6gei0Iewoota1ie
        # 1 hour
        expiration: 3600
        # 5 minutes
        inactivity: 300
        remember_me: 1 month
        encryption_key:
            value: ENC[AES256_GCM,data:xsPHzE3baCl/FJ4fO2KKZ6AWXiFrOarLocU+MFe08f5TG+lLBSqsCr9Oxenv0oEG8/1ZYF05m/SzBAtrl4lcOIDAQeWymim6XyA/XXeX+8Qn/bB/U1YVL2xcorPC4hVXir+TBWck5BfhtwbcoRXTFAiL3ck2+/aCLrHm796pNtA=,iv:sgWiBk0Z5ejiVG7p1ytv/NJXcgTGX2rIOcq9WIiMkC8=,tag:wmH8tTxN/C2XAHtgHNLKMg==,type:str]
        cookies:
            - subdomain: ENC[AES256_GCM,data:/UGP63B1Ga8=,iv:FCH7av8NHdsYewxtSkhBhqhdgHqOo+vqITTO3UXrVVU=,tag:BgaZQjx4BswZNsv8HPKQ1Q==,type:str]
              domain: ENC[AES256_GCM,data:wq7ywKDmWFsG5313,iv:QGCbOmMmyPQ6/FHl7aFA21yuB24Ip2H3JVszlVsI9IQ=,tag:B0XyK/ZasxRn3+CFjyk0sw==,type:str]
        redis:
            enabled: true
            host: redis-master.databases.svc.cluster.local
            port: 6379
            database_index: 1
            password:
                disabled: true
    storage:
        encryption_key:
            value: ENC[AES256_GCM,data:fw86Z/ffHD8CIo9vHK8njU8hxWONn6rDEzDfv6hylDD56Ol9J4cdDvgzrhXJPEnbMVhTJKTFWtS+freggCSplw==,iv:BP0C4Hu8vC9R5cVR7j6EORxCaMd1TW2cYIVVtnMxfp8=,tag:GwVp1HBSVGQFp+Qn+vJt2A==,type:str]
        local:
            enabled: false
        #  #path: /tmp/db.sqlite3
        postgres:
            enabled: false
        mysql:
            enabled: true
            address: tcp://mariadb.databases.svc.cluster.local:3306
            database: authelia
            username: authelia
            password:
                value: ENC[AES256_GCM,data:pUH9h3RH/Y/FQAI6gjboDzWZKo8FAIbneRpzdxPH3IeKZk3NPylJoExdfeGMzmzPNu4eXoCOqY7Caf6p/ueD+g==,iv:+9E//LYQmcSWDxHVOOFy+pnZ+FiydWVF8H+f6BncgwU=,tag:5KmuPvo6nUdOEqMBpsitkg==,type:str]
    notifier:
        disable_startup_check: false
        #filesystem:
        #  enabled: true
        #  filename: /tmp/notification.txt
        smtp:
            enabled: true
            address: smtp://192.168.1.45:25
            username: ""
            password:
                disabled: true
            sender: ENC[AES256_GCM,data:nFb9tzrE5CQG8wBHdJm2jbsyA3Wn0PDnSOhtGQ==,iv:NR3FZA1dF6WIMlH4mP968RoJbSYt9AnTEYV2B9bzi5c=,tag:FmnbocS3HN4JQ/VoCUkZAg==,type:str]
            disable_require_tls: true
    identity_providers:
        oidc:
            enabled: true
            hmac_secret:
                value: ENC[AES256_GCM,data:xiO4iYWSOo++BYlNyNL9hzeLUTdRZdNarkz9Ec1RVss=,iv:A+YObvDPFtJW3zR0haS5Xc4yV/ATbvEEzfx3E6zpAVE=,tag:Ld44Z002NYOoyCkda5NuHg==,type:str]
            jwks:
                - key_id: default
                  algorithm: RS256
                  use: sig
                  key:
                    value: ENC[AES256_GCM,data:tfs20uSOix4CRsfO2OzPbEQK8HKroMq97OwIcXGnCDId7ckGmiSw4yvP/JJtfaTPuYd1H5SPPz9h0FGHb6SzdahlytXFd86x2sjYNPqwdAX/I7NojaI1Whntu4WD+PwN5VqT+Hf+BbbPwL8w4oIuPoY4B5qG4xLVov7SEwPm4OlCq8Y/euD//mOVnvZrB6m9tO/JyGNkBOfk8O3uYJ2P4iFsHDIs9SI5+0IeidhQeXlH3W+OsqueMUMaOcBp5q6K7LksZrG56fvpltS+vdGLGq1B5fc6nUvCAPop7mh8JR8Eqcb16sdzBP5+G/Ae9kwpqVEvmOdHOcFKhwdCcznXzlp09hvEMMfHkbSYUUxsnQVDc6mRCmGeHnzhfhYm+5y6jnYCc8gUqKw0HZe32SjlKJhvVB7Xfhf6oay7L5h33g5e9pkWo6R7UNjIoQNJSZ8jGEp0ebKJqbIk1zUAZqJ/LmefQrtboz61wvNzaGE32iog/Slv+1LIuBo3wal+x3VVgWkx0ltIEzR0YxrKqlatEa3o8Pds698+9xpMjosKwC0MOrTPhTa9HUV0RhcHH0u+nYxzq0IKOwEZlpur2zGUq2na2rStKvHdfKDG/eeUObCte92TIUgP9FftopiWb7aZddo7cIt3tjA+/pA1CBnj1qUxA08ksesKrDLMBPTOg44K/7m2D20DloVTVpfo34uDL6/xiMkFE+n3517QI1VML/gYWmPHnorw7rT8oZkTDPCQL3s6P2S9kvbfL7kVAy/lM6i1gsV9YEkvY0pEL3sglT9qo4tjedQSRC5oZ+9Yv1zQN+mGo+go+n01qtMObGh/riqMO3TE/ng9ZUultGiuWHDkyHSIgheQJYaVirq8lu0t/ji9HQBgw563rZwHQmYUJ0jvLV9FfP04m1hH0frYe9iOm++g+P7yTY0VwiqnDYGqH03+XI5ODvC+v3apWAFJwzNq6ecTbmg185FqyHMOZBRQ6eSTxs+F3qDewiFwcCjEWNxyltYZ6OPQTRAsBvE/K/2gaL3Jng84mI228XTPLmNHh6uq3pJmM2bzX+Of13vmJzRD6RKm9Ju5tsIczzcRTJrhCspBZLRgd7CSBdrxs3wTDdIUprnDusgl95WeOXcOWSEC+2fm0o/pVN7a1gURHHuzfy4cYIxn+vYodosMt85nFbM5b+vVdJxaGbz3GE6Hyd3ynf0VR5WMaiL0a6n23xjFT8JVBlTnnSEt4E0SuZBUJgZzIZuSBWSHfvixW9SDXCzM73PzI6NlQpG54LiZCckPP5yrJdLBztusEkNwLWUFPOQnBzIFxK8DKNJ7HwR5hU1VmZ4ibA9ZJ7YQm5cNHCVySFgLATEpRJ+9NWuIYOgTYHb9NybKugicFBjEru3gWISO8mbNEx2FEHK1M1DCveEQtRtTwkJN0HvQWx7mOFRU13kOGx4kcjS6LqckcCg4oO3qVZw5XX4XQ2NVIe96Z0nIzPEOLOjXTgUay9TVvx0a24k/Wj8pXPWdqfvia86ElEFbFUcwe69JKH+ibW9rn1WLYazel78ScZGXsWk3yMQuSQh0cSSE3e8C+Ftxevh4imqqA2bfasXb0RWwfZjpis9nCIJ3gaufekPN7mf0EoK/MuBZTLQ4Azu+L/0WSlx0xSw1dayLMC22TxUO1GuZVU/nGWA7ofT2e+XXQPz/bncFIIrL9cdmQPZJIj+gJW9Xc2XFIW2L8SSzEqBFQhcGA2IdePNthOlLOoBxkuCpCI++pgDiAZJP7j0K5l5qpi93FUNPpHMhU/dHwewrWn9OUb5hYuFLqaWq1PlN4/FZ58i4Wx6k0h9OFLSMJGeTvb0AcQYycDCqke5WJmchNuX2Nyq9ZkTbKQO2zl4K9AWxoOC+Xeks+6C9nTHR6FXAS3CuYsTHin7zySeSaybkLrXRRaPHG2jivZYPNVciv199LQZVWeDMiy4gQv1zNCTbzoOW+9BFJtTR1cqS+8HM25EreD3qB9uhG3lVUCLufx0XnsUqin2sc4zrP1seMv9QOKjsljwUCvEw0JkJ6DqPDJqyB/BMcDGu+QdOP4mhro+PuQpq96z9rM4IHNAdN8VvTX9KNmFX4CztPkVgmNeeIoQFSlowY/JATWbIFsQxc6lmMOVn9/Syo/bg6Rg9ZNsDnKIKH3M27/IvKOfM9DOEYxtBU5MlmcKLF+oYOZ4vrEz9xu61cql+HytOmrpZqHnm6hmcWJl7irEOczJmUNMyAD4h8JrJyDPiMr+t+LbzycSpd249XohRWvBGtYD/UpjgcG7v3814kvCmlvQwV2dRMQrAKZcrNYbNc4s5lYHFeFvV9LrRavYEif6UCy79N5opvBeX8isHt9TBKObMsF07VZ46VqzGoF8BRMbfEzkfGlLxPfCUT8kmt8Nrrn5xTQrLBqpOOeWTWvYPnaL2Ol3BZYUZkegT5G1cf55klFheOAuy0prBUIApIdZb1nekYnb92wSsgtqP6Ei98k8sTrnD675qvGG0qyT6resz/4+MqHBNvogEXsKVA7LZqtvxerfCkj2KCphEqPL/M3AIcwQ6I+w3uuVJS4D6C3rThfQtIE9FVtcqjPb+eK98HUI1b4oQVP6edajvxDcgDs5VuCIOxqYEYmOwgrgt6I/+hDuFeJSEeuV1AcJ9Cj4chkylHSFryK91jx19Ahr7QZLosGwHkWKSP6oJWZDK6aJqR6xq91mEyBGQEdqSIuVvMiQnXElOIBXstrMESEBoQog0fm3ZHdlIoV1o84XbwkE/mx3cT/+/3WkcnAP2RSt65UBlJk2OxsP/6pGo07Mtp5iCTXTlHwcJi42JWa6hltBNu98k/Jto/NE9l4I65sd5HyhPdh4KOmlO6yuHnQpO3IpFbhEhhrl9/XVDw7o/i+Ko7jMQ0wjNBmX2SP4N9UMuE1tjfLSCG1+I+aRb/NVVf5/CfMK4b6WzDNmlNgCcKFQB4xoP8F+Be+VGZB2QerMD6dSRW+pADV0M94CqQ8feEa30U9aKkzRoZwAQBvv/yodD0x7nzs1O+QBvyI/yhW+M7vLbVUo62Y9kLnwf4ZHycD/wXe2BnOUXsBleqj0uZk9bmhBDT0rF8wsSHmCMPvP7HXIzyTGIBRIgw0F/h8BKjC7dPJOV3wiq5GGYfVrHJDSnbiSINH9NzCpJA262cWME+Guo2XoqrSVn3SwAsjZ7PicSL/+LaMuQJotX/BlX26YpFFv7sCZDDnpqiFDFW0awwzso81WRQ89ZY80fPfoDlWmUjUG9MU9Fn1DnR1/UcvMdzhPl3V04g4YEvbWrvWJjbClPqnUTCd/jt2pz4UrkEymguNbM34FRkNFuAzIbiCxcmUQnEz32zaDv5aKAGsqVPjBnY/x8CbtBdhhONryPgvJoyaJUP19LHNqX0fuZXy0Ud6TVMjCnHOih1c0+rpfHcz3WY3hBPU2RIrxcioswNBYHoQ90lguonmHppifZmGshUYiRupXQMIChzT3QwRY9/DtEms60Mysyi7DkdE8DSoNwTsQsQUryVV2HNbSnPEQIUDV/a2OP8LiF1mwLaLu9YITRQ6TvWsmV+wM7jZAGCZNc5ivXH06GMJLebgWrq41SrVoWs9jU4FavKY8Y0uejAraWsVY4HyyhGAhs0ydiL9xc4MGtAoe94fGQLq44oyYif7KKxwHk8TvGaMNGjUBQ/uMamcSkq3iaFsoEoIOUCeFlKRRrSvioxhuRNcWR5GPdUvjI+sBOEqiXEqwSb2zsm7riH8wCbaZ6dcogrLDORx4XFeRxAUpeI1yWA2leist7ZqIuD9loeCbqcgB8ZTHVesQpmNI4QPKGjBkhnz849luc0FehY5YsE/Rfbq5wo9sUboLByXIE7K78OCWtZk6io6rqsNYZccJGLhc+scYXQqyO07OhgjTF0sdUH/EGw39Sw4Q+xawdjihmR+5Ux/GS7YF0JEV1pi6qqhTAL2bt/WJss4clPMv+F7JQ9y1ZZSOHn+7Sm5tcw2HME6Fr9Te5vHTRQuPFEghUZliK1pDlu8sDyttn6D4JH2kHs5FXClm5xBWGfgBgWzuik3G1HTadfdiMKjl9puDHstGBwnnwvP4bgxw9A+Xqtc7Ag2y++FbbP2RqnJebMT0fre7BAV0eac5PSqMipOjVBnS5Izj6VtHDRAMcc1aOKTgzMWPF0wqKTaKxHORPHXrHAxIVWa/zHlcM9h2aKTx86+ITazuphK6TJLaHDqYzW1CCDnXtkZQdyEMNTc74P1JQ5kHtow2otbGDiitsYpyCfeJ5340H6TptUed9CZ62wT83bgSW5bhvZVonc4I9xWpYTkoRtb6nIY6q,iv:/4yKQYrzdy2NbinGDCcsdgPf4UPI6P36fA0LY9gRhe4=,tag:wK6J7DnQlXzkQ/IJeavikA==,type:str]
            claims_policies:
                default_claims_policy:
                    id_token:
                        - groups
                        - email
                        - email_verified
                        - alt_emails
                        - preferred_username
                        - name
            clients:
                - client_id: grafana
                  client_name: Grafana
                  client_secret: ENC[AES256_GCM,data:zF1GA8pkSee2D3EgDDNRNhfoMmQLlqtdxT24hdsQ1DhoPhKNUd0LgjNLqSX/H3+U29ypnI2yq0TAuvxSTem+Gp096VZidAABpDHESsEcWO7R6r6oPYI0y81Oe2VrlyZjWZtegh6iJYha2kQ1eVyYsF7xJFptHPawQUOVqEsquHXs1sU=,iv:zWdbwR2bVMShRiNckipjIlSgqLSrc4Ab33oeA3coLP0=,tag:gEZ/HpOGE3i4tSsAXbDoyA==,type:str]
                  claims_policy: default_claims_policy
                  public: false
                  authorization_policy: two_factor
                  #pre_configured_consent_duration: 1M
                  redirect_uris:
                    - ENC[AES256_GCM,data:wB2NSWzeNSEoZHBDf+E/+XXuMgzWIVB+TAWb2XVj+FZskplpI1ZkagLEwE0aOiFzIFg8mmPfukjw,iv:nJC2A0Nk0zufkLc5gQaMBrUHrnKS5ebrXigac2gzcq8=,tag:srbM249/V5C9M3tigGdpWQ==,type:str]
                  scopes:
                    - openid
                    - profile
                    - groups
                    - email
                - client_id: argocd
                  client_name: Argo CD
                  client_secret: ENC[AES256_GCM,data:pBR1UCGWS4QizIddhyNsLXLiC/Hrrf1LDJF2vQPC9CR2vaYs+6w20qIQIb19A7XWi9WU4iWJznMTEvK07L/W+QRq/zDvS/O4HX0BcuvfAhoG9sjZLlgaYhZOQC/KvaF/QFsAX+1hMkAgmNpMMkfb2bCaRq2H84cz1YIrIfPYYKXQdG0=,iv:zxdCuBHPsr+/6Wdnm+bD+0k7tmv2hlg0nXtsxFjtdJ0=,tag:gesKwpUkLNd8iLUMFznr4Q==,type:str]
                  claims_policy: default_claims_policy
                  public: false
                  authorization_policy: two_factor
                  #pre_configured_consent_duration: 1M
                  redirect_uris:
                    - ENC[AES256_GCM,data:6XdJGqgxrQlrkRpEwIljL72xvgSpNnxOwvNGxcmI/nZ/Y+fAZMgie8xPENaf4uu0EBo=,iv:zk5bPFazggJPf7uQocgB6+bvr+sEujYOjhyr+cydwdw=,tag:rssQ7lLspUScjuuhafAeeA==,type:str]
                  scopes:
                    - openid
                    - profile
                    - groups
                    - email
                - client_id: argocd-cli
                  client_name: Argo CD (CLI)
                  public: true
                  authorization_policy: two_factor
                  redirect_uris:
                    - ENC[AES256_GCM,data:6mk/jf33Yuo+wA/Z6G5HQUbmGwJkE16cVkmoB7wOciwn5ns=,iv:zmCLvoekBaPEiuSoazNPC+DP1BIXnHLNvKY+tZWe4eI=,tag:louMeJd7p4nymKHvrHrzVg==,type:str]
                  scopes:
                    - openid
                    - groups
                    - email
                    - profile
                    - offline_access
                  userinfo_signed_response_alg: none
                  revocation_endpoint_auth_method: none
                  introspection_endpoint_auth_method: none
                  pushed_authorization_request_endpoint_auth_method: none
                - client_id: semaphore
                  client_name: Semaphore
                  client_secret: ENC[AES256_GCM,data:tCg3j4+VnYhpiW8NqyNzSza7bOedVzYRh2bEmt82NdwsN77dqf2ElFL1Bp0dVPXEVcK8q7TkeHFFoF2Jk+AEX0fkSMvtJCW2Hyh8RckzxGENNeIy6pUDmm8AMrJIaHDs8xqb5XoZej5C7QPbdnN/wLgiNccpVuSTkEgOjGHrd5f8HH0=,iv:syL3ew9gNIJTcZbYryjyS6erbSYUp2JQi5kfTe7ztbA=,tag:J14/OekQFrXvyXo8XLMKUA==,type:str]
                  claims_policy: default_claims_policy
                  public: false
                  authorization_policy: two_factor
                  #pre_configured_consent_duration: 1M
                  redirect_uris:
                    - ENC[AES256_GCM,data:7iJi+dpIrwlONvUlT2gNhlhd3MK9gNx4mLC1KQNykvwihN0vSdnsA0Yuq2FW2e2PCrThvuuHBFOLvep532NKSbec96SNo6Y=,iv:tXLO0+DUz48rqtK8kGQeSoe0Q7hiPKhr98db6POKDJA=,tag:WJyINbQcs3auAR9D/IRNqg==,type:str]
                  scopes:
                    - openid
                    - profile
                    - email
                  userinfo_signed_response_alg: none
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB5eGVqTUtCSC9ZcVJMTzJI
            WmdidngzUkZkc3pkS1BnRUlDNTN5eHlhQTBRClRyMTBmQlhDaTR1Z2phNW9OR1ZS
            S3B3NEpCdHArUXlIL3VjeERpeVErWlUKLS0tIDgxVlNwcXdjMWZsUE1FM0c3WU5Y
            aVNoU0xUa2ppN3hoY2EvNEhiOU5SN2sK2pfDnIDjNBGilHrHbDSilBTckbvFNBWU
            dtcUiS4nTsm1pVCycrkA7qpu4MYPHGfQ0BeJsQzL1jwD8DSVmqy2/w==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBzUFovSk8xMEdMUW0rd3R5
            SDVxeHV3UnQyVzhBRWoweE54ejJtWnZpYUFNCnVPRm9zbU5UZS9TMGQ2aWhhYnJx
            WFNDUnRUZkQ1ZzZmM0RFekptS3hKTGsKLS0tIE1UOFVsOW1TK2VGcEFVdUhXcEU4
            UUF0OTdicE1lTGx3UFhLNXRGRGdreDQKUDX33IFntck9wyloRQIGSho0TAtDoJ81
            6EOst5KHWd9C1kOF0AZrNuU/KbAidhepY9z3AynOh0U3nHk0eahSVg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-06T17:38:12Z"
    mac: ENC[AES256_GCM,data:62QILi17DTcZNx1doeM5OddarSXnkpAFQD+TMTrLCv9Iq5zQv1+MBlLU2xH72jR1DSW+tDoGKYdbrCPNRWg40z3xdETC/to4UbcuvkMqDXXgZtXGcdRgdtU38O1fsjFwA0DO0klPa7ITWCXnK3zPWiA6rkvJFIg70D5IahEGFJ4=,iv:OkNa8G+5VJ/px8/hYdLCHgPrUs9qR4yp902OpEe5rRU=,tag:UG0WOCZEq8wpL6fTKhzVkg==,type:str]
    encrypted_regex: ^(value|domain|subdomain|default_redirection_url|base_dn|user|secret|sender|redirect_uris|client_secret)$
    version: 3.11.0
