pod:
    kind: Deployment
    revisionHistoryLimit: 2
    replicas: 2
ingress:
    enabled: true
    className: traefik
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
    certManager: false
    traefikCRD:
        enabled: true
        disableIngressRoute: true
    tls:
        enabled: true
        secret: ENC[AES256_GCM,data:8DnKgfMb4uxTEKnkVC3LDCl3MIn1wOewoePrpFkX4O3o,iv:2k6lq6tjNsW5Cr9++KbaGHB7IU3lC+D03tddxPAxROQ=,tag:S1Z2bKRlz6ZypQzxdKjTcA==,type:str]
configMap:
    #log:
    #    level: debug
    server:
        endpoints:
            authz:
                auth-request:
                    implementation: AuthRequest
                ext-authz:
                    implementation: ExtAuthz
                forward-auth:
                    implementation: ForwardAuth
                    authn_strategies:
                        - name: HeaderAuthorization
                          schemes:
                            - Basic
                          scheme_basic_cache_lifespan: 0
                        - name: CookieSession
                basic-forward-auth:
                    implementation: ForwardAuth
                    authn_strategies:
                        - name: HeaderAuthorization
                          schemes:
                            - Basic
                          scheme_basic_cache_lifespan: 0
    identity_validation:
        reset_password:
            secret:
                value: ENC[AES256_GCM,data:H2MdB3bOQx3NLZLLIxgRAnkfRpu/DBgxantA6Wkt2WBaKuDjExItrB5BlvPHReLi6qgE19V7a7aq9SCShHd3vJl8F4ruNBeQfb3yQPjlcSPuCLku8St6tkh9RZ3EI+pW7A4o5vafWxCHlauivsyFmDYqvf1x6W2uklVS1SaFkl4=,iv:GEFdPPTcE5a4RUguJjFnP1o8oEJPXChurvURojCshYE=,tag:CqagPhHACFDeCa+/VG3A0g==,type:str]
    authentication_backend:
        password_reset:
            disable: false
        ldap:
            enabled: true
            implementation: custom
            address: ldaps://lldap.authelia.svc.cluster.local:6360
            base_dn: ENC[AES256_GCM,data:7XXHaaIOCdYLnrBarZqhjUci,iv:xvRBNOPtvXXo5B9gKF9ULzwq0lFHLAHvE1gBAvAfAhg=,tag:ORGtu0LFDMr9vZSoUXrZFw==,type:str]
            additional_users_dn: ou=people
            users_filter: (&({username_attribute}={input})(objectClass=person))
            additional_groups_dn: ou=groups
            groups_filter: (member={dn})
            attributes:
                username: uid
                group_name: cn
                mail: mail
            user: ENC[AES256_GCM,data:kDchi7rlubFNpdpQi+O0BQRIUrkQVaul47lShINJWiETPfdQeZ0=,iv:VyY3mMkzPX/32kUdZOGGziOMHeDfqkLInjd1YAgR/9A=,tag:GHSpRN65SjuncLluMi6jVw==,type:str]
            password:
                value: ENC[AES256_GCM,data:qeMPZ6gdlGLsNyp2h/Xedj9YKNW8ApRk5r+y8h4QWTS8p7h5PTqTZCI27McqlqLOyuH1HZIYoWdns3V+ascwTA==,iv:thce5nviyOPQTwS7+NBDcSNmoCFVrscsxVN5jIoD8IY=,tag:dRPaDNwx9ahVsF9MEg3Xlw==,type:str]
                #file:
                #  enabled: true
            tls:
                skip_verify: true
    access_control:
        default_policy: deny
        rules:
            - domain: ENC[AES256_GCM,data:YR1FxfsoMQfOFfO3LEUGvuaGK6MlFQ==,iv:AvhWJ3HtFJlvoagTQv3yyFLjo8wiP5eeNa8Db29Stv8=,tag:H9lYG+gQZt41P5UbR3L9DA==,type:str]
              policy: one_factor
              resources:
                - ^/rest/.*$
            - domain: ENC[AES256_GCM,data:ALEtzkiAkmv71XqC+qtawvYL,iv:iz/b4Z8ZQSi48zj4gnXFk8RAvn1pM/uT7g2qbEqlMdY=,tag:yYDWRD+DMyphKOTYiT7yaA==,type:str]
              policy: bypass
              resources:
                - ^/favicon.*$
            - domain: ENC[AES256_GCM,data:mNUYGoKD4GPr2VZXGZPUHhmA,iv:lQinEAPvYxoy0BKmTsGWrsb2BhHfsDCZVa+pgRawbJA=,tag:0BH+mQBXSm1p9kM6suk+cA==,type:str]
              policy: two_factor
            - domain: ENC[AES256_GCM,data:OwLpKMUQF0SX1GcMIR4jX5tqpQKveDNwEEAz4g==,iv:1YMWDCKsaZ1V/GzwxnNx62+FC0UblkEHxK+y8yxWObw=,tag:iTwH/pr2ZXVdletzUi18Xg==,type:str]
              policy: one_factor
            - domain: ENC[AES256_GCM,data:mcgi2abMC2pm4LAIL0fJRptN6JeEg3IiiNDk5UnZbw==,iv:5p1oyUV7QepN9k1m1WYtqkZgbj3WCl/6ZstFRfsl4d4=,tag:fEq4nLd5Zsbzu4ihPcbq/g==,type:str]
              policy: one_factor
            - domain: ENC[AES256_GCM,data:EiGGGYbCqIJaVPkx+7xHo04SIxWs1dsb1pSrvg==,iv:bvQ7MSuq559rfttyBkk5+yeniuLvBlwT6PP8GrCmAA0=,tag:E0e/Lu2EjRP/UxeQowD9Mw==,type:str]
              policy: one_factor
            - domain: ENC[AES256_GCM,data:KU3cAflXA4ikL5efW5CyP0uBdi96jbRf+DSFbQ==,iv:wnFytvsxWqZbvmro0XWwGL0RjcXKT1cJPXSmnlBJWE4=,tag:IRXd3SA0Zp0kkJdKNDkYHA==,type:str]
              policy: one_factor
            - domain: ENC[AES256_GCM,data:jG30rVFYkpGtyAH/V6UsMVO46SYCNUxPvJRDxw==,iv:HAK5qLJPZbAlAXaiOFd+32qtSw67AS1vNnsZ1+ECjYY=,tag:Wg4txSZnb+nIB3yxE0GZ1g==,type:str]
              policy: one_factor
            - domain: ENC[AES256_GCM,data:9e/CT4NhgxXx4KQnki+/Uw4pROvK5Lg=,iv:mqRUgnNm6Ha0OnXELra5g5ChulseSRTUBL8CSt4wmoM=,tag:oBCsFBto5QLGz8Db+B2xFA==,type:str]
              policy: two_factor
    session:
        name: authelia_session
        #secret: Tu6mithie4BaiXaec6gei0Iewoota1ie
        # 1 hour
        expiration: 3600
        # 5 minutes
        inactivity: 300
        remember_me: 1 month
        encryption_key:
            value: ENC[AES256_GCM,data:+/XKqrbMa1n4mN+VERDTGuwok5bK4Vku3aWGvfyZXuxH1aPjyrbgCWWBRXDSqHKs306/OJjMSoipAuDvlD6KhRZ91nH2OWq+O91XQzUIk4/1m6MITr94cNIzMi7kFyrfG4684wjBuYa3rEATHcxbAhd9iIxb5Cq8IZGgf7t481U=,iv:Sgd2v23F9B7TSZ6KwIDJck3xPBDvPM6OO0oCe1oZAmA=,tag:Nf7X3d5lRYdpz8dUlVbwtA==,type:str]
        cookies:
            - subdomain: ENC[AES256_GCM,data:bV4DjT783gs=,iv:1RgzcLHg61QUlyUzisWW0/w9lQfwQmKDPnBsRaoKTNE=,tag:auRE79Cp6oU4o2hDetUXwg==,type:str]
              domain: ENC[AES256_GCM,data:DrycP3/8L7u3CFl+,iv:ov7yAds3sotbYUhpKp4Ffx6XHeco7cU8U19VD9SS7OM=,tag:wvHjBh65hoGn3Im8Y41vZw==,type:str]
        redis:
            enabled: true
            host: redis-master.databases.svc.cluster.local
            port: 6379
            database_index: 1
            password:
                disabled: true
    storage:
        encryption_key:
            value: ENC[AES256_GCM,data:vCKHR/If06pwW5cA8rt4ioDk5u1aF9+sGqWsD8YExYW79dG2274Z2yrXXo9oA8pgvUXtEWY8g+/6sXRzO8X62g==,iv:7UJAHpG9VKgAJmbn9MvbWp5yLpDaqd1sLp4uBxnAviU=,tag:hnVTacigC5ioctbokxtEeg==,type:str]
        local:
            enabled: false
        #  #path: /tmp/db.sqlite3
        postgres:
            enabled: false
        mysql:
            enabled: true
            address: tcp://mariadb.databases.svc.cluster.local:3306
            database: authelia
            username: authelia
            password:
                value: ENC[AES256_GCM,data:0GPU7UHiUf3erdNhgBHB5Y55NnFwzxSLTbbewZSlYXtv2l/BRf9/c135J1o6cWCjcdUFLKIdMKvAbIPSpdmitg==,iv:WABY9WcFuKyFCw+UiSJ4fGMDoon/96i3LIOCG/PQLM8=,tag:pNER1kkm+mWr+ct7rH/tAA==,type:str]
    notifier:
        disable_startup_check: false
        #filesystem:
        #  enabled: true
        #  filename: /tmp/notification.txt
        smtp:
            enabled: true
            address: smtp://postfix.media.svc.cluster.local:25
            username: ""
            password:
                disabled: true
            sender: ENC[AES256_GCM,data:/GeJFme6BaxedMOFA67gMLKayp/vgt1JWkvNnQ==,iv:8tGhbuZaY6JuGctO/dgDBaGuFs2hRF0/oArZw5s//CA=,tag:og2mGrD6AMRWoi7Xppcmvg==,type:str]
            disable_require_tls: true
    identity_providers:
        oidc:
            enabled: true
            hmac_secret:
                value: ENC[AES256_GCM,data:sAeeXq3PnZrQ8hga+9xHlCWAxSHbPuXFNaN69UxnlT8=,iv:L7bkYSPN4D85uMvLnNTbzmzLGNoKu45sBLEwUKBrqmw=,tag:j1KDWCDGntgy8FK6jtEs6w==,type:str]
            jwks:
                - key_id: default
                  algorithm: RS256
                  use: sig
                  key:
                    value: ENC[AES256_GCM,data:Q3NOcpwizZF2Tg9hfEq4kWLi93I2Vo/Lr4ONQjKanc09x2hQpYR6i0OVxe7t1tejcBvcniTwM7Jx8DpOLEcd0ks/3y2TAtaxJ7DB4CgupBVInQzDd57WZKtTYv9uazhuiL0Gqr3bclN1ghKcEkLNSoq+05LNOw1DrWmVtMXzdniLKiNoc4u3zFUDrtUVtd7aBtSd9VNX19KLfZXHlNeuIhsEXavdPxMOg2NMdhJZozAPu0/1XorHAJ+SzLz4I5du0PEP8nL7emGGB57KToeOOIky4aEqZotNCN29GKGEgqdRF8/uDhjTVrkxabzAqCZPxRI2iD7Enh+PHkmNGCNpyh/ht8FuDujg1Bvz/sdYI7163vm+ucWpBvQHJW3FiH9ueOoRSBUeAe/394VeervcxLgBBtECjGWBYE/ZfvEcKRAkhswfwfC2cyWr8VuLEw1Jy2Xrw4yxKhUoAWl71546HZElrfKXxzGR6YjDzpCWw4igYSyXw1LWd08HkBrsf6dwF8vOWL8Oo09OTsMGDvvxZjqhnvnqt2guX+nccYcQsa7XnxdrgzAerll0LRhEqL8+RCjYUh480gePER6Owfgt8uk8qTVOLchQ2TO+jmGT3QuKk5FqxJt/drCatRycQ0emH2HaUbzm0vBdPv10B2b7GvGCdpNoUCf4JvIm0uwz0SRJC4ManVOmqZDKHWFiXDnMmdVBwpkirGDAe8UQlyqBbF+APOyvSai0lXHIYbWo5MlSbxv9ZSidC+Z9D7BSk9+w1FTZXmeHWr4oWi+5M6E/C9BLlVeIgTJ7rJNnZmSqK6LG/W/84CEWygNOWtAraQ0Td6NFtKipJaXBKEW1/ifP0f+twiR4ztLLAHcMFkM4rLEey6Y7oHnYOPzaYXhxtTixjYtmDTjglqAUZgrevEv39bsLfWcdOtx6aefPFG0/s36oGoAlL8l+mXZCNs71WxY8dxj7qfn9Beu295AtJO6UaJER9Hp1Nn2C0IQhmR0WEtypaQ7VvopYXPE6Xh1TVLhgHWBIoOsTWtWN4EDyJVEXoQ6rebV3byCzQ8E5/MW0KCAbgwVdU2rbpVRsQB3V9EfXW2DDZyIcffm4mv+UkwDEOeNB89ZX8gCspRWAVPkf4MOViaXPw2h7zmfA1fJUY4q1XG8/u3xO+FSEL6JOeQIDdEoyLnPvCJq5KUhfuoujITkyBHsCOfXZkig3dYzASfXlcR9FESJLAaSVGSqPR0L5F6QktMod28FrVJRLQGECzc5/XoYqQ+XT6XiX0jwdqWqYBSn3P0OgO3Tz1We/FfEaDkBK6GtM7l+cm9oFTD5DczghcsAKi4OZRstUm4wEER6QCcGvz5c2EZBBm7obCvcje607i4xI3uxXEoqwaYDn1qlTiFfiuqiNMGY3Lot+FOipq6asBs5XbbxXPNs4pSDxQmVMZCH+2eE8zDFgz1wyxTldVDpCM+lzmq2VKJ4oCq7QuLDdmGhe/glp0sYldXohxqvpMniUd1kMMH8SA08rR13BY3lPwu52GykJ43EBwYhpIA89SAISk06YqKSPN0LNx/zCkWG1zp8XFaQ1C5F+x16lzdy29PuFFjfHR/jq+hGwBlstd7bf6AndMPR/zzbWcY2Wak5taWpBX4sHcJpTxU1/50shStniIWiedn1dz74Cp0KSLPdR4ZN3BaEtcVQoVrHBnazjNlf8M6p7sjYuBL7z/GnMcA63ankAsA7Xs8MxZfwtvGKZiEq96rYjR1sE0j68k+dOIyH+IBqjq/bULdPcj2EhmDMVfXx7kTjm5oSE5S004R86TOoGYXaD5iNjrnXnXBMO01IEoXslluiYWOPBES2/vuyt1Mcot95YUBguxfc9uTmHkGqezkP0QLlWCod6rXzybLedOBkLaBGdSxnICaLVejzij64Q1DBbKXowkHAB3/WYvSQqKJbAINujDUTkj3l6PH3cd9km6USDwYgpIGly0qkBX+fnIWguln9kgcSlz24SfI9h7/8LnDZO96DnAYg0YHMgORasUddrFkE+PryGFdloMlTfeotz7tu+N5bm6NkLEn6O92tIKroOr/sMSXRJyWUCAZY8RRLgTPwz6Mbwo3fudIOewUp4NLuz1GTZq7LOF9V3VkGJwnNpftBZ0pz1Mibfa2Tvi8lL5l+j8OEADJZVxrtqUk3lmOBdf3VcWdAa+Np8gfJ5aEg3G8Nozi4+ltS0dnSB9UKJ04LrxtK6UkdhpAX+RIxz1bWd757BuATBaHir8L7wZF2eZbDnhatHoQVCBofI6vjOx3mZiBQJ7XPYQAz8o27oMoi95e26hLyCoYlUga/QKoldiALkpGmZlVVQb0cC3p+yjI4cDUbllETq77i1ekREoqk0KApRKa0hPA7TQ7L6epoXXyqy/zKe/ChIPiVWjHbCWE54jCH2WIBP/w6+IzeyGqwLYs39Guy9KGWjwhDTsqJo3w1Gg2QtcKN+igpi64USf/DU2ALzGsPFcR77H2xjluIqeWLxDKv1JT9tq1f3mfHdHhQjReBBj9TpV5Y94aKFkDuixx6w8Tf0sz7r/yck2AoLJfUr3zTkfeA+mstldChDfwO4QUXoWkTroaAoM8RECn28gxeqHnMgs3rHCG42DqSLxLQXU+9HFGJZPeJNxsrsgnirtjsc1O6q9LWWVrhOQbH388fNRlWKct143kQoXYL5G8l+M/0Qakp/x08Bckdd8dTbHQO1S1cL4nG5het/vZ5QskVIlfUtqz+pkIrMB2+DnCxNrLj2Jn7zMYnq31tC9ATQUKAjdjUYH0Y9ix+hdLsOoui5fgqEz9I0kE6aPYuN3hQ9RdRJPA9JCyYVSEl0QXi/SpeXK6ByBMoHiSWwouk1Yhv2SuFiWd8kc9EPe7WYpcLzM28eKYJbfM8hgozKlxE5xBtnrvgb6Ay1det85sHpyftsnIFOtoKf6KOFWS3eoa73zcRt++/wCJZKdJCS9hpEZOfSLP3uL/MO68DsX9NXhVIcNa1EA11TeH+0vRWUTjwTyScxDhFgxL0joT+I7LWg36T4MTN00VFKe95uJzfA4qoinZn5Tr/OVELGWQH14DreF4BcKcKdkdNoPf9ZBUUzEjBbhnnSEHt85mseUBX8NXF7+ITp+m1caqMcvtsVGb7n2409ImQjPSP1n95PTPo39WtB+LqFmiAmkohZnKJaKu0Ywm1FRN2OMxLjTi8xymZ1jjZizH58oR7xfgYxkPL303OfI4h+VEkmc9K3oERvCZ7EmEoYROYZRTulLYt4hNs/AZ1eOIPeGZo0VWGnMw60O1qDI2zsJCo6Owc7x0TqwY+yByoHg/C/sDzS7lUIq8tVKsZYsohlMVICUJodeCJgWzEsl9RGPzEpqvGhXXq6OWrFGLpLUBMU7HsZcyfGkwIW+Rt+MPKMQ+z+BQL0BvOOReBeNIROcZdsAAnPcpPF+N76sgzJsPnPQqXnMh6gdFTZ3fYrcoEQTFCvbwscKMhP4wSy7JA8nDxlVgFxlznhIVlcuQ1rC/rJrvsaLAviYu2k9mZAOwFTd/D2V4RbYWz315cLquJkYMpCvPIfgn5ANOJArBKF7IdTewJEZ4X+JdYhChfDRLT6Jlu+DvClmmtQoj/MtjCkodD5n0uVNbVJi9KN2wHO5Qj0RVIxA5RO4J7np2I0uLFGIVTJgNsO7ikoi8BmWBW2uaDjl/KFTNZ6QXxauA14PKnTW4kB5Mw0Vg2ypdrXRQrwAbZ5TaueetmNz3xrumuQ4kFn56vG8rDSc+ddTXmsQlxGHtvHWngoyBeA/FFeUM4djUuFxY79MU8NSaZeAFX0Rnf5KpbNkp76LnoBqx3Dx+wZ/TNISValWjOJirHrBumK/elKHpH+4mvy/7DRvM4OuZ99ULRyjwxfkdT4MA2ownAJNqNXmoHVv6xXWwJkBsZr9ny9ZiHREtLn9BKZcOYG5IRWZeaqWUQDByQPptdSI7mk+rjuvS1bxVb5F1PQQldpN0BuZ7B+HKgiFNa1QSTixX7wzSvRknsDx9zbEjS6ucMYCGL5vI9Brnt08tGfBt0AYc3BC7CA0sTGALMoeewPK1tL0PvNlQowjR0SBTZ+Ek2s9eIcTtyP7YCjClbV+AgNn35qf7pNvH/IMcUwY5CbpB0ThedDy1RNSr46w5mKtwB2tzCB556566qCthzHs/kjRuYbHP1aYUhFxsPdAynhzKjw3X25iHlfqnWWM71W/PW99wSbh/fGY4Wf/ynygKFC5+FwtEbvDW1S4z2Jc3heG3PrAPiLerGC+0YYjT/3PeWV8xXXVArID+TBjjoJ2Cwxefr+LdPrI8J+ok8Uq0HcFHYT,iv:bv3Mayt2W6lJhdseaNrxtWwUilStK1U49ZP6VLQbCe8=,tag:yKWCtnRBvzFDbxaWvhJnXA==,type:str]
            claims_policies:
                default_claims_policy:
                    id_token:
                        - groups
                        - email
                        - email_verified
                        - alt_emails
                        - preferred_username
                        - name
            clients:
                - client_id: grafana
                  client_name: Grafana
                  client_secret: ENC[AES256_GCM,data:b1DB0gj1HXnWFNUfw4kcQnB4v56hIZYqcbOfZaL2ckoYjAL/FtA3c1DMyILmbZRQWvZfA47gT96jfZLVFnisTXukZuw9ol+0X2yjY3oDt5UiMe5otIaJwGVaHa7wgGYiNKU3qZHFvjdeLlML0hZsxMluet01nfWfD6sD7XrpP4G5GiM=,iv:6e3zYvslJEduRonZPwWl4ruumc4pC1V+w7x7yu+zJUI=,tag:Bc2QuYP33oJuOa9bxAJBbg==,type:str]
                  claims_policy: default_claims_policy
                  public: false
                  authorization_policy: two_factor
                  #pre_configured_consent_duration: 1M
                  redirect_uris:
                    - ENC[AES256_GCM,data:XllJZhahDol42977kMi1Cfw9QR5VLdX63aY91Zbx0NqiNUk9Inu2dpqPo6cn5Rs0VMUE2yK+kDTm,iv:CLUfcMQ3UPEiM2lh7izoms0vnn/Cwx39k6a6pGVGyC0=,tag:pb1DPUwGHCWdjGT6WyHC0g==,type:str]
                  scopes:
                    - openid
                    - profile
                    - groups
                    - email
                - client_id: argocd
                  client_name: Argo CD
                  client_secret: ENC[AES256_GCM,data:+XBG5rvQkwGlb9rrl8YckfqWC//5qt03zTtJ7LkBnWsOHpgjLzmPP2GJtdivIXoPyFx0SiDOumHt2HchzXOc+VVhCSTEVAnToohg4i4v/IOGI2kvEVjKF5MvMJn5xLKXEtMMAouLPviqyLhM8drHlWFTcVkioQYARoPzuHXoKhw26g8=,iv:fTMrT2rbFmn4vNnOjtqNzS+PDIntFAPKtzzWPOO7Wdw=,tag:DIGB/SMeqMoEkcKJkWbT8g==,type:str]
                  claims_policy: default_claims_policy
                  public: false
                  authorization_policy: two_factor
                  #pre_configured_consent_duration: 1M
                  redirect_uris:
                    - ENC[AES256_GCM,data:nTnRrWDYLl2S21c71wjXAPYwz8csR92hy3HpiQqytrx2Il7wAJGTynAleVnrEa+toos=,iv:gn4C+er2HiIyG0bK0i9snBaGae3RzL+84+IiL0dIUP0=,tag:457kc4Dy7wNu0/nf+TrnVQ==,type:str]
                  scopes:
                    - openid
                    - profile
                    - groups
                    - email
                - client_id: argocd-cli
                  client_name: Argo CD (CLI)
                  public: true
                  authorization_policy: two_factor
                  redirect_uris:
                    - ENC[AES256_GCM,data:G0YR3lGunnd5C8zPtlw6d8XlcXqukahXozsyZMUSP+IBNEc=,iv:1XR1J/ev0HV2q/PHXrVSQcRjZ/CZba+hy282+8pOq+o=,tag:KHp/e8YLxZqxNJSQPD6rkA==,type:str]
                  scopes:
                    - openid
                    - groups
                    - email
                    - profile
                    - offline_access
                  userinfo_signed_response_alg: none
                  revocation_endpoint_auth_method: none
                  introspection_endpoint_auth_method: none
                  pushed_authorization_request_endpoint_auth_method: none
                - client_id: semaphore
                  client_name: Semaphore
                  client_secret: ENC[AES256_GCM,data:idADCB5MHKfGa9gGeIxWT2/BVDE1hOWr9I7Ee5OYbimB2yXZKxT8pm4wupsRF8+PdiAUWarru3I5Ndg0LOI7/vJ+5b3IhmCdKUoJNfqzeSCjAyupKYk/EIYWN8s+cyOivvCdK000u9sM0e9ltAKG47pEmVAgOTRu1nN2qMEQaTrVEcA=,iv:8Ju8cYhZNEPX5FxM3M3iN36ehBf0E8RS42kpUeQRzvU=,tag:r6OxoWi01jcboc9sIxB45A==,type:str]
                  claims_policy: default_claims_policy
                  public: false
                  authorization_policy: two_factor
                  #pre_configured_consent_duration: 1M
                  redirect_uris:
                    - ENC[AES256_GCM,data:SzVD0fg0WbYrLYrwXpku3HsgayQbUu/aPrUjPAfau60n1t21TPwzH3AsEsNT48rbXZAgUXsemXDZG3A2+RoVxv81pb6i8dc=,iv:TV8rWqFw7oxWPI1JCVHgA7kepycakGMx7+/BfKFbp84=,tag:I1lNXdglvryJUBxiBlqRHw==,type:str]
                  scopes:
                    - openid
                    - profile
                    - email
                  userinfo_signed_response_alg: none
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBsaU9ENGhJTVZZa1JCR2dV
            RUh0SUV2Q2VYdStSdFVqWVg0T1lnK21EbVRzCnJWakRtYjJZb0xDT1BPckJPd1B4
            NDlmcmNSdDhJS3NGYWt3OEZWcmQwcTgKLS0tIFVYTDdiQnVDYzAwYkdBNEd0ejdt
            YWtiejhiZ2t1Y2pqN21SeWJKSno0VXcKa9tlbDbY5ZIuLOTjJaz2s9OeU3qYOFlP
            +6sZ7b6ayi9RdQHd25AICOO7PygBcsj26h6CvfumbFGWcLoc3uYWkA==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4eENsUVBoT2g0bEZMQkpR
            cWlOUU5zclVrcExNalhSZGRxcTZVcFY3RkNjCjJvNVB3eTRjclM4VnpLUlZsODlz
            Rk9RSzQrZitJeVdtVjlJd1dLYXRxelkKLS0tIFRaTkhMOE55YldBMWorSGpDOUE2
            bnFPaFB6dUVtNkJSMFlXSi9KV25nTnMKdTAuAX04sqK7lAwW8Lv7AobHo3foGeWH
            0q1SvEkPX3OPLpJcfZhXHe3unuC8OKX4gHvNYy5gQEEW+fupS5RIaQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-07T08:23:10Z"
    mac: ENC[AES256_GCM,data:A61bWhHEZv/hls0bB8exIUL5UxbIGi8qJI6swB72eMWZQnUxKrUnw8FZ+GxwndhaPBflu/PN1T40HLhp0hJRwfX+dEqI9REpR/IElIe86cfxdYcvXHyvgn76woDzbIPqESLlGFdu1TJ19fEojC+YyQ5XgkqvzcngRr8cT+pSS1Y=,iv:M3TgiajZOQVPLPaC8wNST3LqlouGDe3jsK4/wKP8Y0c=,tag:87TwqrKbMqWOilhQgoBUXQ==,type:str]
    encrypted_regex: ^(value|domain|subdomain|default_redirection_url|base_dn|user|secret|sender|redirect_uris|client_secret)$
    version: 3.11.0
