---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: databases

helmCharts:
  - name: mariadb
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 23.2.4
    releaseName: mariadb
    namespace: databases
    valuesFile: values.yaml

resources:
  - namespace.yaml
  - k8s.backup-pvc.yaml
  - k8s.np.mariadb.yaml
  - k8s.np.databases-default-deny.yaml
  #- k8s.backup-cronjob.yaml

generators:
  - kustomize-secret-generator.yaml

#patches:
#  - target:
#      group: apps
#      version: v1
#      kind: StatefulSet
#      name: mariadb
#    patch: |-
#      apiVersion: apps/v1
#      kind: StatefulSet
#      metadata:
#        name: mariadb
#        namespace: databases
#      spec:
#        template:
#          spec:
#            shareProcessNamespace: true
