global:
    storageClass: longhorn
architecture: standalone
auth:
    rootPassword: ENC[AES256_GCM,data:DzRfnU3fqRUef1US6vIpDi1fF3LRXLRqaAemNdfC9udp7k3FBw1icg5Tv+3BuwvIgE4ySJ6b+r/2FzRj7rTGqg==,iv:18pDpjfISn0LejYYfvptp9yx9170Y3rbpMXL9J0m2Mk=,tag:Tm5ELxDciqC6qmz72XOxUA==,type:str]
    replicationPassword: ENC[AES256_GCM,data:/yaCp7+6B30kAh5u8IaaF9CEYm7IvDTQIXU7mwczSK2hpR2moNeldB14wualexxYXBQ91JwjesWObH/2BUEOFQ==,iv:mG+2PDh3eR1O5WKQqmpd4z3VZOVtLK3GLAqubhWK6C8=,tag:FqAWyM0HR5etVhz0zmeEJA==,type:str]
metrics:
    enabled: true
    serviceMonitor:
        enabled: true
        interval: 60s
primary:
    revisionHistoryLimit: 2
    extraVolumes:
        - name: backup
          persistentVolumeClaim:
            claimName: longhorn-pvc-mariadb-backupvolume
    extraVolumeMounts:
        - name: backup
          mountPath: /backup
          #configuration: |-
          #    [mysqld]
          #    max_connections=300
          #    pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSArd1pra0xUY21FTGk2Nmkv
            MVNNTVo0d3kwNzVxZVF0dzR5YXUyRUhoYnpJClBPbGRaYnhMN0h0d2VlTFAyV2RF
            RFlXZlo2VS9pN3BQck1DZzJMR2ZPTWsKLS0tIHFxaFBiUERNUjBlUm1mU3Q4YjdC
            U0RUT3BTTFcxQXNiTklGY0gwWGkxZ00K8CtFh+XL+Utjdxt1yoAnfFZTYk/hiDfY
            g07ZLzpsfFtwRF41p/UDlauGT4+Ib4VTc6izh2h2epqkZoWeEkv7Dg==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBXcXY3RFdZMlk1WFpRZjJu
            MGNUR3JLdGM3elpieFFWR1ZDSHlHRjhnSHpjCkpRaDJRY2V5VE92bmZQWFN0N0tG
            bGNGTGpSRDlPQ28wdVg5LzQ0R3VqUzAKLS0tIFQ1eFNFK3RsYXo3OUwxSER2d2E3
            UjdjWnJOOG5TemR0a0dHaU5XUnRIN0EKsLEi/tWQNhYzMEogpDjky6tPBuDeQA3d
            deIZIiFFaQgsZ4kCgHsegZ/2IFH+G3yYr40xjVClDcpgeahDwglphA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-07T23:30:32Z"
    mac: ENC[AES256_GCM,data:whwVWLwF4hgHiniSsvGJEf9AMqJYe/ySBgWFEvBVA+tFJeWUXcpHff5FiEVgf7fSRbJdPWtdF4uh0GIC3yvwkKMsXT7+eEQjP3+2sKDPbQhR9Cgh0XVBc6kO/dzui/QAlkzJGLRJhHI0U+9BEa5oBpr38+wv3lEHjbgW0CQ0rXo=,iv:L9R1WQBqDx5syrRg4QCD52thWDscuS+KMsiMzyuTjJY=,tag:0k1tYd0DHcu5Pf/wcB9wdg==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
