---
commonAnnotations:
  argocd.argoproj.io/sync-wave: "17"

helmCharts:
  - name: prometheus-pushgateway
    repo: https://prometheus-community.github.io/helm-charts
    version: 3.6.0
    releaseName: prometheus-pushgateway
    namespace: monitoring
    includeCRDs: true
    valuesFile: values.yaml

resources:
  - k8s.np.monitoring-pushgateway.yaml
