---
namespace: argocd
resources:
  - 00-coredns.yaml
  #- 00-kubevip-cloud-controller.yaml
  - 00-kubevip-ha.yaml
  - 01-certmanager.yaml
  #- 02-certmanager-netcup.yaml
  - 02-reflector.yaml
  #- 03-cloudflare-tunnel-ingress-controller.yaml
  - 03-traefik.yaml
  - 05-cilium-hubble-ui.yaml
  - 08-mariadb.yaml
  - 09-redis.yaml
  - 10-authelia.yaml
  - 11-lldap.yaml
  - 12-pihole.yaml
  - 13-pihole02.yaml
  - 13-node-feature-discovery.yaml
  - 14-external-snapshotter.yaml
  - 15-backup-script.yaml
  - 15-longhorn.yaml
  - 16-checkmk-agent.yaml
  - 16-monitoring.yaml
  - 16-ntfy-alertmanager.yaml
  - 16-versitygw.yaml
  #- 17-monitoring-kubernetes-event-exporter.yaml
  #- 17-monitoring-loki.yaml
  - 17-monitoring-pushgateway.yaml
  - 18-monitoring-checkmk.yaml
  - 20-csi-smb.yaml
  - 24-intel-gpu.yaml
  - 30-emby.yaml
  - 31-nextpvr.yaml
  - 33-navidrome.yaml
  - 35-minecraft.yaml
  - 40-paperless-ai.yaml
  - 40-paperless-ngx.yaml
  - 60-semaphore.yaml
  - 64-downloader-lidarr.yaml
  #- 65-prox01-blackbox-exporter.yaml
  #- 65-prox01-docker-registry.yaml
  #- 65-prox01-docker-stats-exporter.yaml
  - 65-epicgames-freegames.yaml
  #- 65-prox01-fritzbox-exporter.yaml
  - 65-gostatic.yaml
  #- 65-prox01-grafana.yaml
  - 65-headphones.yaml
  #- 65-prox01-ipmi-exporter.yaml
  #- 65-prox01-node-exporter.yaml
  #- 65-prox01-nut-upsd.yaml
  - 65-nzbget.yaml
  - 65-nzbhydra2.yaml
  - 65-postfix.yaml
  #- 65-prox01-prometheus.yaml
  - 65-radarr.yaml
  - 65-samba.yaml
  #- 65-prox01-snmp-exporter.yaml
  - 65-sonarr.yaml
  #- 65-prox01-ssl-exporter.yaml
  - 65-tftpd-hpa.yaml
  - 65-unifi-controller.yaml
  #- 65-prox01-watchtower.yaml
  - 70-descheduler.yaml
  - 80-whoami.yaml
  - 86-kube-doom.yaml
  #- 90-gethomepage.yaml
  #- 90-goldilocks.yaml
  #- 91-vpa.yaml
  - 96-system-upgrade-controller-plans.yaml
  - 96-system-upgrade-controller.yaml
  - 97-argocd-configmanagementplugins.yaml
  - 98-argocd.yaml
  - 99-argocd-apps.yaml
  - 99-debug-container.yaml
  #- argocd.secret.yaml

# One way to encrypt repoURL
# The value is stored in an encrypted kubernetes secret and kustomize
# Uses the value after decrypting it
replacements:
  - source:
      kind: Secret
      version: v1
      name: argocd-repo-url-public
      namespace: argocd
      fieldPath: stringData.url
    targets:
      - select:
          kind: Application
        fieldPaths:
          - spec.source.repoURL

generators:
  - kustomize-secret-generator.yaml
