---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dns

helmCharts:
  - name: pihole
    repo: https://mojo2600.github.io/pihole-kubernetes/
    version: 2.35.0
    releaseName: pihole
    namespace: dns
    valuesFile: values.yaml

resources:
  - namespace.yaml
  - k8s.dhcprelay.yaml
  - k8s.pihole-exporter.yaml
  - ks8.doh-service.yaml
  - k8s.nebula-sync.yaml

generators:
  - kustomize-secret-generator.yaml

commonAnnotations:
  argocd.argoproj.io/sync-wave: "12"
