image:
    repository: ghcr.io/pi-hole/pihole
    tag: 2025.11.0
    pullPolicy: IfNotPresent
revisionHistoryLimit: 2
serviceDns:
    mixedService: true
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    # type LoadBalancer with externalTrafficPolicy Local
    # requires 192.168.1.232 on the same node as the pod
    type: LoadBalancer
    #externalTrafficPolicy: Cluster
    #type: ClusterIP
serviceDhcp:
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    type: LoadBalancer
virtualHost: ENC[AES256_GCM,data:7nK4cB4mso0p37t00Qfimuyzb1yT/pp1LrRqdg==,iv:UUwPwjO6U4rQDROOXlgMW+1dUXgQC4uNObrdLgH7bKI=,tag:hQpr10YiIOqPXlHfe/OjdQ==,type:str]
ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
        - ENC[AES256_GCM,data:ZhGQO0uAYaHtv7aivLNvRt1enH8J23o8ppM5Aw==,iv:9/9I2cSNA/9ns5FLqRe6l/YQzs60+l7EsA0W70UnY+0=,tag:MhawATS6UGG1rALLsJfoYg==,type:str]
    tls:
        - secretName: wildcard-cloudflare-production-02
          hosts:
            - ENC[AES256_GCM,data:XBtlzRZECUqIp8egCxY390q3zQDAK7Ed8KBMmw==,iv:AP8+Qrb8iKtJENOW1UFqGGqWfzhAgxOOUtkERWyqXG8=,tag:pUlj5esTIRpjoiOakfsUBg==,type:str]
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239, websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd, traefik-root-to-admin@kubernetescrd
resources:
    limits:
        cpu: 1000m
        memory: 1024Mi
    requests:
        cpu: 100m
        memory: 128Mi
extraEnvVars:
    TZ: Europe/Berlin
    #FTLCONF_LOCAL_IPV4: 192.168.1.232
    #FTLCONF_dns_dnssec: true
    FTLCONF_dns_bogusPriv: true
    FTLCONF_dns_domainNeeded: true
    FTLCONF_dhcp_start: 192.168.1.50
    FTLCONF_dhcp_end: 192.168.1.200
    FTLCONF_dhcp_router: 192.168.1.1
    FTLCONF_dhcp_leaseTime: 12d
    FTLCONF_dns_domain_name: neese-web.de
    FTLCONF_dhcp_rapidCommit: true
    FTLCONF_webserver_interface_boxed: false
    #FTLCONF_MOZILLA_CANARY: true
    #FTLCONF_BLOCK_ICLOUD_PR: true
DNS1: 127.0.0.1:5053
# Not required because secured via authelia oidc
admin:
    enabled: false
doh:
    enabled: true
    pullPolicy: IfNotPresent
    envVars:
        TUNNEL_DNS_UPSTREAM: ENC[AES256_GCM,data:SlfFAaqPebRKEOQv9DczkX73jiLplwsEGndCYhzKkWaZm+fF,iv:F7RPz4LxFXteVLFq1M7VWFWCqLhnSOX3lnAA/6QBJwE=,tag:wGYQ41DOIxeKJYQ6O2CNbA==,type:str]
dnsmasq:
    # Contains internal wildcard domains:
    # - address=/.example.com/192.168.1.45
    # - 'address=/.example.com/::'
    # - address=/.k8s.example.com/192.168.1.231
    # - 'address=/.k8s.example.com/::'
    customDnsEntries:
        - ENC[AES256_GCM,data:sCh4fNk7LoqmtflJ8Um7EmJcH32JQA31GlUVly1gW1jF6gs=,iv:Sg8FL1f4GFCHuJ0Xo1JzWs0PRTensLjNceMziSuAEWg=,tag:mK72+puJjaru7HPWl3pPNQ==,type:str]
        - ENC[AES256_GCM,data:11QoRMytOBG3GZUZDAZ4+cHOXFEqSILPwg==,iv:NRte6ZaMtUMtJ44CIMCO5gPetJEmNqEncLkB76+CSE0=,tag:BUj0b3B25ZzwJMYzsLH1YA==,type:str]
        - ENC[AES256_GCM,data:tCaSBcwuue1UL0b/Lw3GpZ1saeL6MvZikg3vLwf2h8h5JA5xd3bdDA==,iv:KLrOlJ0lgvq3QKfJJGfmsB40zBDa84C3GXcfl4OvOxo=,tag:trWlFiqCuJU37KJYjdi5RQ==,type:str]
        - ENC[AES256_GCM,data:VZD0AmLxAPQK3zK06sC+15723AMlWIuoPDHbOVY=,iv:2Jay4S+FyMYEJ3t8HoKVMCE7S8lpLTrjNJR0pf8gvRc=,tag:GA+PwfBlj/trsyKAD6go7Q==,type:str]
        - ENC[AES256_GCM,data:Gne1LMCcEgcVVWUPbrvaYM8zf4gicM7kDdhjnsWTrxEwtXcUDvQ6+nrTyG6G,iv:ycbLuV6jhaaz87vmU/tMz30WWJxhD2xOIiLxs8+IagU=,tag:L479uWF5XQbvLQvqhdsD5g==,type:str]
        - ENC[AES256_GCM,data:1rGYLzZn+Addq6cikMkX6VIENzul1b+iBOCi0DZgH4BuhQ==,iv:eYYR4vg+/J3Oh/zKIdodLsuPQj6rP5JOKXaF2YXFBoM=,tag:tBpvyfUaK/pf8zDzbWvBYg==,type:str]
        - ENC[AES256_GCM,data:TYczpkp/wjQGCmGkDNJbBgMSnmbYj8I4Xe6AsNaxvxhACkrbX0QLNDNQ1+yWAJ8=,iv:yPVPiWcMUQRT8UT+Em84znk0WNM8hE5MXKjRmwb0cfE=,tag:TADz1JsGbZDldVXi1JdZrw==,type:str]
        - ENC[AES256_GCM,data:NnxJwe5lLDXhQw70XinzILCk842a1SaMSkUtm10pftSWjOk+C3rxF/RgwG/NwHjF6C/oQBh+,iv:M4wgWF0WDY1GXhq1C6mR7xmJLkK/GxzQqdN1TYUSFwI=,tag:CD5XKXZ2p4VDBCTrtfUPxg==,type:str]
        - ENC[AES256_GCM,data:14sjVDoEOo7tkX/n2vIIDBHOf8dshAfNxpCPFXUvvE9sgpvvodQe,iv:3f3LUgQ2Dnc9TBfb73FwXOJySfI68e0lVC3U4FVuLHw=,tag:7B29S1Jrc9pQye5n/KSn8w==,type:str]
        - ENC[AES256_GCM,data:CPB+Tig2G4SJyRnjXGPXAHuKejzfR2AYx4E9TCit8Rc3oHch8YHPL5S1TWeVUQ==,iv:/nHE2ydulW688LOsgOinL2mw7K20CsJ0qQRaodfY/ng=,tag:JJ5lI4pUAQOA1cIz1h3BKQ==,type:str]
        - ENC[AES256_GCM,data:893PG/DmanfHmTh3//sKl3hmC3xSr8GuQV0Xt+nKPvIJDkiIiw==,iv:Vs75+A7AgW1X1u6p3iF7njFIUlEUBvF4YyQZp1yaehM=,tag:dGLJFCUP2PZXZJFqvvLyzQ==,type:str]
        - ENC[AES256_GCM,data:cqTX6O78BK4UhG/Z543a3Tg5Y3h74WDsfVZfItjm1/TOuy0Cg/f9FP46RRs=,iv:DfbLayFv8nwMNgPDTpU4Nry6xC7eOqbCPVPf3x33HQc=,tag:0y/gguGa5m4D3dpTewhcXA==,type:str]
        - ENC[AES256_GCM,data:vk+8NYzYh9/fgxdxtZs/swvYVGnJFeOxQ18ALInq4Vu4EWSIDBBHsNkcSxF2tg==,iv:ovwLL692uo/g9QSo65hlUllnN2faezw12vb7i8sti6k=,tag:rT3XdIk02kJsacaqN19fnw==,type:str]
        - ENC[AES256_GCM,data:gD3YcGZouFDk8XAL8fjQf3wZZ2gkHxh2QPHszFuK1hO+UA48I5fOFqNo7kTtyUZGER62nVk=,iv:IFSk7y+sdl1y+AhTC1Weehk9FuYcZa6zLV93pH9B6uo=,tag:uAUUysiVdArEzQ+jU6Dw1A==,type:str]
        - ENC[AES256_GCM,data:8khpuk4FA/v4w/8z9uqy8ZxEqU7m+QcPcu8tcLrqpfGDv8vOYIGdIkV1Et6OWFhp,iv:Z032Zyc4vjgvALCfGh6nBNkTuXImhUBQIxEZZKSURRE=,tag:zFGV2Z5jrHMquTM/a8+JXQ==,type:str]
        - ENC[AES256_GCM,data:273/tuOLy2P7J1cNFsVtpcZ4QvspWUh/7WFdWdcs+wIMHkGL0XlbqBinRjGgJU72/9T4Vs9KMA==,iv:Fmi1QCoScZ6Vd7CS17nSdfbslus+EEH1BEHmULY0BXI=,tag:FmIXbqnAXw2eV99WhrhtZQ==,type:str]
    customSettings:
        - dhcp-option=252,"\n"
        - dhcp-option=vendor:MSFT,2,1i
        # DNS
        #- dhcp-option=6,192.168.1.232,192.168.1.1
        - dhcp-option=6,192.168.1.232
        # NTP
        - dhcp-option=42,192.168.1.1
        - dhcp-range=::,ra-names
        - server=/geekbundle.org/192.168.1.1
        - ptr-record=1.1.168.192.in-addr.arpa.,"despair"
        # TFTP Boot
        - dhcp-match=set:ipxe,175
        - dhcp-boot=tag:!ipxe,ipxe.pxe,dns01,192.168.1.45
        - dhcp-match=set:efi-x86_64,option:client-arch,7
        - dhcp-boot=tag:efi-x86_64,ipxe.efi,dns01,192.168.1.45
        - dhcp-boot=http://192.168.1.45:8043/boot.ipxe
        # DHCP Reservation with different dns server
        - dhcp-option=net:customdns,6,9.9.9.9,1.1.1.1
        - dhcp-host=net:customdns,EC:79:49:51:64:16,192.168.1.187,ipl06002-lan
        - dhcp-host=net:customdns,F4:4E:E3:2C:C2:B6,192.168.1.56,ipl06002-wlan
        # DHCP Reservation with unrestricted youtube dns server
        - dhcp-option=net:youtubedns,6,192.168.1.234
        - dhcp-host=net:youtubedns,AC:3E:B1:A6:AF:D6,Pixel-7-Pro
        - dhcp-host=net:youtubedns,E0:80:6B:37:56:83,Redmi-Note-11
        - dhcp-host=net:youtubedns,74:58:F3:E7:3A:04,Fire-Cube-lan
        - dhcp-host=net:youtubedns,48:43:DD:6E:CC:2D,Fire-Cube-wlan
        - dhcp-host=net:youtubedns,F0:27:2D:D7:41:97,Fire-Guest
        - dhcp-host=net:youtubedns,00:e0:4c:7b:c2:98,Sanctuary
        - dhcp-host=net:youtubedns,8c:8c:aa:32:ce:7a,IONB000201752-LAN
        - dhcp-host=net:youtubedns,4e:80:5d:ae:a9:dd,IONB000201752-WLAN
        # HTTP Boot
        #- dhcp-match=set:efi-x86_64_http,option:vendor-class-identifier,0,10
        #- dhcp-boot=tag:efi-x86_64_http,"http://192.168.1.45:8043/ipxe.efi"
        #- dhcp-boot=tag:!ipxe,"http://192.168.1.45:8043/ipxe.pxe"
    #customCnameEntries:
    #- cname=www.youtube.com,restrict.youtube.com
    #- cname=m.youtube.com,restrict.youtube.com
    #- cname=youtubei.googleapis.com,restrict.youtube.com
    #- cname=youtube.googleapis.com,restrict.youtube.com
    #- cname=www.youtube-nocookie.com,restrict.youtube.com
# Not required. We're running a dhcp relay via host network.
#hostNetwork: "true"
capabilities:
    add:
        - NET_ADMIN
        - CAP_SYS_TIME
        - CAP_SYS_NICE
persistentVolumeClaim:
    enabled: true
    existingClaim: pihole
    #storageClass: longhorn
    #size: "10737418240"
podDnsConfig:
    enabled: true
    policy: None
    nameservers:
        - 1.1.1.1
        - 127.0.0.1
#affinity:
#  nodeAffinity:
#    requiredDuringSchedulingIgnoredDuringExecution:
#      nodeSelectorTerms:
#        - matchExpressions:
#            - key: kubernetes.io/hostname
#              operator: In
#              values:
#                - node03
probes:
    liveness:
        initialDelaySeconds: 30
    readiness:
        initialDelaySeconds: 30
affinity:
    podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole-02
              topologyKey: kubernetes.io/hostname
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBGdmNmeHVHcEVWVVRCaFFr
            amVQM2pEemFHcmNzc1RrS0JWSzVqanptSzJJClZJREZjWGhoTmdlUlNpYzljeU0x
            V1ZRbzlpdXlTaUpxUXVSdkMrMlZ1aEUKLS0tIDgvbTFzdkJuenF3anlyTnhvMFpr
            anhLNUdsY2NvQ1ltV21HckFHQTJLNTAKlXmok2Xwzq7WkYPyiEgnH1ph1cWBchGG
            TQPE2iAUOzZwCD5vcMx37ynYKBGjIfZpgsc+TY4BfJnRed9cgF0QOg==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBobXJUMVlINS8rTkZzSUhC
            a1pqUTVHVk0zb3pHMWV6ZXkyYnNNUUZXNFdFCkdFMm1id1g1NGw0dW92emJXYSs0
            RkpoYVFqNmlRRVNoSmltWFZBUklURFEKLS0tIEdVSmFSelpKL05ZblJJbXllOUZq
            RFl4bUoyT1IzcnRHWWp5WTZ0Y1hmd2MKsWykHOF7bvkps1SKKk42Ra5jw2D/Mz6s
            UtwZnSFxYBDAvEeRpXqe3zQhNdhKFUAiM29ebCUGwcNV2a2bBNO3hA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-01T08:12:21Z"
    mac: ENC[AES256_GCM,data:2OKfJgmcSws5aATTrPEGGb8GyN0EjZg9TWdR7tF8Hl7jCOFxVC3TZJnBnkTeiZ8j2UyJjvk7fPzNA/EgUUP9bDFe3MR4rxFBoW9mMI/UX5pYaAfd+5O5jNjUUFl55tl8tLbJ18fPCAzVrU1s3kNH/dT2p22zL4npjoID+nQrQj4=,iv:+S8iCi3VmV8cs/LC4TYh//Ywp6tlDuKz9Ntn2O0yKD8=,tag:54wy66uCEdbC3nMh0mBn9w==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
