image:
    repository: ghcr.io/pi-hole/pihole
    tag: 2025.11.0
    pullPolicy: IfNotPresent
revisionHistoryLimit: 2
serviceDns:
    mixedService: true
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    # type LoadBalancer with externalTrafficPolicy Local
    # requires 192.168.1.232 on the same node as the pod
    type: LoadBalancer
    #externalTrafficPolicy: Cluster
    #type: ClusterIP
serviceDhcp:
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    type: LoadBalancer
virtualHost: ENC[AES256_GCM,data:yk2Fv+Ikgn5qOL7dF3URpCRi8nLW+GZeuq3kQw==,iv:uUPCTrD/kVHopvCLTAjicmQcoj0NPup4s63JqUvjYkg=,tag:icb3r49olIXgc1+OMgnrGw==,type:str]
ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
        - ENC[AES256_GCM,data:5fDo/D2bj8n3UotwiowqBD3JnWkbJyE7ovnCpQ==,iv:z1HkOCYBKtXpEFXqq95YuRM672cPY5ErKepjkmPuhZo=,tag:rvyHpv5Qb4Bp+pXQhEqdHw==,type:str]
    tls:
        - secretName: wildcard-cloudflare-production-02
          hosts:
            - ENC[AES256_GCM,data:h9B8OhVjJ/dhnz9YLiMEp/7jQmR2Y+HPiqNYHQ==,iv:bD9MfMnbKgmKgESYzcCvxLtRcA7x0tixd2P25PnGsOg=,tag:hkWq1a/qfAi+3MZZWokoqg==,type:str]
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239, websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd, traefik-root-to-admin@kubernetescrd
resources:
    limits:
        cpu: 1000m
        memory: 1024Mi
    requests:
        cpu: 100m
        memory: 128Mi
extraEnvVars:
    TZ: Europe/Berlin
    #FTLCONF_LOCAL_IPV4: 192.168.1.232
    #FTLCONF_dns_dnssec: true
    FTLCONF_dns_bogusPriv: true
    FTLCONF_dns_domainNeeded: true
    FTLCONF_dhcp_start: 192.168.1.50
    FTLCONF_dhcp_end: 192.168.1.200
    FTLCONF_dhcp_router: 192.168.1.1
    FTLCONF_dhcp_leaseTime: 12d
    FTLCONF_dns_domain_name: neese-web.de
    FTLCONF_dhcp_rapidCommit: true
    FTLCONF_webserver_interface_boxed: false
    #FTLCONF_MOZILLA_CANARY: true
    #FTLCONF_BLOCK_ICLOUD_PR: true
DNS1: 127.0.0.1:5053
# Not required because secured via authelia oidc
admin:
    enabled: false
doh:
    enabled: true
    pullPolicy: IfNotPresent
    envVars:
        TUNNEL_DNS_UPSTREAM: ENC[AES256_GCM,data:5WyFq/zEM0LELDGHGgy3jr2Qq4MwtpXHCs/0SyJotMsVex7H,iv:AQw7NKHViw2ebeJKlP5JDGRjO2O8hRgPeFGBVS2fVZE=,tag:XqsiFKxzlpp5jvOSWKNlSQ==,type:str]
dnsmasq:
    # Contains internal wildcard domains:
    # - address=/.example.com/192.168.1.45
    # - 'address=/.example.com/::'
    # - address=/.k8s.example.com/192.168.1.231
    # - 'address=/.k8s.example.com/::'
    customDnsEntries:
        - ENC[AES256_GCM,data:35LHipHRittZclTO9vt2g287lfTRD8EKXeN/MyDVeqScVp4=,iv:kA3ULQGfFcnn/IxeWo2vJJyHObuYKtV+YZobfrFXGgc=,tag:bJDARr8qtYqxHFSHrfyHhg==,type:str]
        - ENC[AES256_GCM,data:GhJhVKE9K5WoksceqaF02RnwQVZyOlNqFw==,iv:kxTCGtoVjfiPmAqAJPveXVfLxm6JtwbDq/Z9cz+unc4=,tag:9nsoD7huDTUP8ID7q3oIPQ==,type:str]
        - ENC[AES256_GCM,data:XbKrImM/kRaOPmbNy4EbW8UfK+4BNw5aXmbbYqS1eG4GKK99iOp4aw==,iv:zbJNCpmwZ1jQ5Zwk9JTtSIy4zwAhefbgqGBitQWuQvE=,tag:mdMl0RdQsmbJ0p0vdQvI4A==,type:str]
        - ENC[AES256_GCM,data:TQfMj7F5i6KaCD2G14D9nRc8lVLwi/8NC/3hPEw=,iv:lyPe0ZB1LoZTx41dMwn06TRcKT4HUFBDxmpYH6tOTz8=,tag:I5oHZwhoUkJJR2IIPg/JQw==,type:str]
        - ENC[AES256_GCM,data:ILrCdsu1zvEK2yVBeVT+Hd7wzN80TI2vedi3giycdgl+YXdoQTXxX6J4Nkga,iv:iVpln+BBTYcb8HyReDPauN7P6mz+Dh0w8GslVkl8qLo=,tag:1dbbRnIuK7ClLyF896lfiQ==,type:str]
        - ENC[AES256_GCM,data:UTFbtfGEc5XB6C47ketarG9uOGM7Tb5Mag94BJudiiSIiw==,iv:iGkDoiRTOMYGf8J7y1j/xTAdand5fALVCi0OX0CuEIM=,tag:l7XcSMi1BlF/5bV9bF/NhQ==,type:str]
        - ENC[AES256_GCM,data:T2x6cw4E2NOU9zb+t99ke0r8p2V5P1ApllI2TUQYowJyAuLbWTVnYDdFXQuFHrs=,iv:8eFcsLps64Q/De/IiGpkJMcU/014W05AfGceeHyLPcw=,tag:15lq/ZcLM4eGglRAHjfNFQ==,type:str]
        - ENC[AES256_GCM,data:Ak0FGGvK/fOmA7Q7en6CBpibToULZdFxlbIr1hFwOYgVHfcOgZTyiIj4un3vkfmQAWdjSDLM,iv:PYCfkP3G4VNKK72xspkF+uA3YlcRNgPaE7KxuFK+jCY=,tag:vg8ha4cS/LajUWOMy8D1dQ==,type:str]
        - ENC[AES256_GCM,data:pqgcNDn6hH2NHwnnsAXBfGPur/6zmAID6lYG59V5v1St3RkDHjv7,iv:VTCjYYZLMOVvrCeVCWMkZmGMsRflUHtz/SZIaZD20Uc=,tag:lzU9CXS+gUDcvHjvmYlkyw==,type:str]
        - ENC[AES256_GCM,data:K9rD6qgAQ4KUqKGG9D1FJm14riQK9dzPSn7k1PfLL5ip2OyEJW29zZmNssQDDQ==,iv:OOu5Xa3pISLE16LKAPClllCu4RObRfbKIiggKyxJse0=,tag:muaJ4dcjsl21XeujYZ7Rkw==,type:str]
        - ENC[AES256_GCM,data:XSFqkchFtuzP8QtNnZv5suTKHTSV2AfzJW55jDwmzHj3SR9Bfw==,iv:LFvqxWHAS7lAUk11gihfER8sAh3ga8WHPNkaBsbEefU=,tag:J3pBI2dGVE0KQlyb2yeZsQ==,type:str]
        - ENC[AES256_GCM,data:+2X8ErW5pfM9SpEe1vd6Bw35MzAz8aaTbSjBfDwScUYEqGVFkNwDVUQ/Imk=,iv:nrho0s53/x+Vk9y9ZH1xA8+xnshXSOwvC0Nfedw1VdI=,tag:Sb7BMDF/5910nGWPZvphBw==,type:str]
        - ENC[AES256_GCM,data:hT6I8jR+1PprgK/oZcqR4OD/0Wl2s7fazP3IQiaRGtYBVpRdgZzsCG2JYnjzVg==,iv:N6TRwTQfLbCTDoOFAr6qMx5DNN4Z0WjXyeye6tpNrkw=,tag:x9+F5AlKSryuPkdwscW8ZA==,type:str]
        - ENC[AES256_GCM,data:yiiVH8epET78trMnWok95wdSabQJOfdXcQWK8C6sohoVj7h/CEP/79/xqavckIBPvNpAG44=,iv:G/KDeGPbpUbJKiogDDaD2rDcj/cdoD9SxJ6DdXBaOWY=,tag:8uGjjXFDGIt5GvC6PQF6Rg==,type:str]
        - ENC[AES256_GCM,data:mhpTqH2+QF4hEMRqpBV5PbS9YpisFbK7O/0Ton8bB604yufiTKvsYMUqXBbAXVN1,iv:tPi0TejkkfNSs+6rtQJ6KJGn9w1n0jrcoq2Wz0igiTw=,tag:h6VP3kCw5LbuHzAl7u8TFw==,type:str]
        - ENC[AES256_GCM,data:fn5KwXNvhwC2vTrYss5NUaMt2Vu8jM7ERRkJsy3gWK9h7DnQ6zMaS8H6ylXHVNUK3YTIPaHBDg==,iv:QIJOURRIHV3SYJ8jdqZ/2zPbEihNdr6o+P2Yikla/3M=,tag:Wdwu2QJxUbJyPmp36tW9/g==,type:str]
    customSettings:
        - dhcp-option=252,"\n"
        - dhcp-option=vendor:MSFT,2,1i
        # DNS
        #- dhcp-option=6,192.168.1.232,192.168.1.1
        - dhcp-option=6,192.168.1.232
        # NTP
        - dhcp-option=42,192.168.1.1
        - dhcp-range=::,ra-names
        - server=/geekbundle.org/192.168.1.1
        - ptr-record=1.1.168.192.in-addr.arpa.,"despair"
        # TFTP Boot
        - dhcp-match=set:ipxe,175
        - dhcp-boot=tag:!ipxe,ipxe.pxe,dns01,192.168.1.11
        - dhcp-match=set:efi-x86_64,option:client-arch,7
        - dhcp-boot=tag:efi-x86_64,ipxe.efi,dns01,192.168.1.11
        - dhcp-boot=http://192.168.1.45:8043/boot.ipxe
        # DHCP Reservation with different dns server
        - dhcp-option=net:customdns,6,9.9.9.9,1.1.1.1
        - dhcp-host=net:customdns,EC:79:49:51:64:16,192.168.1.187,ipl06002-lan
        - dhcp-host=net:customdns,F4:4E:E3:2C:C2:B6,192.168.1.56,ipl06002-wlan
        # DHCP Reservation with unrestricted youtube dns server
        - dhcp-option=net:youtubedns,6,192.168.1.234
        - dhcp-host=net:youtubedns,AC:3E:B1:A6:AF:D6,Pixel-7-Pro
        - dhcp-host=net:youtubedns,E0:80:6B:37:56:83,Redmi-Note-11
        - dhcp-host=net:youtubedns,74:58:F3:E7:3A:04,Fire-Cube-lan
        - dhcp-host=net:youtubedns,48:43:DD:6E:CC:2D,Fire-Cube-wlan
        - dhcp-host=net:youtubedns,F0:27:2D:D7:41:97,Fire-Guest
        - dhcp-host=net:youtubedns,00:e0:4c:7b:c2:98,Sanctuary
        - dhcp-host=net:youtubedns,8c:8c:aa:32:ce:7a,IONB000201752-LAN
        - dhcp-host=net:youtubedns,4e:80:5d:ae:a9:dd,IONB000201752-WLAN
        # HTTP Boot
        #- dhcp-match=set:efi-x86_64_http,option:vendor-class-identifier,0,10
        #- dhcp-boot=tag:efi-x86_64_http,"http://192.168.1.45:8043/ipxe.efi"
        #- dhcp-boot=tag:!ipxe,"http://192.168.1.45:8043/ipxe.pxe"
    #customCnameEntries:
    #- cname=www.youtube.com,restrict.youtube.com
    #- cname=m.youtube.com,restrict.youtube.com
    #- cname=youtubei.googleapis.com,restrict.youtube.com
    #- cname=youtube.googleapis.com,restrict.youtube.com
    #- cname=www.youtube-nocookie.com,restrict.youtube.com
# Not required. We're running a dhcp relay via host network.
#hostNetwork: "true"
capabilities:
    add:
        - NET_ADMIN
        - CAP_SYS_TIME
        - CAP_SYS_NICE
persistentVolumeClaim:
    enabled: true
    existingClaim: pihole
    #storageClass: longhorn
    #size: "10737418240"
podDnsConfig:
    enabled: true
    policy: None
    nameservers:
        - 127.0.0.1
        - 1.1.1.1
#affinity:
#  nodeAffinity:
#    requiredDuringSchedulingIgnoredDuringExecution:
#      nodeSelectorTerms:
#        - matchExpressions:
#            - key: kubernetes.io/hostname
#              operator: In
#              values:
#                - node03
probes:
    liveness:
        initialDelaySeconds: 30
    readiness:
        initialDelaySeconds: 30
affinity:
    podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole-02
              topologyKey: kubernetes.io/hostname
    nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
                - matchExpressions:
                    - key: node-role.kubernetes.io/control-plane
                      operator: Exists
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwYndGbkZxWTdicWYxS01w
            MHFlRjlTNGl0bE9yWC84RnJSQTM1THNDOVR3Cit4Wm51ZGwwUzBFMFY5dy8xa3Vj
            NDlsYjVjWUNWRlNDYmdTTXg0TU5BenMKLS0tIFR1SndVWDR2MWUrV3k0TnlGdjdG
            cmZldTBabXYrZkhqWjlacEdmdnMraE0K7B5BdnVKIh7C5mnBJjm9OPEm/z4SRVwz
            0BPWH1+I4CzdH0ltt0PcKkb4BxRtp+3JVB+B1TXmZMLdPk31+LVPSg==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNNE9GVEdXYldKOFAvcGJz
            SFhpU1lYdWFIeWpxOW1sTkRHNWcxMnc0cnpJCjR3Z2JndCtxMkx2eStzN1NONjJr
            NTZURVEvY2xJN2JMSVNhVVdmR1V0MG8KLS0tIHFBUGxLQk0yUFVIMnVCaklla3JK
            SzIwMmV6bTMrVmVEaEFXamJhRUNoaTgK+5CxvJsgBij2L4JSLH893XCR1bm0J3Cw
            UF1SFno3BeZaPmsJJ/q/hObni5TnqQGdODE2xGwpLCmsv3FTSNM9ww==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-24T21:00:34Z"
    mac: ENC[AES256_GCM,data:JzRoGtEixv8W/PBNjxGYc0YlNARx23k7HEVFxEQ0GUXX93WmmQlbctkxrtPe5mVKZGTdpbe2O0UYGlVhCrLVeq46ghJS//R9cdwJ28UeiMoYAuaetZ4Cem6aFb0gcu/p9qhz3cpMmcWH+bEfXzxlV//Nd2Z33/xVhN7Br+q2AeU=,iv:OSy4mnJf+cz1ewknBqUZJwsD+xnHYlhQJRCYSH8Spp8=,tag:kfwqhnNfsS96dLY8U+/xkA==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
