image:
    repository: ghcr.io/pi-hole/pihole
    tag: 2025.11.0
    pullPolicy: IfNotPresent
revisionHistoryLimit: 2
serviceDns:
    mixedService: true
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    # type LoadBalancer with externalTrafficPolicy Local
    # requires 192.168.1.232 on the same node as the pod
    type: LoadBalancer
    #externalTrafficPolicy: Cluster
    #type: ClusterIP
serviceDhcp:
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    type: LoadBalancer
virtualHost: ENC[AES256_GCM,data:RayZ2Da0z7sobpejZiXGsEdtqkSDuFVvQKqNNw==,iv:WJWI2N7L1mLY/m4JYrU5oVx7mIwogxS5aBpsImIMuD4=,tag:uTOxzTYDhhj6bqciGKfSDw==,type:str]
ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
        - ENC[AES256_GCM,data:bCNGOEw5qXSaLTxd4WkdqRHM6lbqNZLCtf7C2w==,iv:WaOYlQFmGfY6Hoxju1UUlUdzgUGEk61qEkskKYxEd58=,tag:8zO5AKjWWIxqxK56036wnA==,type:str]
    tls:
        - secretName: wildcard-cloudflare-production-02
          hosts:
            - ENC[AES256_GCM,data:yXky4m9RDCJ7pHWqcx3GpSOeVaTACiIwTChcQg==,iv:kdG3zplLY8CNbYaOiEcbb9kyOQ4gfFNBXnSqiSi5Rvw=,tag:At3CW1IjECehZsbOs8IKMA==,type:str]
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239, websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd, traefik-root-to-admin@kubernetescrd
resources:
    limits:
        cpu: 1000m
        memory: 768Mi
    requests:
        cpu: 100m
        memory: 128Mi
extraEnvVars:
    TZ: Europe/Berlin
    #FTLCONF_LOCAL_IPV4: 192.168.1.232
    #FTLCONF_dns_dnssec: true
    FTLCONF_dns_bogusPriv: true
    FTLCONF_dns_domainNeeded: true
    FTLCONF_dhcp_start: 192.168.1.50
    FTLCONF_dhcp_end: 192.168.1.200
    FTLCONF_dhcp_router: 192.168.1.1
    FTLCONF_dhcp_leaseTime: 12d
    FTLCONF_dns_domain_name: neese-web.de
    FTLCONF_dhcp_rapidCommit: true
    FTLCONF_webserver_interface_boxed: false
    #FTLCONF_MOZILLA_CANARY: true
    #FTLCONF_BLOCK_ICLOUD_PR: true
DNS1: 127.0.0.1:5053
# Not required because secured via authelia oidc
admin:
    enabled: false
doh:
    enabled: true
    pullPolicy: IfNotPresent
    envVars:
        TUNNEL_DNS_UPSTREAM: ENC[AES256_GCM,data:iHziX9l5YPATSGKkCBRMCaqeuV/pDFy5xixuCydtzjlkMVHX,iv:9dbOzP6ZxtboqICCTUSWa4m+QPGtTJk5Ug2Dcel6vrc=,tag:1TZO2m9Q/B7r3cHBZnB0DQ==,type:str]
dnsmasq:
    # Contains internal wildcard domains:
    # - address=/.example.com/192.168.1.45
    # - 'address=/.example.com/::'
    # - address=/.k8s.example.com/192.168.1.231
    # - 'address=/.k8s.example.com/::'
    customDnsEntries:
        - ENC[AES256_GCM,data:5AX5aiYJMzCE2G9gmqQVBsQT6aXyl9GFLFOOOBMRnil6/rY=,iv:1wjCSXl/QA/L8qzcV0Gntmcrrn6jA3VTCQmE/P/y1MI=,tag:n/lQxPS9DjDkQ2fgZ+SM6Q==,type:str]
        - ENC[AES256_GCM,data:t3C36aER3ITRkrbEXAxzBXZp/d0Zq0U4nw==,iv:R0hmNNRb3jIiHb2QikOIXTvEIoD835hJ8y06tLZgK7U=,tag:j0igbPloBfS8p3dfEPZinw==,type:str]
        - ENC[AES256_GCM,data:OYuDWmwSklrt5EI+9wZ3htH/0XpUO658VqHnrFMGDE6R09KvnxXtjg==,iv:pIG2/sjp4cAn49l+mDoIrH2QSNg/wXjlJ0GPbUJedtI=,tag:xjdlazYfxQqm67j2O5kkBA==,type:str]
        - ENC[AES256_GCM,data:55qiwitsg5MnTKoPFs3uttkt5/wzzPYuYmASJjA=,iv:IMHM5vqfEPnJN432ddbEBkaW3vd4PzthSxBrsFP7A4s=,tag:F+AUM8ScaRLV33iRI45iMQ==,type:str]
        - ENC[AES256_GCM,data:yCO+mylFnT7jizOWIpM0AtTFCs5kS84xTsxiv+f3/kOxqK7h1hMSuNSwlqcN,iv:oBI3I2PBIK+LIjJEOuflSC0Qmb9plmkjO3qwG3q1W/w=,tag:qX7yoJwbfpJZw1VDadmQgA==,type:str]
        - ENC[AES256_GCM,data:FErFbKcFpdxz2k+TH9zCtWGR4VREvrrI32RfL45tVAnJ+Q==,iv:HPk9TyZ2KDQqI90Qe3NfGWe9l8/k5HtMy7I2DUULYcE=,tag:wTgI0voYi8Jq5gv2GHATjg==,type:str]
        - ENC[AES256_GCM,data:ys4rAlMjxZtZgHGdEb8cEZke+0+D6Gv0uHubPjM+h3wYBxQw9Yxw01Lq9OThwXc=,iv:xTeBAQmec30GMsnQ8FU77ILmww7n2qvkFIv7mdq6zag=,tag:peyRWNdYbfxggphUC+IR/A==,type:str]
        - ENC[AES256_GCM,data:Qi1C2En17dVkaNqEXFN0BSMdZ3tVuPFVFaqp++hD8yeNqdntui8QBad+yVQE8Po+HCzsjQ1x,iv:+P7iYZxb3BzfsMoG1OehohxbYMi3UxxNmMePEXG8u74=,tag:0NvEsgTqfr/DffXiThvcPg==,type:str]
        - ENC[AES256_GCM,data:TwZVZ7ki+uYfbF6tOvkR7rHVSi8tB6+bo2E1AlURyuxnO1wWbsiL,iv:w11yVTaAnWEPo6cWOka18MGaosqrt2AyIEzTDje4F8U=,tag:l9ziyst6pdU/ysddBdR3cw==,type:str]
        - ENC[AES256_GCM,data:kxix93vZFT8DixEaIroPj/g1mvlxFg2UsxezRy34yI3RW5NieY0Ds3YfvMdYtg==,iv:B+2YiGkvSU9UL3GlIkBZR3/MUk/pbrvVyshrBb6ZRxQ=,tag:9I6TXjYGnCxnPvazkALScQ==,type:str]
        - ENC[AES256_GCM,data:qExzq3gBknD3hG8WlJc9ucHGQryJ2XgqYUKYrg/C/ULJXE0A3Q==,iv:v645Trw/zQzJUJ8GXBs5a9QO1JaPZyrW7AjGrBwCpjw=,tag:wgFbxHWGPbASlgPPNPrs6w==,type:str]
        - ENC[AES256_GCM,data:nMEibKneCsdgnxmRF4OkUfyxZlVw0pkyL/2khAxMT0EZDLacbSQsZunwUq8=,iv:zBI4CSxziidOVxb9s+dCSJKCq4ULuxLxFr1Uloz5DKY=,tag:WK1/dc+94Jp5wXfnvMzFLQ==,type:str]
        - ENC[AES256_GCM,data:UBOg8h5EDfiEmiUsHY/nzD66jf6x0JlH01Y0ZVpacdHWgyNUffgSWT2+aETRGQ==,iv:39Xu+LQaFgARLNEbeP8QyOLZ7p37xNcIY/mVimRqG5s=,tag:6PrQ0YQ8wTWScnqo6RLeaQ==,type:str]
        - ENC[AES256_GCM,data:AOpkWdKyYb6cv5Lj7fS1pA2/i01o9l1xxs5zfBplRofAd3FtkheFqfm/GJMoY3kaqN7zKgo=,iv:hM91spxuESh/lrWwqekzePtcx+GuCp9qDYTKtDoYW8I=,tag:N7vMK/dFoo+PN/KL1Cgjzg==,type:str]
        - ENC[AES256_GCM,data:CbH2J4ncr8/Yj+c7mIdnr0cLK8YzZGSpMgNcRXb6D1zUVLyBFEr3u2e7K3enH90s,iv:CDP4o2W/7Jy258WN5DEE4A6g7DjR0s/cj8QJ1TRbDg4=,tag:HWly39wh7bKasMZVwoUDpg==,type:str]
        - ENC[AES256_GCM,data:Curq4ASRcNOMZIz6dnm/0BLkzrB8ffT6Jy7IAuDhZnYKPC1YEaGvxKNGcqztV9dBDYDeOGIR8w==,iv:sWP7i4qcCFClugD6jtvofst/XNZrxSD96M0bd+VwfPA=,tag:vJ+0g+b0cqakIGYebV6jiQ==,type:str]
    customSettings:
        - dhcp-option=252,"\n"
        - dhcp-option=vendor:MSFT,2,1i
        # DNS
        #- dhcp-option=6,192.168.1.232,192.168.1.1
        - dhcp-option=6,192.168.1.232
        # NTP
        - dhcp-option=42,192.168.1.1
        - dhcp-range=::,ra-names
        - server=/geekbundle.org/192.168.1.1
        - ptr-record=1.1.168.192.in-addr.arpa.,"despair"
        # TFTP Boot
        - dhcp-match=set:ipxe,175
        - dhcp-boot=tag:!ipxe,ipxe.pxe,dns01,192.168.1.11
        - dhcp-match=set:efi-x86_64,option:client-arch,7
        - dhcp-boot=tag:efi-x86_64,ipxe.efi,dns01,192.168.1.11
        - dhcp-boot=http://192.168.1.45:8043/boot.ipxe
        # DHCP Reservation with different dns server
        - dhcp-option=net:customdns,6,9.9.9.9,1.1.1.1
        - dhcp-host=net:customdns,EC:79:49:51:64:16,192.168.1.187,ipl06002-lan
        - dhcp-host=net:customdns,F4:4E:E3:2C:C2:B6,192.168.1.56,ipl06002-wlan
        # DHCP Reservation with unrestricted youtube dns server
        - dhcp-option=net:youtubedns,6,192.168.1.234
        - dhcp-host=net:youtubedns,AC:3E:B1:A6:AF:D6,Pixel-7-Pro
        - dhcp-host=net:youtubedns,E0:80:6B:37:56:83,Redmi-Note-11
        - dhcp-host=net:youtubedns,74:58:F3:E7:3A:04,Fire-Cube-lan
        - dhcp-host=net:youtubedns,48:43:DD:6E:CC:2D,Fire-Cube-wlan
        - dhcp-host=net:youtubedns,F0:27:2D:D7:41:97,Fire-Guest
        - dhcp-host=net:youtubedns,00:e0:4c:7b:c2:98,Sanctuary
        - dhcp-host=net:youtubedns,8c:8c:aa:32:ce:7a,IONB000201752-LAN
        - dhcp-host=net:youtubedns,4e:80:5d:ae:a9:dd,IONB000201752-WLAN
        # HTTP Boot
        #- dhcp-match=set:efi-x86_64_http,option:vendor-class-identifier,0,10
        #- dhcp-boot=tag:efi-x86_64_http,"http://192.168.1.45:8043/ipxe.efi"
        #- dhcp-boot=tag:!ipxe,"http://192.168.1.45:8043/ipxe.pxe"
    #customCnameEntries:
    #- cname=www.youtube.com,restrict.youtube.com
    #- cname=m.youtube.com,restrict.youtube.com
    #- cname=youtubei.googleapis.com,restrict.youtube.com
    #- cname=youtube.googleapis.com,restrict.youtube.com
    #- cname=www.youtube-nocookie.com,restrict.youtube.com
# Not required. We're running a dhcp relay via host network.
#hostNetwork: "true"
capabilities:
    add:
        - NET_ADMIN
        - CAP_SYS_TIME
        - CAP_SYS_NICE
persistentVolumeClaim:
    enabled: true
    existingClaim: pihole
    #storageClass: longhorn
    #size: "10737418240"
podDnsConfig:
    enabled: true
    policy: None
    nameservers:
        - 127.0.0.1
        - 1.1.1.1
#affinity:
#  nodeAffinity:
#    requiredDuringSchedulingIgnoredDuringExecution:
#      nodeSelectorTerms:
#        - matchExpressions:
#            - key: kubernetes.io/hostname
#              operator: In
#              values:
#                - node03
probes:
    liveness:
        initialDelaySeconds: 30
    readiness:
        initialDelaySeconds: 30
affinity:
    podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole-02
              topologyKey: kubernetes.io/hostname
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBQS2hiWEFDdTNlS0EyVUZO
            dFpVYkhvMGtjZ3pUQldSSmhJNHFucE41dURVCkZrZ1BaNGw3SUdqSlJnYkdlUkRS
            b0ZSZmROYVpxdWdTL3JLend2Njc5akkKLS0tIFBObUN0S2ttU3YwVlFiMjJKMGZ0
            eHNzNENyU2txRjBQUC9DRVgycXFXQW8KtHQhTlaKujsaRLkFDx64CNUE7zZbz2f/
            NYZ8PiUVMp/FMs9bnfwlKJSSE0kJ3tw0zNLel464gngfd/GPAYMPlA==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBpVU5iNFFGbEFmUkdISHdv
            eXFMTnRvMFJSS29vbkdhZ3ZQMmRNTFpxN0NvCkZMakR0MVEwTTJxRStEV1Q5WEU3
            bHgrWFI2alpjSnRiMDVySkU2MnlPMVkKLS0tIFRJcmJCb1I0ZExtcXpueFA4SHgz
            YjZlRXF5dFVvK1NCZU5lbjduZHJVeXMK+mJTWL3Ykb5JEG2rIHmE5LeFI8l2a8cw
            EWdwyel1SRclOrcb8NOsLX+Yg14n+rWhvcIqk3SCN1UtSswbVweavQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-15T13:37:10Z"
    mac: ENC[AES256_GCM,data:EPUShFBVGVZiMTHJ1FnnM/yJpWBiivfMrGVR0duvLygunbFD5bXyk1gRVjo25BPlwXecqZFsEK9WWmMegPFtpy8sPxoIFPeBIZJOhCbJIVXwKn14KlM4GlyHQcXgf7mtNBl9pffeBrbwo6eS/f01oetDlaXdMlSegt5W2DwVc3A=,iv:psLgoaNjSlbTB5AVVW934Nko+rgjjdpnaV4kniPEBHA=,tag:RnpAmbMItYpDXsFhGUN7nQ==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
