image:
    repository: ghcr.io/pi-hole/pihole
    tag: 2025.11.0
    pullPolicy: IfNotPresent
revisionHistoryLimit: 2
serviceDns:
    mixedService: true
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    # type LoadBalancer with externalTrafficPolicy Local
    # requires 192.168.1.232 on the same node as the pod
    type: LoadBalancer
    #externalTrafficPolicy: Cluster
    #type: ClusterIP
serviceDhcp:
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    type: LoadBalancer
virtualHost: ENC[AES256_GCM,data:NlcomFhWHFpUulZZF9nwAO5ngg5RAd99mIh0eQ==,iv:hQBD7KrM2qSLUIMd/M3h7Eo+kZ3wIMrLoDg/rj41AO0=,tag:UE4pJnNE781ZkH1W02qk4A==,type:str]
ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
        - ENC[AES256_GCM,data:mictrdPZyqxcLZaQDtJ0UV+cPPUCiLOiSYYuaA==,iv:Zi6Az/ZQqwBtj4z211t7tYaosLtDEUHIkYZe2kB+nfs=,tag:4ekZ15dTnWXXfxP4pxllSA==,type:str]
    tls:
        - secretName: wildcard-cloudflare-production-02
          hosts:
            - ENC[AES256_GCM,data:GEJvdFYgRYB3RQDD/VGMqBQqH7BvwbuAinOG2Q==,iv:sYzFRVLCB8qCAndYOpegtTtiHsLA3eNKxpI9jUZVoIU=,tag:MjlHgXlxiU5edZR/QPCMoQ==,type:str]
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239, websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd, traefik-root-to-admin@kubernetescrd
resources:
    limits:
        cpu: 1000m
        memory: 1024Mi
    requests:
        cpu: 100m
        memory: 128Mi
extraEnvVars:
    TZ: Europe/Berlin
    #FTLCONF_LOCAL_IPV4: 192.168.1.232
    #FTLCONF_dns_dnssec: true
    FTLCONF_dns_bogusPriv: true
    FTLCONF_dns_domainNeeded: true
    FTLCONF_dhcp_start: 192.168.1.50
    FTLCONF_dhcp_end: 192.168.1.200
    FTLCONF_dhcp_router: 192.168.1.1
    FTLCONF_dhcp_leaseTime: 12d
    FTLCONF_dns_domain_name: neese-web.de
    FTLCONF_dhcp_rapidCommit: true
    FTLCONF_webserver_interface_boxed: false
    #FTLCONF_MOZILLA_CANARY: true
    #FTLCONF_BLOCK_ICLOUD_PR: true
DNS1: 127.0.0.1:5053
# Not required because secured via authelia oidc
admin:
    enabled: false
doh:
    enabled: true
    pullPolicy: IfNotPresent
    envVars:
        TUNNEL_DNS_UPSTREAM: ENC[AES256_GCM,data:ofIsD8bw7IBZX0DCtu3rRi27GSOJCLMddb8K+v000x2vt9pY,iv:D6Trj0Qb3TJob7uoD5WpbUaDFwCUJIyPx3UASnU3Lbc=,tag:Xd4CpJZd20LW2pOKZ+Zvwg==,type:str]
dnsmasq:
    # Contains internal wildcard domains:
    # - address=/.example.com/192.168.1.45
    # - 'address=/.example.com/::'
    # - address=/.k8s.example.com/192.168.1.231
    # - 'address=/.k8s.example.com/::'
    customDnsEntries:
        - ENC[AES256_GCM,data:3b+uhHqobRpx/42JG9T+1k5A2gKxseX4FgIqywq3PutfvOU=,iv:yBD++RL3GR57Cg3Nfdtb/7D3jmjDuvTgO/oWI4tvogU=,tag:LU+gTWljtbP/x3lQf6KbxQ==,type:str]
        - ENC[AES256_GCM,data:WDmqi1IMJ7MdinGEQJrnJJCQ7newrp5uGw==,iv:AMNAHy3MfI0QVeVQfkB8Sv12EjzENx+hrrBWT0U5Bv4=,tag:4Yr36P1rNSyqliQ/WD1LTg==,type:str]
        - ENC[AES256_GCM,data:iJaJpOWKGF2YVgO9lltb2dUMTpemqv6+i8gcUSwGKx8aitd+5ilDkQ==,iv:DI5WgOYOsYnsLFlwqgZpzOMd7JoQdhfiB1qfivPBNKY=,tag:vP1KquPGEa5TLY3M4SVQNw==,type:str]
        - ENC[AES256_GCM,data:g+jPeDj4kfFIhGaBu7rd4OaLgVJ7TWrtlVkwhBM=,iv:7IRlfDCH4dSlVs0Dtn4UqtRDPqanQbtQ6jqSK6SxRJs=,tag:Jy3Ny0pHBNEKuoaABMhBOw==,type:str]
        - ENC[AES256_GCM,data:FB4g6PPoD9bM3W6nFyrN3nmr71bgRaLbjvwNN0jDZ/9ZiSXDFi9bWjtMez3R,iv:iXPr/jXKJYL/1C/UQZY36zNBQgNP5lp4lGPZYqzOQAc=,tag:IFvVp38L+qu8Kkzd2t0ixA==,type:str]
        - ENC[AES256_GCM,data:OOKD0liqkw9fpOlHL2vCqrhHiCqcnzrbD1V+fZVbggqsSg==,iv:96WE3ArjuLAYdYQfO4+E4TRhUO3PGBwz8l+cZ1HDAMc=,tag:2Y6ofpJT1CbqFXCNCYHpiw==,type:str]
        - ENC[AES256_GCM,data:4EEk0K3YTGd/SRRtuxx08PQYYdD7cMfn0qRxSYgwENzO1gxsVRL7azqe9y5V0bE=,iv:QDtYl4jNRF2K52QZ2K54Us11PpSg64vU1I5ifsPvqoo=,tag:UXYN4YniX/gUmcbZhoD8NQ==,type:str]
        - ENC[AES256_GCM,data:3dlpLkqApDV1rOjz1PLBN6pemfM0d2VLBvXgh/plJpuIy0SI+KSXdd4dMnKl9zWuZ4KW/vbV,iv:DXWNr1rHoYd0dTR6/ch6CgQXhbowbvzkC36I7OcAFLk=,tag:zq3+Qkexr/GGRHdJR1i59Q==,type:str]
        - ENC[AES256_GCM,data:lB3xQYoo75f5QLEedQ6foaF8dtLifIvbaawTK9cPJesQOsw5GXD5,iv:cB7oSyvnsonOfli+4Hmfod+sw3mnq8vkEPIeer0ziZo=,tag:Hhhg4CGUirU1hLUzfmdiMQ==,type:str]
        - ENC[AES256_GCM,data:tfZn5Rtbovl4FKebKpCnnH+7PB2HOVZtTwiSTBTsgylfH5zfqmvrsIAtKRbW2w==,iv:gcvAFCoLgakF3i+TIJbX7JBm9be3IIY9uKnqVm7Z7eA=,tag:stiTDnxgUmt1M6nRHeMm5w==,type:str]
        - ENC[AES256_GCM,data:ki+AuXzyngoJ1NjIxSETNQXv1BKQfcMSq/nbFH5writcstq0LQ==,iv:GFlavYFGMJ0uAxqDPBR8iKz4Zwk1EZgajamCq5M5J/E=,tag:hQqFTPnGSWnSGFZg8j0pFQ==,type:str]
        - ENC[AES256_GCM,data:qzK26pvZU77htgcZwPmbuHxLP4+7yvK65Up59xaDrNEkI3nQhd8xgzRRKsw=,iv:HjkelwUj/DktwQfpjQg+thZ/ThGYfroeeZcUut4xpfA=,tag:ubei/dpXH0+2tDKTh9NObQ==,type:str]
        - ENC[AES256_GCM,data:lhilJr0NJHH/n0hYmE4KTYSv26mN4dcBnvjM/dtoVol/wDTqigP4Hgvi0gjZ4A==,iv:pCWxyANfa8AqHtU1EwYtRPzEHTNjd9xKC4gGNaKZJR8=,tag:rMFJAD5uyI+UnrH/QmAI5g==,type:str]
        - ENC[AES256_GCM,data:ef2KgOWbdYbxqkycLKwYVARkqBGWNAk6NoG8tklYu4+o1Q+ab8DQKxOXP/aHS50s/Ao2YY8=,iv:MRsd9wjF9eG440XUgheC7IQcOc/FNR9024d3mjCFRuQ=,tag:nJ16bkweHirVaQzS/PP3Zg==,type:str]
        - ENC[AES256_GCM,data:XYKfzcPhuoWbC+4qjaZYzMrnHSXuldRfyEZnOtoUHqWmfUTBXiQjuR9t2O5xtMjX,iv:B3Tt6WP+XUuoBTrfxzlMtjFH4D94Wpozrk/476nnFpw=,tag:XKmLa0G01XAJOKVP2kc49w==,type:str]
        - ENC[AES256_GCM,data:jowlVZp+Mo54b9fs4UARfZTQ5yv7eJ+AR5rZq6JLxyh/hqYaNatK/XjJNxQPBd4etk1sf2XBUw==,iv:Xhq5ud8nZqpbslwWTZDdmWtMw1jV2YHnnHESPP31YRw=,tag:nPgPNP5sAlvIcgtbIuvzMw==,type:str]
    customSettings:
        - dhcp-option=252,"\n"
        - dhcp-option=vendor:MSFT,2,1i
        # DNS
        #- dhcp-option=6,192.168.1.232,192.168.1.1
        - dhcp-option=6,192.168.1.232
        # NTP
        - dhcp-option=42,192.168.1.1
        - dhcp-range=::,ra-names
        - server=/geekbundle.org/192.168.1.1
        - ptr-record=1.1.168.192.in-addr.arpa.,"despair"
        # TFTP Boot
        - dhcp-match=set:ipxe,175
        - dhcp-boot=tag:!ipxe,ipxe.pxe,dns01,192.168.1.45
        - dhcp-match=set:efi-x86_64,option:client-arch,7
        - dhcp-boot=tag:efi-x86_64,ipxe.efi,dns01,192.168.1.45
        - dhcp-boot=http://192.168.1.45:8043/boot.ipxe
        # DHCP Reservation with different dns server
        - dhcp-option=net:customdns,6,9.9.9.9,1.1.1.1
        - dhcp-host=net:customdns,EC:79:49:51:64:16,192.168.1.187,ipl06002-lan
        - dhcp-host=net:customdns,F4:4E:E3:2C:C2:B6,192.168.1.56,ipl06002-wlan
        # DHCP Reservation with unrestricted youtube dns server
        - dhcp-option=net:youtubedns,6,192.168.1.238
        - dhcp-host=net:youtubedns,AC:3E:B1:A6:AF:D6,Pixel-7-Pro
        - dhcp-host=net:youtubedns,E0:80:6B:37:56:83,Redmi-Note-11
        - dhcp-host=net:youtubedns,74:58:F3:E7:3A:04,Fire-Cube-lan
        - dhcp-host=net:youtubedns,48:43:DD:6E:CC:2D,Fire-Cube-wlan
        - dhcp-host=net:youtubedns,F0:27:2D:D7:41:97,Fire-Guest
        - dhcp-host=net:youtubedns,00:e0:4c:7b:c2:98,Sanctuary
        - dhcp-host=net:youtubedns,8c:8c:aa:32:ce:7a,IONB000201752-LAN
        - dhcp-host=net:youtubedns,4e:80:5d:ae:a9:dd,IONB000201752-WLAN
        # HTTP Boot
        #- dhcp-match=set:efi-x86_64_http,option:vendor-class-identifier,0,10
        #- dhcp-boot=tag:efi-x86_64_http,"http://192.168.1.45:8043/ipxe.efi"
        #- dhcp-boot=tag:!ipxe,"http://192.168.1.45:8043/ipxe.pxe"
    #customCnameEntries:
    #- cname=www.youtube.com,restrict.youtube.com
    #- cname=m.youtube.com,restrict.youtube.com
    #- cname=youtubei.googleapis.com,restrict.youtube.com
    #- cname=youtube.googleapis.com,restrict.youtube.com
    #- cname=www.youtube-nocookie.com,restrict.youtube.com
# Not required. We're running a dhcp relay via host network.
#hostNetwork: "true"
capabilities:
    add:
        - NET_ADMIN
        - CAP_SYS_TIME
        - CAP_SYS_NICE
persistentVolumeClaim:
    enabled: true
    existingClaim: pihole
    #storageClass: longhorn
    #size: "10737418240"
podDnsConfig:
    enabled: true
    policy: None
    nameservers:
        - 1.1.1.1
        - 127.0.0.1
#affinity:
#  nodeAffinity:
#    requiredDuringSchedulingIgnoredDuringExecution:
#      nodeSelectorTerms:
#        - matchExpressions:
#            - key: kubernetes.io/hostname
#              operator: In
#              values:
#                - node03
probes:
    liveness:
        initialDelaySeconds: 30
    readiness:
        initialDelaySeconds: 30
affinity:
    podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole-02
              topologyKey: kubernetes.io/hostname
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBsVit0Vk9iNDRoWk1EOG9U
            S2I3VXBGcUlrZmdJL2I3dlR4VFc0S0EyUDFVCnJ5TmFLYzJ2V1pPcGM3NFZnbDNZ
            TFhHb254Rm8xd3NpeEdrbGlrQzNGbTgKLS0tIFQ0NHR0dXdBclp4ejA0QkhxSzhw
            cmdDWUR3LzQxaHJIUmw5OGtLVGVScTAKpV+i/Aj77JWdlKy8VayxNnwn/wlg8Mr9
            4QXv2TvQDU2XzaBwwbjPb3u81nPYObyU8BHQkwsslzqF7a2e9b32Xg==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNVkRYdkEwektnancvMi8y
            RXNsakt4NkdLTXRydHhXZUJjdGlvZVpGUGw4CmpLbHcwOUwyNUpUM1VXZ2Y4eWNK
            d0JMVDM4YnFwUit0SGFWVjR0UzZGakkKLS0tIGR2bC90YkROSlU0cmxKTmU0N1A3
            WlRRWk9oY0dDTURsMEZwRDFjWmZPN1kKGHJCrLifxCDSE/zrMZBiICCniWrSIOpw
            9VFs+T5b0/h03jlOB8Lio9Hs6Iw7gj+UAEw9g+6c2S9wrLLHYi/WRQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-23T17:20:15Z"
    mac: ENC[AES256_GCM,data:LaJ5q7CBdS5KPbOQDdF0QFCvygiqUc80mqgt7JY7BO+dEV4IG2uKRGWPIya+adQi3sPx1fDwGSBtxQFvnAwRCQ9dQJcRjhdPEJQjJhXVJXWCFctEZFFqO5YfZ6rhJVHMtPZ/Lmoq9C/H4odHarEEsO5dwNv6tFgjolXfJnivStY=,iv:S/WgO8zTvSe/P4KkCOWImdPFzU3NKMKLO+gYq5mfq4Y=,tag:Dx6Z9SER8OD5JiXwT6wwkQ==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match|instance)$
    version: 3.11.0
