image:
    repository: ghcr.io/pi-hole/pihole
    tag: 2025.11.0
    pullPolicy: IfNotPresent
revisionHistoryLimit: 2
serviceDns:
    mixedService: true
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    # type LoadBalancer with externalTrafficPolicy Local
    # requires 192.168.1.232 on the same node as the pod
    type: LoadBalancer
    #externalTrafficPolicy: Cluster
    #type: ClusterIP
serviceDhcp:
    annotations:
        lbipam.cilium.io/ips: 192.168.1.232
        lbipam.cilium.io/sharing-key: piholednsdhcp
    type: LoadBalancer
virtualHost: ENC[AES256_GCM,data:YqqT5LrtDqb4t+LYybusx7nDhm/6gUm+fQ+G6w==,iv:3LGCrf7yzUy4IxTv3sQHQThBT9FJjvWarcFVtnMwhv8=,tag:fxilr4Itltl/XFH8Uju01g==,type:str]
ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
        - ENC[AES256_GCM,data:a8pORqYZynTkM85wr4XdWCOxOAFup27V0kek+g==,iv:TJynBk+uZBsAEWiLc3X2lwHPzNco+V5tYMdQY80kOjs=,tag:HtMoQRDJWkPh1nPTmyPeMw==,type:str]
    tls:
        - secretName: wildcard-cloudflare-production-02
          hosts:
            - ENC[AES256_GCM,data:MxAzoBeFZH55zS8m9Tw6ddkdXgu++EKK8fkiaQ==,iv:Tnjd7HaU/p2NqmppjVNVWSTAKOsy2lvdMN1ND95bmmQ=,tag:teifgVe2L0tUZpwzfB7seQ==,type:str]
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239, websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd, traefik-root-to-admin@kubernetescrd
resources:
    limits:
        cpu: 1000m
        memory: 768Mi
    requests:
        cpu: 100m
        memory: 128Mi
extraEnvVars:
    TZ: Europe/Berlin
    #FTLCONF_LOCAL_IPV4: 192.168.1.232
    #FTLCONF_dns_dnssec: true
    FTLCONF_dns_bogusPriv: true
    FTLCONF_dns_domainNeeded: true
    FTLCONF_dhcp_start: 192.168.1.50
    FTLCONF_dhcp_end: 192.168.1.200
    FTLCONF_dhcp_router: 192.168.1.1
    FTLCONF_dhcp_leaseTime: 12d
    FTLCONF_dns_domain: neese-web.de
    FTLCONF_dhcp_rapidCommit: true
    FTLCONF_webserver_interface_boxed: false
    #FTLCONF_MOZILLA_CANARY: true
    #FTLCONF_BLOCK_ICLOUD_PR: true
DNS1: 127.0.0.1:5053
# Not required because secured via authelia oidc
admin:
    enabled: false
doh:
    enabled: true
    pullPolicy: IfNotPresent
    envVars:
        TUNNEL_DNS_UPSTREAM: ENC[AES256_GCM,data:HSpcn7lEozN71a6ykMUvxkO8D05HePR6t9n381BsOzGD4w9k,iv:DwPexBS9BJZ7/njSbJC/bU5bhaKJubRzgxKIsBjd1hw=,tag:k5GteIElFVXSKI5KiVyAHg==,type:str]
dnsmasq:
    # Contains internal wildcard domains:
    # - address=/.example.com/192.168.1.45
    # - 'address=/.example.com/::'
    # - address=/.k8s.example.com/192.168.1.231
    # - 'address=/.k8s.example.com/::'
    customDnsEntries:
        - ENC[AES256_GCM,data:zCJD3FSSEofqSYY5lIFcfJbvAp6U3281/wDYHgguudMQ35c=,iv:mRWAk1ciJwgB5n+Gzgq/Lh2CLQs6a2S+QihAYETqanQ=,tag:ApA5s9jvIKYkHWPtOICDVQ==,type:str]
        - ENC[AES256_GCM,data:h2hsT8prML1E3qOhR5CWqBjThNZzK7stAg==,iv:uNDiYsvMue465oV+i2iFsPp9901/S7ZraXnBNjLJ3dk=,tag:WDXlaNv1USzKnqXCXqrDUw==,type:str]
        - ENC[AES256_GCM,data:PN7VKKQM7LbgMQaCxcozFVStauM4tNKWEB3+j4QKIIzoE8ZiJOHnWQ==,iv:oQSbufJDiTVDbsM7pG5M9ehgoAgejzZRrjaNKnw9ATI=,tag:ozJFKPH6T/7ld35a7j+qDA==,type:str]
        - ENC[AES256_GCM,data:wfySkeQLEnpZtsRd1wvaWdMSdNZiKWE6sf+UIGA=,iv:6xfhPkpqXgVSQ+JtYSgYaV7tCnGBExLTgWXOOObbW1k=,tag:UOAcnkyYl/vgm0an+Gne+w==,type:str]
        - ENC[AES256_GCM,data:QrIi4UXXnItGZy4wOLmFqcJLhgJ0DgkrmbtV180WMX07BBR3fz0aj/saX81X,iv:Ubp//58OV3BzrSkBbgIlz4QGAbBTg7+nt3WAr6mFceM=,tag:d0FF9W54+tym/60QpJfQQg==,type:str]
        - ENC[AES256_GCM,data:32zU+q/Isq6zCU66HMBsPTKIqMDd5YbZwZUzyGD+OimykA==,iv:OJ55qbn+/q3c8LHUlVlRQIvIPRK7bm48DIjWFPEVXhI=,tag:tQ+EIsOzRhBMYNFWUKvq+g==,type:str]
        - ENC[AES256_GCM,data:R6fVFmPY6fM/Fs0RP/z3fY4PNPkaz17AXycSUxKDQxf6hOgLbiarGjecWzko73U=,iv:iz+TgRWbneG8heq5SXvpc+gOSe6xCmlRCjCSIQQ3uJI=,tag:91G66pYDnh8cWjxP+wTpFw==,type:str]
        - ENC[AES256_GCM,data:aGQcA2BBQaiLAYlpChLP73x5rSZ/+MqhTyzh4E2Zs7rEtfW00jl2Co6eJ2aQ6K/DhtUAz8ng,iv:wwN0UHtE+MSLa1ULdggwHgjJ1v5WmwbL3CDY9KRbIYc=,tag:rzrJuGzluXvgMDgO0w4ocQ==,type:str]
        - ENC[AES256_GCM,data:qbmtu1RsKcLMuANtsNOKMpMule79fWV7zVNj0jt6KO1NnysAhYGC,iv:oJYJGzvtscT1jFuYCVrDYGK65GrmG5UG76ExR0aW7ZI=,tag:VVvk6Tp2XIVRmS2N/uE4TQ==,type:str]
        - ENC[AES256_GCM,data:AUL/9Qm3xsaAO7M6QGFtalGB9Eyci47gjPFQhD+aqqOk6iDwascF7Yv3fobnzA==,iv:P0yyYBBtWP+RPNb2JsDKCmVgGEKI9oyncXqhYZZR8kQ=,tag:1skVGeMTxXzCwKF8hhmzeA==,type:str]
        - ENC[AES256_GCM,data:74vdLyG1BpG2boIj43bx9BU2QleAsQq7xkE70yHhlh9liUC1Gg==,iv:v+ruoOVG7sLj+SqGF22ylJGzB/6bvyAg0rbCiYQRD6w=,tag:D/gYI3SVMjNDwXPdTU5QYg==,type:str]
        - ENC[AES256_GCM,data:xHMFdSw44Dx7bVgY7GgYmNnqJ2C3Omzu+eW6ORH5otJVWYMe+pCuLxkf0BY=,iv:JkO5JKMUtM8m++iNExcTCaIaXIFPz+GGmHuHMtqaPRA=,tag:bCUHYbOBP1005FmqHpegmw==,type:str]
        - ENC[AES256_GCM,data:5nRPHSlm0JUtPBULgfpovFgOfD1WewhO45ry7JHk62I1x62AvEziPdMsPCnq2Q==,iv:4EZWqO8LKjgiw48TTsYI43L3MSNdNhSW9LPHkuIX0Wc=,tag:nNC0WmYnEFPlpN8JLpUibA==,type:str]
        - ENC[AES256_GCM,data:VWjrYTf26MQQDZ8KQqgspjFwrn6frfHTwxqY/pkiL8RdlFvomzgg/9/6UJobY7VQUoe57S8=,iv:+IXKiBYKuCkN4HnTV2f77f8/cazd9KSkqVUn0upVmUc=,tag:yVgMdXqr5Du40oQdGh2w3g==,type:str]
        - ENC[AES256_GCM,data:mi0Voem0h3Tsf2MI9Nsn0DWXbZYN41jcqnACsujnOzAR5ujXjD5gvQJ0lStW+vEJ,iv:UspyTlIf3tYiBJLqBrHhfk5zCNMqegTR79OJ3J6PUgA=,tag:chURMGPXxwDXXsEkitQUHg==,type:str]
        - ENC[AES256_GCM,data:dp5GBbeKyqq7QhuzI9C7RumHcjoaj0OkZ47k2yE3ECW1lapZPdyZQfT6/7Gynu4DO1gYP/2U2w==,iv:/Z9KPqdfXfE0zVCO8WmNKMQLsgiMlcWT1yOur0YSNMs=,tag:qmnR4nQwejM5neUZ4ynsjQ==,type:str]
    customSettings:
        - dhcp-option=252,"\n"
        - dhcp-option=vendor:MSFT,2,1i
        # DNS
        #- dhcp-option=6,192.168.1.232,192.168.1.1
        - dhcp-option=6,192.168.1.232
        # NTP
        - dhcp-option=42,192.168.1.1
        - dhcp-range=::,ra-names
        - server=/geekbundle.org/192.168.1.1
        - ptr-record=1.1.168.192.in-addr.arpa.,"despair"
        # TFTP Boot
        - dhcp-match=set:ipxe,175
        - dhcp-boot=tag:!ipxe,ipxe.pxe,dns01,192.168.1.11
        - dhcp-match=set:efi-x86_64,option:client-arch,7
        - dhcp-boot=tag:efi-x86_64,ipxe.efi,dns01,192.168.1.11
        - dhcp-boot=http://192.168.1.45:8043/boot.ipxe
        # DHCP Reservation with different dns server
        - dhcp-option=net:customdns,6,9.9.9.9,1.1.1.1
        - dhcp-host=net:customdns,EC:79:49:51:64:16,192.168.1.187,ipl06002-lan
        - dhcp-host=net:customdns,F4:4E:E3:2C:C2:B6,192.168.1.56,ipl06002-wlan
        # DHCP Reservation with unrestricted youtube dns server
        - dhcp-option=net:youtubedns,6,192.168.1.234
        - dhcp-host=net:youtubedns,AC:3E:B1:A6:AF:D6,Pixel-7-Pro
        - dhcp-host=net:youtubedns,E0:80:6B:37:56:83,Redmi-Note-11
        - dhcp-host=net:youtubedns,74:58:F3:E7:3A:04,Fire-Cube-lan
        - dhcp-host=net:youtubedns,48:43:DD:6E:CC:2D,Fire-Cube-wlan
        - dhcp-host=net:youtubedns,F0:27:2D:D7:41:97,Fire-Guest
        - dhcp-host=net:youtubedns,00:e0:4c:7b:c2:98,Sanctuary
        - dhcp-host=net:youtubedns,8c:8c:aa:32:ce:7a,IONB000201752-LAN
        - dhcp-host=net:youtubedns,4e:80:5d:ae:a9:dd,IONB000201752-WLAN
        # HTTP Boot
        #- dhcp-match=set:efi-x86_64_http,option:vendor-class-identifier,0,10
        #- dhcp-boot=tag:efi-x86_64_http,"http://192.168.1.45:8043/ipxe.efi"
        #- dhcp-boot=tag:!ipxe,"http://192.168.1.45:8043/ipxe.pxe"
    #customCnameEntries:
    #- cname=www.youtube.com,restrict.youtube.com
    #- cname=m.youtube.com,restrict.youtube.com
    #- cname=youtubei.googleapis.com,restrict.youtube.com
    #- cname=youtube.googleapis.com,restrict.youtube.com
    #- cname=www.youtube-nocookie.com,restrict.youtube.com
# Not required. We're running a dhcp relay via host network.
#hostNetwork: "true"
capabilities:
    add:
        - NET_ADMIN
        - CAP_SYS_TIME
        - CAP_SYS_NICE
persistentVolumeClaim:
    enabled: true
    existingClaim: pihole
    #storageClass: longhorn
    #size: "10737418240"
podDnsConfig:
    enabled: true
    policy: None
    nameservers:
        - 127.0.0.1
        - 1.1.1.1
#affinity:
#  nodeAffinity:
#    requiredDuringSchedulingIgnoredDuringExecution:
#      nodeSelectorTerms:
#        - matchExpressions:
#            - key: kubernetes.io/hostname
#              operator: In
#              values:
#                - node03
probes:
    liveness:
        initialDelaySeconds: 30
    readiness:
        initialDelaySeconds: 30
affinity:
    podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole-02
              topologyKey: kubernetes.io/hostname
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoUTk3Q2QvblZ6WkZnS0Fr
            TTMwTWYyN3FLL0wzZnNESGlZNEU0OXc3ZlhRClFLMVl2YkpTTFdmT01hK3ZKZVlJ
            WjlMSnFrRTh6L3dnNGphSEw0YVpoM00KLS0tIDFsK1FtK0lkMjBNSWJKbHZJK0tO
            SGg1Mm5GOEFDbEV0TFpoOERlY0tzRncKg2ywxQIDV9g69O6y2z3pv1SMmMSucw1B
            FFI9q9DKdgUDnf0SvNdVaCstP4Ar9unG3TEYx2CkdgFW8fc7DaLoMw==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBETzlSbXVxazZmRDlRVzhV
            VWZOaHhScHFaSERyVGIzSFI1bGl5MG5ndDN3CmFLajBXMnNXVHQvalVpRCtNZ2JS
            THR1WThvUTkxc0kzb2FmRDFXaDhYWmMKLS0tIFRuUldvcFFuYWNDcFJRbEtMaytM
            YVJQaUV2MkpPZW9SU1ZmQWltUnlGcmsKc3gINxNigOp6+4A9SwTBVJqabEw04scM
            McpxBAX6bCTNWZ2H2xlJC6FHxmIwR6n3fT1yqvt2nV6W4+klW8vV/A==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-15T12:00:15Z"
    mac: ENC[AES256_GCM,data:P2csA0AKDlja/HfFe0fwQ0VMiIh82BBhlrqmIhWB/7LGueEwpEKWD7gHxDNf8xhLmoJ+Lib7vC69SagCZ5WJ2uiHb3AcTF8FtMYVJGfsRQmPZgBLHFwAcQ0okW5RPIwK08irU+11qVNrCoOoYMjMFSIMR22DNn21upq9bPFfE6g=,iv:ThOy30NdtFxI0gjrWfJZTxTkSf3KgPep/qvPAydKWgE=,tag:2HGlPWRR/JEp5nIX9dZlLw==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
