apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-controller
  namespace: media
  annotations:
    argocd.argoproj.io/sync-wave: "30"
  labels:
    app.kubernetes.io/name: unifi-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: unifi-controller
  template:
    metadata:
      labels:
        app.kubernetes.io/name: unifi-controller
    spec:
      nodeSelector:
        node-role/workload: zfs
      hostNetwork: true
      containers:
      - name: unifi-controller
        image: ghcr.io/linuxserver/unifi-controller:8.0.24
        env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          - name: MEM_LIMIT
            value: "1024"
        volumeMounts:
          - name: config
            mountPath: /config
          - name: letsencrypt
            mountPath: /letsencrypt
            readOnly: true
      volumes:
        - name: config
          hostPath:
            path: /vol_raidz1/docker/configs/unify-controller/config
            type: Directory
        - name: letsencrypt
          hostPath:
            path: /vol_raidz1/backups/minio/backups-vps07/letsencrypt
            type: Directory
