---
resources:
  - traefik-config.yaml
  - namespace.yaml
  #- k8s.gateway.yaml
  - k8s.np.traefik.yaml
  - k8s.serverstransport.yaml

commonAnnotations:
  argocd.argoproj.io/sync-wave: "3"

helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    version: 37.4.0
    releaseName: traefik
    namespace: kube-system
    includeCRDs: true
    valuesInline:
      core:
        defaultRuleSyntax: v2
      deployment:
        kind: DaemonSet
      service:
        type: LoadBalancer
        annotations:
          kube-vip.io/loadbalancerIPs: "192.168.1.231"
        ipFamilyPolicy: PreferDualStack
        spec:
          loadBalancerIP: "192.168.1.231"
          externalTrafficPolicy: Local
        additionalServices:
          vip239:
            type: LoadBalancer
            annotations:
              kube-vip.io/loadbalancerIPs: "192.168.1.239"
            spec:
              loadBalancerIP: "192.168.1.239"
              externalTrafficPolicy: Local
      ports:
        web:
          port: 8000
          expose:
            default: true
          exposedPort: 80
          nodePort: 30080
        websecure:
          port: 8443
          expose:
            default: true
          exposedPort: 443
          nodePort: 30443
          tls:
            enabled: true
        web239:
          port: 8010
          expose:
            default: false
            vip239: true
          exposedPort: 80
        websecure239:
          port: 8444
          expose:
            default: false
            vip239: true
          exposedPort: 443
          tls:
            enabled: true
      image:
        pullPolicy: IfNotPresent
      priorityClassName: "system-cluster-critical"
      #nodeSelector:
      #  node-role.kubernetes.io/control-plane: "true"
      tolerations:
        - key: "CriticalAddonsOnly"
          operator: "Exists"
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"
      # Required so that traefik gets the correct ip address for the ingress objects
      # https://github.com/argoproj/argo-cd/issues/1704#issuecomment-904741817
      # https://doc.traefik.io/traefik/providers/kubernetes-ingress/#publishedservice
      providers:
        kubernetesIngress:
          publishedService:
            enabled: true
        kubernetesCRD:
          enabled: true
          allowCrossNamespace: true
        kubernetesGateway:
          enabled: true
      additionalArguments:
        - "--api=true"
        - "--api.insecure=true"
        - "--entryPoints.web.proxyProtocol.insecure"
        - "--entryPoints.web.forwardedHeaders.insecure"
        - "--entryPoints.web239.proxyProtocol.insecure"
        - "--entryPoints.web239.forwardedHeaders.insecure"
        #- "--accesslog=true"
      experimental:
        plugins:
          # Required for correct thruk redirect. Thruk sends in our scenario http redirect but we need to replace that with https
          redirectLocation:
            moduleName: "github.com/SchmitzDan/traefik-plugin-redirect-location"
            version: "v0.0.2"

generators:
  - kustomize-secret-generator.yaml
