---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dns

helmCharts:
  - name: pihole
    repo: https://mojo2600.github.io/pihole-kubernetes/
    version: 2.34.0
    releaseName: pihole-02
    namespace: dns
    valuesFile: values.yaml

#resources:
  #- ks8.doh-service.yaml

commonAnnotations:
  argocd.argoproj.io/sync-wave: "13"
