image:
    repository: ghcr.io/pi-hole/pihole
    tag: 2025.11.0
    pullPolicy: IfNotPresent
revisionHistoryLimit: 2
serviceDns:
    mixedService: true
    annotations:
        lbipam.cilium.io/ips: 192.168.1.234
    # type LoadBalancer with externalTrafficPolicy Local
    # requires 192.168.1.232 on the same node as the pod
    type: LoadBalancer
    #externalTrafficPolicy: Cluster
    #type: ClusterIP
serviceDhcp:
    enabled: false
virtualHost: ENC[AES256_GCM,data:wc9OnSz3XizY03b4QidqdaFy+6I4HziXmZ72Gla9,iv:PLRNGmx/gg/PYhFrMDY6rgkNDNIEKA7CXkGJf/KX7+A=,tag:dv+oCrLK1rIFt6knqf5ZUQ==,type:str]
ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
        - ENC[AES256_GCM,data:b1VCqI41EJCLXB1f0fy5edJtl1oqkcW7MThqFwMr,iv:ykWHacsjb5PyBdV1rnlaYpAHrdkvrcnkl6vwHlKmX1Q=,tag:ScScfCVyS6sAwwr4oyfyJw==,type:str]
    tls:
        - secretName: wildcard-cloudflare-production-02
          hosts:
            - ENC[AES256_GCM,data:p9fR8cEnvn3WHXOfVPYT5Yw4ZnqI29GfpO0vEUP6,iv:5Gw7E3swDF7ZhiMZmZVItQQlc9RQgQWQbp2E5U6JUeA=,tag:/Ij+P8DCY87m9dMLHaQ7zQ==,type:str]
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239, websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd, traefik-root-to-admin@kubernetescrd
resources:
    limits:
        cpu: 1000m
        memory: 256Mi
    requests:
        cpu: 100m
        memory: 128Mi
extraEnvVars:
    TZ: Europe/Berlin
    FTLCONF_dns_bogusPriv: true
    FTLCONF_dns_domainNeeded: true
    FTLCONF_dns_domain: neese-web.de
    FTLCONF_webserver_interface_boxed: false
DNS1: 127.0.0.1:5053
DNS2: ""
# Not required because secured via authelia oidc
admin:
    enabled: false
doh:
    enabled: true
    envVars:
        TUNNEL_DNS_UPSTREAM: ENC[AES256_GCM,data:vwBHOEDRmIl5pKpaD1tNYTFsZi9rKUKyvmFcFCqyAvFZ+dn9l5Y=,iv:ajuw9TipAXEp0TTi662yJJtqoDIYeNiqnsagIe5LsWA=,tag:d+C0xJRVkuY9dpjDjDqghQ==,type:str]
podDnsConfig:
    enabled: true
    policy: None
    nameservers:
        - 127.0.0.1
        - 1.1.1.1
capabilities:
    add:
        - NET_ADMIN
        - CAP_SYS_TIME
        - CAP_SYS_NICE
persistentVolumeClaim:
    enabled: true
    existingClaim: pihole-02
dnsmasq:
    customDnsEntries:
        - ENC[AES256_GCM,data:i6t9kCwgB62TjjykekoIwMHb5W6EdIQcz8NXa0He2f+rEG4=,iv:5rNKFskMKyv/fRCdipYMxNNcqaqc67r6xlMrRApwX4A=,tag:OcDiOEDqwue+MOK8dN/RLg==,type:str]
        - ENC[AES256_GCM,data:M+q/H4pXXxOWdj6fljHmepnghnaE20r00w==,iv:j3WiQHp7lPWL+BwGPI8fsKgb5sbQvr9Age5NNspmqzA=,tag:gTDMyCXj/XOnTymbulmiuw==,type:str]
        - ENC[AES256_GCM,data:q337LA+8fLUqv3hByKPU0nKwucGnNvnM65z31RulEEBOaG7u0oeATg==,iv:HqusUGck+E8mYItN4WKYqW8qms2a77q1o3Q9zf0nqHw=,tag:nJoUj6f15//kw7Di33Wlog==,type:str]
        - ENC[AES256_GCM,data:T7ye0PBAz8h2/MLHKZEQjQVQVObWniqZT+z9Py4=,iv:P3Yz6/FEsolIGisVxet5yQvEVwoT4YQzMeoEk+51RcY=,tag:eDMX4ehw2B+c1yDteasT1A==,type:str]
        - ENC[AES256_GCM,data:YXR2W1i/ZiRPZaX4ky8d0moZ/FqxEUM5dO+DlyiUjuH5GxR5YEBtll6nDaBB,iv:uxIYZGt1Je2Mw8eKRhkdpmDb20nyEgwBu6wHF316u8A=,tag:OiQQeUkIRNt1lE/FSoTFtA==,type:str]
        - ENC[AES256_GCM,data:Y4lhwTxp3sTc4+C1GXpwNm8g0nmFxeeop/weR4vMpeNg0A==,iv:MwdbcQbnFXZ9F059wj80HMv0uy8HKs0w90GNDdDF1k4=,tag:rcayxRZXS+DKopxW7zu1NA==,type:str]
        - ENC[AES256_GCM,data:51iJraBRT7mjkt+uf9vwsr5bxXklF7+XfnGlJmn3Fj0kk1zaQ3JAOGro3HbXi5Jmyg==,iv:qNx0ndnf+ORMaVjpwNGzw0UcqIdgQxQxe3FM28jhuZA=,tag:+Tg0xa7TrS7S+iIJvUYV5g==,type:comment]
        - ENC[AES256_GCM,data:G1gT65npBKykG58u9b2XCjszjFSpxKbrCar5wyG4j/woDHLPQxtMREQz9K2tZ9EFuwmLbYBdqEo=,iv:uSTuAIliiU/f+eWb6Q1WAqqa6BOCdoxXaNCziyDrnPo=,tag:L7vfr3wqEv1OYQBv24q0dA==,type:comment]
        - ENC[AES256_GCM,data:yXV6t+0FpQ01uQhATBkcm9tHIQbNkRG65JxzxP/a0CzalCdBug8Lsl0=,iv:ZL5hJ/C7wQ3eHqPq3I7tK77hmjECd43MFVJ7DgsRGb4=,tag:jNcsJjrFoO6UBFGGC0P1tA==,type:comment]
        - ENC[AES256_GCM,data:OH9nENk7675QuudMzIwDkyKZubl4YS4TgvXXWT5RtLcY7peFhKd2iSnHRxlolbTR,iv:4WZ3/pg3/4EK+DsrtgFdWP0rQZeqYU162Rs05MUexXA=,tag:6yOdXfJO1Rnl2P63HtU49A==,type:comment]
        - ENC[AES256_GCM,data:/chNCSMui7EEJiuNt7ovlA0zjcs5nuKkNwsOB2kbL1hORinq9qzl,iv:MEdI/apTLxkacrYdQnTznQFf52v1foFUDc/AZvlEeA0=,tag:/WETDp/26ndm3FyY25PsqA==,type:comment]
        - ENC[AES256_GCM,data:bpT39Nym+q8jDp+cE5jqEjqJwKJZH5vD2kUozKbe/N1miGCP54oEu/3dsDtcBQ==,iv:WGLvitVRJsNn9GQYfCzoGfRWAgoRRBcP0xKb3kQqRkE=,tag:975ehP6vx6A5r/FSVm96PQ==,type:comment]
        - ENC[AES256_GCM,data:YCA0KSXJjNN/0AJBaHuFV4auZ/KN6cleye9cBFIcwl9tut5Szt2TQZy6w89GUM1U,iv:H5xa2Ji8D2gZdpdGV1gFZzR5RyxmUH0bHwdMrjrGhNY=,tag:mRojoKzz/Q6p0t90rfYkiw==,type:comment]
        - ENC[AES256_GCM,data:zx57Lk9gOlyAOQYyzZu3aRdQ7ILbAyiwvXt7zcj0auO3HdFxBSpe86irpSdsXxpFh6vGnkp4aA==,iv:coBPqSE29dKT3FEvPTEJ03Vz63gQKq7n6xFTN1NjiYM=,tag:Nn70eaYJg+OdHakVIBIiAg==,type:comment]
        - ENC[AES256_GCM,data:0kmROczVcjbCwmFNjio0nSO38Jb+AxruoDlcmh5DyNukHIgybX5zBGZoU2JQEQfTLfE=,iv:/zLBi/6E5cojwuPzl5jflpnR1YPeIybvSpEL4u654zM=,tag:cIAzpQZTWmQgjta63BbRBA==,type:comment]
        - ENC[AES256_GCM,data:tj81YfyeuHGSnvEHMf0iNgRs3s27PVUWA8uq6YtrqSJQRKQBgLvUZwFb2avUrPDgoe67MWXAjTGu,iv:xAO9gHmUb8tE3BpQ/Ucq4kE2dbavTYHGlSwzB/8eW0c=,tag:KkXu+pqsC2k36175LIgTXA==,type:comment]
    customSettings:
        - dhcp-option=252,"\n"
        - dhcp-option=vendor:MSFT,2,1i
        # DNS
        #- dhcp-option=6,192.168.1.232,192.168.1.1
        - dhcp-option=6,192.168.1.232
        # NTP
        - dhcp-option=42,192.168.1.1
        - dhcp-range=::,ra-names
        - server=/geekbundle.org/192.168.1.1
        - ptr-record=1.1.168.192.in-addr.arpa.,"despair"
        # TFTP Boot
        - dhcp-match=set:ipxe,175
        - dhcp-boot=tag:!ipxe,ipxe.pxe,dns01,192.168.1.11
        - dhcp-match=set:efi-x86_64,option:client-arch,7
        - dhcp-boot=tag:efi-x86_64,ipxe.efi,dns01,192.168.1.11
        - dhcp-boot=http://192.168.1.45:8043/boot.ipxe
        # DHCP Reservation with different dns server
        - dhcp-option=net:customdns,6,9.9.9.9,1.1.1.1
        - dhcp-host=net:customdns,EC:79:49:51:64:16,192.168.1.187,ipl06002-lan
        - dhcp-host=net:customdns,F4:4E:E3:2C:C2:B6,192.168.1.56,ipl06002-wlan
        # DHCP Reservation with unrestricted youtube dns server
        - dhcp-option=net:youtubedns,6,192.168.1.234
        - dhcp-host=net:youtubedns,AC:3E:B1:A6:AF:D6,Pixel-7-Pro
        - dhcp-host=net:youtubedns,E0:80:6B:37:56:83,Redmi-Note-11
        - dhcp-host=net:youtubedns,74:58:F3:E7:3A:04,Fire-Cube-lan
        - dhcp-host=net:youtubedns,48:43:DD:6E:CC:2D,Fire-Cube-wlan
        - dhcp-host=net:youtubedns,F0:27:2D:D7:41:97,Fire-Guest
        - dhcp-host=net:youtubedns,00:e0:4c:7b:c2:98,Sanctuary
        - dhcp-host=net:youtubedns,8c:8c:aa:32:ce:7a,IONB000201752-LAN
        - dhcp-host=net:youtubedns,4e:80:5d:ae:a9:dd,IONB000201752-WLAN
affinity:
    podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole
              topologyKey: kubernetes.io/hostname
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBpR1dzMFp0LzFTRGlDeXpK
            UmNoLzY3QXhSTlJNUzBXd2FkZkpqQVhOTGxFCiszVEZiV0lDOU04T0RrSFJLM0sr
            cUtSdGd0YzlOZkpqK1JwNE1kN1Nvd1EKLS0tIHFxUUZBN1JCVHlHMzdyb0RROWtn
            Q1BOMTlmL3NEV3Q1UDhyeGVTczQ5djQKcudj6aHlNxDQPBV9JeBdVscxq7HMw2Kj
            ZvcbPQpu33iT9YymR48YWP3y2I5nPaKb99KYAMoTWFB5JK9ScxdSZQ==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaV2NIVklGTERVdDg1OWlX
            TXpWMGhvZ2JGcTFhS0doVVhrRU13eUJmWlFnCitoSWVOWDZ3aXd1ZWxyc1VnUTR1
            RjFHVTMrS1BURFJPbEpqQ2JzcHRJd3MKLS0tIFNRYjJDQzBTMllZZmNEcnJtQWx5
            cU1Ja0ovYllVcmhCdDlDVzA5ZVBhM28Kkw5U5sZv9lKJ6Hiyqjr9shobSCDxr1oi
            IXHU1lJeKrS7AV0f+MrIC1W/BRWoINe67sk2f2W70wQ+KLkEuBf8YQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-07T08:22:37Z"
    mac: ENC[AES256_GCM,data:1oUIwDFauGw9wxTrHo9bY4pp7XIdjFyVkOlIxKCfGxiopL/L4MVxuI1Sk5Vz6SdaJQUosxsWxr/GsUl0EZyoRwsiGBj8BXzSDbyvIwOvshWY9RubaPs7m8QfStrqkZEjdqCWGcg+snn/mNc8Csjb6Mdfq+ScDE4wQEKvLviHTDI=,iv:KNKJCIbNPVdSWtvoFqvEbL0NNoZa9/QtOfrr4st23TI=,tag:psqr4mUfjzUWMchU9SCwwQ==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
