image:
    repository: ghcr.io/pi-hole/pihole
    tag: 2025.11.0
    pullPolicy: IfNotPresent
revisionHistoryLimit: 2
serviceDns:
    mixedService: true
    annotations:
        lbipam.cilium.io/ips: 192.168.1.234
    # type LoadBalancer with externalTrafficPolicy Local
    # requires 192.168.1.232 on the same node as the pod
    type: LoadBalancer
    #externalTrafficPolicy: Cluster
    #type: ClusterIP
serviceDhcp:
    enabled: false
virtualHost: ENC[AES256_GCM,data:TvCCFMpDjtsUF6NXRDqDFXUxMy80RMEYU7PgajwI,iv:NdY/sG7I8TPG3giYlLSDlT5NZXB/DWuVi0MK6Hrh7PI=,tag:ETkD8HkwUFb7kVd0o6vg0A==,type:str]
ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
        - ENC[AES256_GCM,data:+X2ZFBxuxpwnFJeKJsftSeg9w58INcRHAiLHzrpa,iv:mBr7rh0ZvKuqOwtiaCs69NLAvsaf3KrjPGc/48VOYVE=,tag:h3BA/04TStthx51noFaPZg==,type:str]
    tls:
        - secretName: wildcard-cloudflare-production-02
          hosts:
            - ENC[AES256_GCM,data:SnRGEq2klDbsut3+gvIEpvHjH5HyF4+xOg8oHcG3,iv:63MhUFPEsPoQLXGQWsuFKNNfS0pSQeEblMmSbB0t130=,tag:rFexTSZmhPNTgiZv0fQyOQ==,type:str]
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239, websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd, traefik-root-to-admin@kubernetescrd
resources:
    limits:
        cpu: 1000m
        memory: 768Mi
    requests:
        cpu: 100m
        memory: 128Mi
extraEnvVars:
    TZ: Europe/Berlin
    FTLCONF_dns_bogusPriv: true
    FTLCONF_dns_domainNeeded: true
    FTLCONF_dns_domain: neese-web.de
    FTLCONF_webserver_interface_boxed: false
DNS1: 127.0.0.1:5053
DNS2: ""
# Not required because secured via authelia oidc
admin:
    enabled: false
doh:
    enabled: true
    envVars:
        TUNNEL_DNS_UPSTREAM: ENC[AES256_GCM,data:iu60+lT0AYiJZtWmWS3Z8JSKK5t4zrthFxERTDO/EO5sbDIjmNU=,iv:YBeLpmZ7LvnrpqO7T4UIaOxoamb5jTQ+2wK5BkJgSQI=,tag:mb4OxPuEm7odQecESOqepA==,type:str]
podDnsConfig:
    enabled: true
    policy: None
    nameservers:
        - 127.0.0.1
        - 1.1.1.1
capabilities:
    add:
        - NET_ADMIN
        - CAP_SYS_TIME
        - CAP_SYS_NICE
persistentVolumeClaim:
    enabled: true
    existingClaim: pihole-02
dnsmasq:
    customDnsEntries:
        - ENC[AES256_GCM,data:9Y6E+G7/9pYpjordPKaYaSWVUUSzJ9Nj9Y+obWAwf0pbzxs=,iv:CuabePynrYnmB9eOcVS7/hWQsBzToaEbWVD8Rk9jlZo=,tag:gAJKybOZrOl5v6bVE/yHdQ==,type:str]
        - ENC[AES256_GCM,data:TDd9XIKFAeag8VsCn6R5C8lsS5JEGMYP0w==,iv:tsgEzWWE40bva5oaehEY/UU9E1eZwClhUBv1pdXY5Cs=,tag:YgLGULnlqBgrejZt9TMzig==,type:str]
        - ENC[AES256_GCM,data:VlwmTeZzHBclgioynE5IleMFpHsFtMJnjUKXJU8mRDm5U7VWB3LSJg==,iv:lOW5N9QNW8bUf8JaREZnW2rBOFA+RyH6uFVVnPE1NUA=,tag:XKHWYHfBtQcbsvdYXwNnMg==,type:str]
        - ENC[AES256_GCM,data:PSDtSL2ycHscqx33lZc9I3jYu8kSJou2aavB6+A=,iv:BbtsVLx18htak6UzxfVt7n9YozV/AZUTk4ZFVe0VkeY=,tag:ergWrJiQL3J33Fdl4kEZJw==,type:str]
        - ENC[AES256_GCM,data:8AcRfcsNHL51C794d1FS7u4r7pyJ99Fka88XOChjqPnuMMYAvOe4Al9HgqmS,iv:noeCQEe8f/BfWFQlT6Z1X45IoUYMax7iKSSFODEMWgU=,tag:tw60y2IbEMdpcszDYFwxhg==,type:str]
        - ENC[AES256_GCM,data:Sji15oZok6rAC7UfeMmLn2DM2Mny+o5dqPpVdG+KPbF92w==,iv:4xquegYSNo4989nEEj/GMkICrCNiwD3Nrrdtx2EEADQ=,tag:YDotl542i1LDZtgSL5f85w==,type:str]
        - ENC[AES256_GCM,data:9zKJ6SIWvye0FOYo/uceYI3cNPj0SpNZ8XgIesrDdvAYrUQdiu6Y4I5O/WHZtzNl1Q==,iv:lG39TxUjpHDsNhhfaQw7bJf+xZIWLFFJWvuZWXBpTO8=,tag:ZBK8ZPMq4hB2htIEBqDJPg==,type:comment]
        - ENC[AES256_GCM,data:291yxiwzWrEbBNJrZAWQtW2Nigflxa4mLUBEVFS5mHeEJ7gd7TpUZhBSlR/kCXhrvkGtCaCyOfk=,iv:2i9wsdG11kNmqzmZka0Ja/RJRlPvd0ptDAoyybhaBRc=,tag:ksZjswx6Rd+Uj2DTt46x9w==,type:comment]
        - ENC[AES256_GCM,data:4leQSnRNh12iTa7QIsiDVqAaxXvWzNYVali38F/rlHhI7h4gzT+Ng1M=,iv:RKkpuURFLlIKqiHQksgR1U7DlD2U1j1Qb1cWepdepns=,tag:Vvrtv/OKAsVQ+NipsQW6IA==,type:comment]
        - ENC[AES256_GCM,data:dhE341NoGO3THMi2ryWhSbWO0iYixXGD4JjTCaVSog+IihSwmdjg8Zhf2nxVQquN,iv:SFGQihTKjU64G611W0jPF+a37T2zE0QLOa2sR9mNTsg=,tag:jXhHtYL1FVle5oa8ZuPCew==,type:comment]
        - ENC[AES256_GCM,data:E9XrrsuaHRSJGJw1J1nbgNaNMFmNd6X4mf0VJa9jqqmuYd8zJefv,iv:1IUN+32fSZUA05XR3Eb8uv4Ylux/kRT4noo6WUt8kls=,tag:f9vtndjcG+G8NhCgruvajw==,type:comment]
        - ENC[AES256_GCM,data:uY6bjQhE3A4bdQR4Ygr4xUs5s3fvWbjADczsFcpZUVHUdDxqiIY+DNYY8hfa+w==,iv:O1jlpWRXRQDT52lP3EZLjnu3HlhR9xAUJzGOOJ71aJQ=,tag:Wpo+eE/UM/Xb9C7BpDYYbg==,type:comment]
        - ENC[AES256_GCM,data:jqUTvU58lB4kwdqyzbOXu1spYAvbwETTCO4FO5kAK3G0cN1r4HBBicU2kqBkOL/m,iv:2+oXRAcDeP13e0rXMa/59QYte8cbGS53QWqmGdmIh9s=,tag:186qnDHpdfZnVWvVlt6Drg==,type:comment]
        - ENC[AES256_GCM,data:DKMokSi9fi/k99M8ifJrKA9CT/vpS7OpkVI4OLTqopxEBqPiR7v82BdoBWslELmlZR3gtoJEJg==,iv:tzULI1cNr/30jAthmG/X4/LX4GJJn2VJl1ZnRsG4PnY=,tag:Ac9SnSUOTGB0vDMT8sKu6g==,type:comment]
        - ENC[AES256_GCM,data:5zdKUZ3IxxDJUoHbIK6oh0gYFAlelynbFQ5NYeAbaNBpsab7fw4kbvPTz3WXjvhsXkE=,iv:C/fTQQITevkjYGjj227aIUmYSLviB5+Zp7seL58oqJk=,tag:nQFAqekrSSuLPueEolGEhw==,type:comment]
        - ENC[AES256_GCM,data:O8NlFiW33G/EFF8ClG2uMLi3glopP69uqIyFs8+LWs0bRep9htbiFLU+iFnnBmeKGGvznf1PJfNP,iv:5vAdAFXv84c1QqevnV5/Ud982tdS8IORkRXGMmopw0w=,tag:1WEz4fA4z6AtD4tM2twXyA==,type:comment]
    customSettings:
        - dhcp-option=252,"\n"
        - dhcp-option=vendor:MSFT,2,1i
        # DNS
        #- dhcp-option=6,192.168.1.232,192.168.1.1
        - dhcp-option=6,192.168.1.232
        # NTP
        - dhcp-option=42,192.168.1.1
        - dhcp-range=::,ra-names
        - server=/geekbundle.org/192.168.1.1
        - ptr-record=1.1.168.192.in-addr.arpa.,"despair"
        # TFTP Boot
        - dhcp-match=set:ipxe,175
        - dhcp-boot=tag:!ipxe,ipxe.pxe,dns01,192.168.1.11
        - dhcp-match=set:efi-x86_64,option:client-arch,7
        - dhcp-boot=tag:efi-x86_64,ipxe.efi,dns01,192.168.1.11
        - dhcp-boot=http://192.168.1.45:8043/boot.ipxe
        # DHCP Reservation with different dns server
        - dhcp-option=net:customdns,6,9.9.9.9,1.1.1.1
        - dhcp-host=net:customdns,EC:79:49:51:64:16,192.168.1.187,ipl06002-lan
        - dhcp-host=net:customdns,F4:4E:E3:2C:C2:B6,192.168.1.56,ipl06002-wlan
        # DHCP Reservation with unrestricted youtube dns server
        - dhcp-option=net:youtubedns,6,192.168.1.234
        - dhcp-host=net:youtubedns,AC:3E:B1:A6:AF:D6,Pixel-7-Pro
        - dhcp-host=net:youtubedns,E0:80:6B:37:56:83,Redmi-Note-11
        - dhcp-host=net:youtubedns,74:58:F3:E7:3A:04,Fire-Cube-lan
        - dhcp-host=net:youtubedns,48:43:DD:6E:CC:2D,Fire-Cube-wlan
        - dhcp-host=net:youtubedns,F0:27:2D:D7:41:97,Fire-Guest
        - dhcp-host=net:youtubedns,00:e0:4c:7b:c2:98,Sanctuary
        - dhcp-host=net:youtubedns,8c:8c:aa:32:ce:7a,IONB000201752-LAN
        - dhcp-host=net:youtubedns,4e:80:5d:ae:a9:dd,IONB000201752-WLAN
affinity:
    podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole
              topologyKey: kubernetes.io/hostname
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBzaEJzZ0hPV0oxYy9EaGxC
            QTNRQzZYOFdWeFFVREpvRGNVb2haVTZBWmdNClZUMEdvdUpvNExyUnA5eGhweHVl
            UVRuMFhHeitpazJ5K2Q0ZUtUY0lDSEEKLS0tIFRXN0cvOWdkcGp6RjlkN0V4T3Fj
            LzFpWFMxY1F2VjNCRFZYTHo3dVRmb2MKofgRkz9rrrW4RTmAIZriRQJxyH4BuoAC
            3oEZBAZ2LM3eu0+C3AzmT0+N0oqF3udAcPww7QFywAf38FLbd9jzSg==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBMWm94N01rQWZmL3FXM2Zj
            bnNvUHB3S3dPcXlVMUlyRTNyalRiRTVHTUdvCnlCRmhKTy9iZVZiSjgrMkJQaEhr
            cGFwYUszVVhqUlFSYkZUVGIvdldCSmcKLS0tIHZ4Y3lzbnFUWFNaQUttT3J0VmNl
            RlUweEQ5ZVFsSSt0OFc5Q1NMRzhmVXMKJManhbqjFft+4jQK3Te5XcX6W2FaXING
            ae6P28XeoiI2dY72lBEKLf3ttqyQOEdLvfwaMxjLZoFTGGBvVUd/Xw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-15T12:00:28Z"
    mac: ENC[AES256_GCM,data:FClShRNkewtatSu4kyniZRieIFClCwyl7oNdY2nnZkYUgEJa6LVARfiEPaJ1FQkqM4nBySb79VZQq2Ab5cnxaTLxCedVgpRNTs1OPC72UrYnKUA925CREucRm/8jNvUPfbT/tlpBnMXDodBol8jVsw2g9zbIm582uWr14/NSCuU=,iv:Al9uPy9yRdvMXfpoWKOtMAk4whtJXto4NjoYTbSEFlE=,tag:+rKNyl2BEiDSz0ok57NftA==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
