image:
    repository: ghcr.io/pi-hole/pihole
    tag: 2025.11.0
    pullPolicy: IfNotPresent
revisionHistoryLimit: 2
serviceDns:
    mixedService: true
    annotations:
        lbipam.cilium.io/ips: 192.168.1.234
    # type LoadBalancer with externalTrafficPolicy Local
    # requires 192.168.1.232 on the same node as the pod
    type: LoadBalancer
    #externalTrafficPolicy: Cluster
    #type: ClusterIP
serviceDhcp:
    enabled: false
virtualHost: ENC[AES256_GCM,data:CnVN2pgW/m71k5if0WOBGAYr2HJkXVkjZWHDk950,iv:Me2MX1POe5tJuFX/qjctGNY5PErW76CJRIFP4cFIQY8=,tag:A/khySYSNVM4R721UlBbGg==,type:str]
ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
        - ENC[AES256_GCM,data:vD2E/he4pKG9B4G3dfbNw/y7vMAzM098epZe5F0o,iv:CBDswz+62Cuu3ksigxep0NvZcbBDLt+AH8o8QknRM3U=,tag:0KP2k0Y16kKoGSXQOf621g==,type:str]
    tls:
        - secretName: wildcard-cloudflare-production-02
          hosts:
            - ENC[AES256_GCM,data:EaGNb/ySuZaQmm5r2ew7b1Md/ssWgpHoJxI+YZJq,iv:eCSi4hMl5zAYyn5uqglHMqe0WIVPpnmcL/+yvKkiKII=,tag:bn1U1+T4JF1zO+kry82x/Q==,type:str]
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239, websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd, traefik-root-to-admin@kubernetescrd
resources:
    limits:
        cpu: 1000m
        memory: 768Mi
    requests:
        cpu: 100m
        memory: 128Mi
extraEnvVars:
    TZ: Europe/Berlin
    FTLCONF_dns_bogusPriv: true
    FTLCONF_dns_domainNeeded: true
    FTLCONF_dns_domain_name: neese-web.de
    FTLCONF_webserver_interface_boxed: false
DNS1: 127.0.0.1:5053
DNS2: ""
# Not required because secured via authelia oidc
admin:
    enabled: false
doh:
    enabled: true
    envVars:
        TUNNEL_DNS_UPSTREAM: ENC[AES256_GCM,data:j0QzNVxPS/jeu1TMwZumEN7a97uFZiKBYN0EfRsSLjuU/f7itZQ=,iv:lWoAoYKv1240mKgQOuNPqm7i+0s1D6heZmRqDwufcr0=,tag:LV75NVgwx+WScesaiKNkoQ==,type:str]
podDnsConfig:
    enabled: true
    policy: None
    nameservers:
        - 127.0.0.1
        - 1.1.1.1
capabilities:
    add:
        - NET_ADMIN
        - CAP_SYS_TIME
        - CAP_SYS_NICE
persistentVolumeClaim:
    enabled: true
    existingClaim: pihole-02
dnsmasq:
    customDnsEntries:
        - ENC[AES256_GCM,data:WIKoy+FbYiuh7T6k7vEM0Iw6btXWgnRfFXUPhLSYJX1gml4=,iv:l8yRV9Yuk3LYcenodt+V/9lwzRUFCI+atuxP9NBzGYs=,tag:u6+M63G6LsGzGIKkiekMFw==,type:str]
        - ENC[AES256_GCM,data:GWiDbqTX1oVqxd5sosU8XM0tONPs1HJ9hQ==,iv:GzZrsRjRtMmpZl39q8BHaJpZJhHIn/Hx9FPKOOd3+S8=,tag:RdPdcYlmsJPh15UG8ArLyA==,type:str]
        - ENC[AES256_GCM,data:zlVM38shH1DNX5F/3azK/6EPqB0D5JSr7yfn1x5a3jJl5BK2q1WgHw==,iv:G2T+HscpCDSZJVFrWHzPZNj9EtldXC1jZeD+mSB5A+8=,tag:ZOvYkh3IYwPU3AXpEdho/w==,type:str]
        - ENC[AES256_GCM,data:rmwJ8tMvtDHi+CBAk8OVpcRt23uHPCbW4KsTVzc=,iv:+WwrQviurHGD/+O7SPvGI6YYMN6BqI6FJH5PQIpMXVY=,tag:Ej1wSUcM1k1Us6XSDWBKNA==,type:str]
        - ENC[AES256_GCM,data:vtNu2JfqQhuiPfExBHaIW9bSkw5pRxwyMatbFjfxSUIyiThSu1htFOC9Mn3p,iv:6X6Kr4fbH3+LiCxoiIUTQlKplS/f3MmayjKdtJN66W0=,tag:llZe23AsFWQrYFRtG/40Aw==,type:str]
        - ENC[AES256_GCM,data:rlSvOSZHRxQ0DnweEf7/LbeEYsBz0jOKzvnPNwYjNOpwFQ==,iv:sOkmSutZMmyicNYWqIwFWXczxJofcMob6VEYpVC9w2w=,tag:9NtTp/houPdBqDzGCQTAsA==,type:str]
        - ENC[AES256_GCM,data:fHYa2vtpQBdNrvwQrmNMytTof2JRQW7hZTMlbowC+FZ/iVu0CZJBkbYtuJEIDEXD1Q==,iv:RLPF3pvKuUC8dwrHR0ZTro+ogv9calT99qqXLFz50Lc=,tag:R5i1ncUKHlyX+Y+nnuBR/g==,type:comment]
        - ENC[AES256_GCM,data:JMXsIcpl56rfNuT3BsnHuReUkYAINhSB2QFTuglDACsNfil3ffX6FnDathpSgRiZMDf4BU0Lhv0=,iv:nobO3bw4+ahsiUMUtIBivtqoB0XiAOzYYfs5UGDoll0=,tag:DP8bM1r+vSJTP2IDeBnZxw==,type:comment]
        - ENC[AES256_GCM,data:08DFt5kYf7M7EdT6hVxqd7VDU3iWow/Tkf0hSEG0uLGI3tiAzgzZRtY=,iv:0TFAGZTEeGAkN4h/oWo14K1lgcLj0a6UJ+7wxZo7IVo=,tag:89PF/DkRWv1MEhOMdDCciw==,type:comment]
        - ENC[AES256_GCM,data:Jg5lXVwhFK6R43QbHREF5/nRGzYcku2kad8GNGjwz6QnwRh1isyvDvxCE2KhS26/,iv:d7MPppzE3iQNUBtUkeVmNJbQaTpCECavkfDuRMpgX84=,tag:ZyIcincuR2LrxFNfPF1uSA==,type:comment]
        - ENC[AES256_GCM,data:Gfit5SBOBvaBkbsCPq0kAP8Ql2eH+VPOI0P+SYAWOLwvSTrX9zKn,iv:mAZWqTCE6v6YMxUcAuB4OzDafoRzJs9o/6ydW0IoNVc=,tag:opfsEEJFt7kldq2qm9tHTA==,type:comment]
        - ENC[AES256_GCM,data:BFmrGuokFiHF1l6wSktYHprCmrEKDw/4VXbSpXLTn404lEqfox9Ba+enF2pFFA==,iv:86YKWuqnBsjSjjbyjpHhs1uADArQgZ1zLksp++WLG8s=,tag:rX75ChEoV/TWN3QeAHsxIw==,type:comment]
        - ENC[AES256_GCM,data:0ikwVcbapTtMllw96gWwIwXnlVZp8raUkVCcdaDgctcCJ+3p8bXVcqpE6GoRUImo,iv:IZU0KlYpNk6ugEDkwO849kjxc8DILQ2tTg3AIDst8jU=,tag:7bbHDv1F+4NTR1daR9jQXA==,type:comment]
        - ENC[AES256_GCM,data:0h37R1JHKhrgZXBZ3UObo2MvyNhl7uPFFxq/iHcHD1iJrWuVveITOm7wz7P+yD6/xOzxOzjRFw==,iv:gcUwG66CJJ0Henqy5IEASUIbaZHq9lnSCwohcG7m/kI=,tag:guBMcVv+PpmkSaA/h8n/9Q==,type:comment]
        - ENC[AES256_GCM,data:wGx5qEUO4KkbwTt4kHoIGU9iYXxLShwD8bw3v3vYCkpWoYSRl6pJwSyTqQy3CWJnOoo=,iv:1jjg9IvnIN6ivXSRTmmhn/be9J5RreP7LpicMJCyF7Y=,tag:hMD3SptCCpAKXN0+qe/EEg==,type:comment]
        - ENC[AES256_GCM,data:A7uap3FU0UIOa1MroIP4xrLpLVIIRrD0cnPej1atCtX6Np5RzRRv5N9nTpJG/wrFX7tG9CWhdHZI,iv:ZctxuCapmS0ZuxVkECCQR9UoZoxW57nrSwAgNDR2d4Y=,tag:Zs9QJ5/sf3/F9gHLPPKZpg==,type:comment]
    customSettings:
        - dhcp-option=252,"\n"
        - dhcp-option=vendor:MSFT,2,1i
        # DNS
        #- dhcp-option=6,192.168.1.232,192.168.1.1
        - dhcp-option=6,192.168.1.232
        # NTP
        - dhcp-option=42,192.168.1.1
        - dhcp-range=::,ra-names
        - server=/geekbundle.org/192.168.1.1
        - ptr-record=1.1.168.192.in-addr.arpa.,"despair"
        # TFTP Boot
        - dhcp-match=set:ipxe,175
        - dhcp-boot=tag:!ipxe,ipxe.pxe,dns01,192.168.1.11
        - dhcp-match=set:efi-x86_64,option:client-arch,7
        - dhcp-boot=tag:efi-x86_64,ipxe.efi,dns01,192.168.1.11
        - dhcp-boot=http://192.168.1.45:8043/boot.ipxe
        # DHCP Reservation with different dns server
        - dhcp-option=net:customdns,6,9.9.9.9,1.1.1.1
        - dhcp-host=net:customdns,EC:79:49:51:64:16,192.168.1.187,ipl06002-lan
        - dhcp-host=net:customdns,F4:4E:E3:2C:C2:B6,192.168.1.56,ipl06002-wlan
        # DHCP Reservation with unrestricted youtube dns server
        - dhcp-option=net:youtubedns,6,192.168.1.234
        - dhcp-host=net:youtubedns,AC:3E:B1:A6:AF:D6,Pixel-7-Pro
        - dhcp-host=net:youtubedns,E0:80:6B:37:56:83,Redmi-Note-11
        - dhcp-host=net:youtubedns,74:58:F3:E7:3A:04,Fire-Cube-lan
        - dhcp-host=net:youtubedns,48:43:DD:6E:CC:2D,Fire-Cube-wlan
        - dhcp-host=net:youtubedns,F0:27:2D:D7:41:97,Fire-Guest
        - dhcp-host=net:youtubedns,00:e0:4c:7b:c2:98,Sanctuary
        - dhcp-host=net:youtubedns,8c:8c:aa:32:ce:7a,IONB000201752-LAN
        - dhcp-host=net:youtubedns,4e:80:5d:ae:a9:dd,IONB000201752-WLAN
affinity:
    podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole
              topologyKey: kubernetes.io/hostname
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBxYlBXanY2VGlGaE5PV2o1
            WEt3S0Y2dkFtcU82dG5LWXhldXVZSlVEVG1FCk96Qk1XODNXNyt3bFg5NytkYU9v
            Z1NvQzVtWEdEdDQ0amhzdVlQdVJtbjQKLS0tIG95cy9ySGxDWmhtWjZJaE01NEhZ
            NGFTSmNBM2phTDZpWVg4UGVYNWUxS2cKkUpMzn3RGgZ+/VEUVZMBvnrfVgYa5BX2
            AgLNsfSrffq4KMHRSe9YBmSiTVQLDheMVK7SrEaLX7V487CW2n0CMA==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBtQjVxSmNYSlJUUzloWi9R
            UHlocDB6N2RTZXJadEs5dU9Qb1d2VHpFSXlVCmNKamc5V0NvRENOdXpIR3p3U0cy
            OHNvREZCYnBzT2czNXF1VVRmYmRlQkkKLS0tICthT3JieDg4TXQ4cElGY1VwRE95
            MVhYMlRvN2gzVkJ5NmtIbFdlaFVJOWsKOeDKYdNnsnDCR5aO63inK0C1joYYaPrC
            h+X9e/koKZiH4mLIyTxWvkBHKBAQDSU9/cgGUa9enur+Ubog5rgX/g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-16T22:11:05Z"
    mac: ENC[AES256_GCM,data:7QyjA/c4vIpgGmlSxgb3gImN3YMXd5Mx3irKWr577jsC0hQNV5nhUfjoo7o4O8xIZLIzVH86EQF7WiVMZDZGG0iBPxwVHB/pmg5kPF+4xi3NKkFx1esHflB23j9JEzTJS2sDCuQczhCeZuaudBYc6dm6/F14Ry6x7fq2V6bpDFQ=,iv:nqh0a/apB1msKL15uz9rCwzKKN3egy+GEOiFoNxoq3o=,tag:nuyGEVDaXMs/Ib/0q5SH1g==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
