image:
    repository: ghcr.io/pi-hole/pihole
    tag: 2025.11.0
    pullPolicy: IfNotPresent
revisionHistoryLimit: 2
serviceDns:
    mixedService: true
    annotations:
        lbipam.cilium.io/ips: 192.168.1.234
    # type LoadBalancer with externalTrafficPolicy Local
    # requires 192.168.1.232 on the same node as the pod
    type: LoadBalancer
    #externalTrafficPolicy: Cluster
    #type: ClusterIP
serviceDhcp:
    enabled: false
virtualHost: ENC[AES256_GCM,data:jdFmfoQy8sw2Xje9+KszPBtcBKpEd4YRUf/OL9Df,iv:7SPU0Gk/cSgxyIlv3uTkPTZ2sSsXAV9bo8mgSBCs84E=,tag:CGTId2TpyKBhQmDW461C4Q==,type:str]
ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
        - ENC[AES256_GCM,data:/tPkHYw8IDm0QJNHt3EK+qlg3bejQMp4tC0ktmDM,iv:WmtiAl0BVtdbAfi1sUL9yqkFibJz0qw2saG/uR4WBDU=,tag:Na2ROl93IFVgbmOPCSmCmA==,type:str]
    tls:
        - secretName: wildcard-cloudflare-production-02
          hosts:
            - ENC[AES256_GCM,data:1Hdw/RtBU91yJJb6o6zUbuWZBAN9M1Ch+4F4qfem,iv:++9QTwKno5ZSsmoSNd6kJCu+feK6dV1qPvdR8V9ObRw=,tag:pKNBhCifT0yLo+xuqhkXoQ==,type:str]
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239, websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: authelia-forwardauth-authelia@kubernetescrd, traefik-root-to-admin@kubernetescrd
resources:
    limits:
        cpu: 1000m
        memory: 768Mi
    requests:
        cpu: 100m
        memory: 128Mi
extraEnvVars:
    TZ: Europe/Berlin
    FTLCONF_dns_bogusPriv: true
    FTLCONF_dns_domainNeeded: true
    FTLCONF_dns_domain_name: neese-web.de
    FTLCONF_webserver_interface_boxed: false
DNS1: 127.0.0.1:5053
DNS2: ""
# Not required because secured via authelia oidc
admin:
    enabled: false
doh:
    enabled: true
    envVars:
        TUNNEL_DNS_UPSTREAM: ENC[AES256_GCM,data:jZBkwi9pOr8FycVgaSpCV4+CP/AxFAlO2V40u7F+MYXi3lGapog=,iv:Zi4dfYet2h3rZF2/RplCBhyKHhnir6L57AFIns6QUcI=,tag:ZkwVJ1YjgfgcTGNgLfDb5Q==,type:str]
podDnsConfig:
    enabled: true
    policy: None
    nameservers:
        - 127.0.0.1
        - 1.1.1.1
capabilities:
    add:
        - NET_ADMIN
        - CAP_SYS_TIME
        - CAP_SYS_NICE
persistentVolumeClaim:
    enabled: true
    existingClaim: pihole-02
dnsmasq:
    customDnsEntries:
        - ENC[AES256_GCM,data:qp1LJT+e0C/l8hlW4ICrK42c3B3+nu+pFGp6/yxR6kvjLmI=,iv:V4DKCefKQnlOqb/Sq3fR31WTVAMg0FQbbK5QBJdxoOE=,tag:PpNlLKMgsY5s0ZpnoVSPvQ==,type:str]
        - ENC[AES256_GCM,data:2RN4DYDmRdoHXavB8eyKETfmztTo1LeSFQ==,iv:RYSVZ6Tl49CyzrYvTaY9lG45PNOPLTDScw5enuGMLtY=,tag:r3VeaJMkNXobOXG5gBh/Rw==,type:str]
        - ENC[AES256_GCM,data:kmh3ckfL0CLtyOqHULVcsmpA0A8cX11UWlQWyuUbyqLYrPE7VpduHQ==,iv:RRy030mWaACq9wUAooknaZZPZzFFLfW2gUL3wvOORLs=,tag:EVVOCZVRnjlwvr+oNG2mpQ==,type:str]
        - ENC[AES256_GCM,data:y95qmvSf+Wp7MUqWRfy9yM7cwc4QmCkV9I5pBh8=,iv:tILKf472rwp/UBHZWaPa2pgzBsHhUr/SBosjUX2GdI4=,tag:92vgudX5hA+QgAdEz5PdJQ==,type:str]
        - ENC[AES256_GCM,data:sgaFElKJPObSmA73iZ+w+tPKHko/B2/OwGRf5fdjNXIQUtg/lXv/eBdQn7m9,iv:hcUX8j9GMdFmS4mvn6z7XO1XJeMcq60oepONS+ft8sw=,tag:A8a+wrfrY3xmuBWJUk2DPw==,type:str]
        - ENC[AES256_GCM,data:6aMZHA8w+K2h38DF0+rOYAJHlIJmAcirGgZpqp7kRIz3aw==,iv:KnT1qzdu9cjWVmXM7tyjYctcPhKCjyM9ZSw2Tcge1p0=,tag:Gzfr4cnf/1JqK2GNFIlHzQ==,type:str]
        - ENC[AES256_GCM,data:EDR+PXXyipf2hdvyk4QdUnYXVLFPR7vBOFKhfUtHxtiL6SnqlcXNQtpQS6aJcU9eAA==,iv:MZJJbN/TTfj8QhEcY0n2biS8uONahSbJr/ZRVFuI70I=,tag:w9kEMWw1qs37MABfDIQ/IA==,type:comment]
        - ENC[AES256_GCM,data:pE2KhJO3aQsfGVnlpkScEND0pwy96VFoj1EVfjEgVCs1PFUte2J9+013RaNfHDbXJhEe+roL1QI=,iv:iY+J4XdJFyzrzSq6BisSUlOKpATeofN64hWhU9BOBAY=,tag:emub09+mfnCc1AB7lBnUIA==,type:comment]
        - ENC[AES256_GCM,data:OTE9ENBzxTqcG2FySNhDWlcIpxx341PLxkQ4kTDZSgTpeCIjsKnJ1c8=,iv:doCnhuOJEiqQuJm21OTS63e+E/yj5D/H6SBP96j8tEE=,tag:DKftKUIh5bnBOqBPHSy+7g==,type:comment]
        - ENC[AES256_GCM,data:m/o+cidmfm/3mxVqxhXNUOodC7xSD679JDT1lQ0odRNC3Tnvks2bve9m7zBkq8aH,iv:gGCDSSw5Pabi0+8jS/qQp+bMnmLwLLgIPlwvVQtyep4=,tag:2dxMylMeFjVaeYSe+toRZw==,type:comment]
        - ENC[AES256_GCM,data:U09egA6lhDsioJJ/eGezRckUr/mFxqyRgnLblAL+seS92FQOjc5e,iv:d1oABAjpZljfAJZkvEXDu2/UiD4OxN3Ev2Km3FNtn7E=,tag:ikvdtIgVjzQHT/O9pofjTw==,type:comment]
        - ENC[AES256_GCM,data:dDNw+UVWqMPIFTmR5XbYXzunv1/NrC8zTQPUdw/kF5DfipsxAwxmuTT+G8aMEA==,iv:0F9YdN3xWUK8MDiareEGs1OutyZJ21q/43PoUgMVDHo=,tag:rBqUHfCX48LmxlMbEbtBJA==,type:comment]
        - ENC[AES256_GCM,data:QfvL1lgtT673Ibq5EG9K8RDuFo3w7y0WFlCqh5zO6+UJuc7NJn9xWomaoYWBtLJT,iv:B9LSxT/4MFiz63PrIvEKqS8L6+zPbTt0D6GirDGDjKA=,tag:bc9NGGJHsBo92n/W3ApIuQ==,type:comment]
        - ENC[AES256_GCM,data:tFwFRC+MMd0vNY54jm1MB4HP9wzz58kWUlR1P1fLz34F8AfwKZMUiwVZhFcIuJQfIjcbdXR0HA==,iv:pBhgc+2SW57M3kREgpz0kdur4BiZ22Isq79IIdL1aLg=,tag:rEtDVfFDzdsLI9VpqrqsLg==,type:comment]
        - ENC[AES256_GCM,data:iQcpTqmGnmLZF/zVSWhUzcaA36Gd8OqW15eSwHBC7QSRXAZbLxkgtqZ3uWm7w5U0jdI=,iv:xV+p4EWvVy1sjy4pVHjzeuukMfPy1sIzzUPkAyu1qQI=,tag:8jyv7yILOmbd34E6ES7hhQ==,type:comment]
        - ENC[AES256_GCM,data:8TbGY48qrDXSzxa7G1Dr52P6q/GCIRVfh/KEj7oM5f6BJXgeqtcezxXVANIpmimKIUrHZiN3oOSU,iv:fXpC7SoW1hhH7Ja+R90qGX5FfgnuFykRXreh+V0VNQY=,tag:zaLneSSvYHhWmiV/PvtCfw==,type:comment]
    customSettings:
        - dhcp-option=252,"\n"
        - dhcp-option=vendor:MSFT,2,1i
        # DNS
        #- dhcp-option=6,192.168.1.232,192.168.1.1
        - dhcp-option=6,192.168.1.232
        # NTP
        - dhcp-option=42,192.168.1.1
        - dhcp-range=::,ra-names
        - server=/geekbundle.org/192.168.1.1
        - ptr-record=1.1.168.192.in-addr.arpa.,"despair"
        # TFTP Boot
        - dhcp-match=set:ipxe,175
        - dhcp-boot=tag:!ipxe,ipxe.pxe,dns01,192.168.1.45
        - dhcp-match=set:efi-x86_64,option:client-arch,7
        - dhcp-boot=tag:efi-x86_64,ipxe.efi,dns01,192.168.1.45
        - dhcp-boot=http://192.168.1.45:8043/boot.ipxe
        # DHCP Reservation with different dns server
        - dhcp-option=net:customdns,6,9.9.9.9,1.1.1.1
        - dhcp-host=net:customdns,EC:79:49:51:64:16,192.168.1.187,ipl06002-lan
        - dhcp-host=net:customdns,F4:4E:E3:2C:C2:B6,192.168.1.56,ipl06002-wlan
        # DHCP Reservation with unrestricted youtube dns server
        - dhcp-option=net:youtubedns,6,192.168.1.234
        - dhcp-host=net:youtubedns,AC:3E:B1:A6:AF:D6,Pixel-7-Pro
        - dhcp-host=net:youtubedns,E0:80:6B:37:56:83,Redmi-Note-11
        - dhcp-host=net:youtubedns,74:58:F3:E7:3A:04,Fire-Cube-lan
        - dhcp-host=net:youtubedns,48:43:DD:6E:CC:2D,Fire-Cube-wlan
        - dhcp-host=net:youtubedns,F0:27:2D:D7:41:97,Fire-Guest
        - dhcp-host=net:youtubedns,00:e0:4c:7b:c2:98,Sanctuary
        - dhcp-host=net:youtubedns,8c:8c:aa:32:ce:7a,IONB000201752-LAN
        - dhcp-host=net:youtubedns,4e:80:5d:ae:a9:dd,IONB000201752-WLAN
affinity:
    podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole
              topologyKey: kubernetes.io/hostname
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPV2lMLzl5Q2tGTmZVYkQr
            YWF5SVNNN1FPd0U4N2FCTVczMmUzVGNaaUNZCmpVWXAveDg5eWJKRDQ3bDN0ckUy
            QW1EMWF1MnlTNVNUQVI2Rm9CUlEzRmMKLS0tIHJnbjF1NCtGN25paEJValZ2R05a
            NTJmOXZRUW1GWW9ObGt6bzdwNVlaUjgKt9LrvJONCOB3DhE6JF8m4MOx6L+fjlbo
            bh1OY0SsxHFGRB4tWJKXMEn44sxva9zqULVkzBGuVULhYxX4QVn8iQ==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB1TUw0SXhVSmdyMkRwc0th
            ZnBLcFlCbUdhNmV3bGJoSm1vbGl5YVNqWFdvCnRvKytxN0V0enR6S1lPWkhBQlpQ
            dlZsbEJ3WU9uMmw4QVIwSnZEb3ZyN2MKLS0tIEhyaXhqc3ZDbXd2bWZqM2k4OFFD
            cFM5WFhqQ2Z4UkZLbkRycXIxUHE5TkkK9LWyiUaPQRE57NohwCawH3snmNIy66EO
            0qxF+HUbn1ZJWkyBot1JfQZBgbGWMOjzCMnjTLGPKnIk+gbjFocmGw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-01T07:33:17Z"
    mac: ENC[AES256_GCM,data:Y3o9TckfbLfh2zTkfhgfZ6FNJ00Tma6n9+IojsO41zZUO5n0JDrS6XUQIXHQZlKCTmL8eTUf51p+dZcjOFFR3AF3npT9qwnfuFDDL/xDP6WQoT2pMe2AlQCA1hXxQjkiXTy2ll9zeQwcMdcejl2Ja1hZCvCG3iq5SAFZvYqGZsE=,iv:dmuPARVV8pihZ2SvK5Cp646IkMuzT++1AvfM/3QQbEI=,tag:ZF1Q5mniHrcDAo/Ycyk26Q==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
