apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: checkmk-ingress
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: traefik-redirect@kubernetescrd,traefik-plugin-redirect-location@kubernetescrd
        #, authelia-forwardauth-authelia@kubernetescrd
spec:
    ingressClassName: traefik
    tls:
        - hosts:
            - ENC[AES256_GCM,data:8r9WyimSfTmpTxWj1XeJXaDLbJpV1N+x,iv:CKxxKXcYz5k4ayppbnITaJll/G+MRCd1nsZjXg8/3mc=,tag:JjZNYajq9yFmHlZbZN+vCQ==,type:str]
          secretName: wildcard-cloudflare-production-02
    rules:
        - host: ENC[AES256_GCM,data:LrMu8K7HRT+MhHyoBquEAp/DgU4Wy9Ln,iv:P0N7FmpdWE/9m00tYnZ9tIWJMcoBMfON3S4IlqwSpbM=,tag:HI6pN9Q4WWM4jagG+2wEvw==,type:str]
          http:
            paths:
                - path: /cmk
                  pathType: Prefix
                  backend:
                    service:
                        name: checkmk-service
                        port:
                            number: 5000
                - path: /thruk
                  pathType: Prefix
                  backend:
                    service:
                        name: checkmk-service
                        port:
                            number: 8001
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBiUDQ1ZnNRa0MxREI4eWZS
            dXU4QlhkUjVwb20xUzU2V2p0Znd2M09Yb1N3CkhPc2dUMXdvZGIrUHA2a0ROdExm
            UXNOYnhyK2RMaFptQkxpUW9NS2x2d1UKLS0tIHF2MllmdXV5ZUdCWkJ6WVJGaUc5
            OU9FTHVyRUZtZlZ3eEJnaEYwOXdlTGcK68WzmPowUDLxqwuqpY2x7QZp/mXNeQV8
            iwIQcmK4p+98OerGKs+TN0KZoLvJ/6EA7YyFe9IHwg/06zA7lSFjvA==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA0N2JBOHNQU2NUNEpKWVRl
            a2FycTNBQkY3am9GKytIOUdQdmJ3REl3UEc4CkZ6MlJYN3kxbjFRTHA1VmlqNzls
            YlVaZzlGdGc3REIxeVd2MkZtVHVkbzAKLS0tIGtVNFk1dklQeFNNQWNGU2xzbFpE
            cDQySDVoZm9mVUdRZ3RoTllEU1Z1QkEKkJxwlVATYXF+qTr5ZYSaXnBe0B0XYw8I
            ldkDucJuZkClN5/KWmyKj5nOqRZzuvl2Ptmiue6DwqOyVfargnFLeA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-01T06:10:20Z"
    mac: ENC[AES256_GCM,data:w3XXdAflSMO8e5MI2fZsaovsvf4CeDI5ESFQGwSCpDo7jmT62jfTdE6KHQdx6B7erkDcMdz2fard1AZP2XGvZ1HmLMNeLkRWM1b6cD2chASeBCl11ZNd6PI8VqDsJpYloSI2idHseszoybCJD/dWwFU+aoQPb7xXyjBURNPnstU=,iv:hOIYdSzOd23xV8SPuhTGMT8GnfaH7gSpqbGrDc/dwbM=,tag:pFfaP0Yvd9zp1aUWe/SmuQ==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
