---

resources:
  - namespace.yaml
  - k8s.np.intel-device-plugins-default-deny.yaml
  - k8s.np.intel-gpu.yaml

helmCharts:
  - name: intel-device-plugins-operator
    repo: https://intel.github.io/helm-charts/
    version: 0.34.1
    namespace: intel-device-plugins
    releaseName: intel-device-plugins-operator
    includeCRDs: true
  - name: intel-device-plugins-gpu
    repo: https://intel.github.io/helm-charts/
    version: 0.34.1
    namespace: intel-device-plugins
    releaseName: intel-device-plugins-gpu
    includeCRDs: true
    valuesInline:
      name: igpu
      sharedDevNum: 1
      nodeFeatureRule: false
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: 'true'
