---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  argocd.argoproj.io/sync-wave: "98"

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 8.6.4
    releaseName: argo-cd
    namespace: argocd
    valuesFile: values.yaml

resources:
  - k8s.np.argocd-default-deny.yaml
  - k8s.np.argocd-application-controller.yaml
  - k8s.np.argocd-applicationset-controller.yaml
  - k8s.np.argocd-notifications-controller.yaml
  - k8s.np.argocd-redis-init.yaml
  - k8s.np.argocd-redis.yaml
  - k8s.np.argocd-repo-server.yaml
  - k8s.np.argocd-server.yaml
