---
commonAnnotations:
  argocd.argoproj.io/sync-wave: "17"

namespace: longhorn

helmCharts:
  - name: vui
    repo: https://seriohub.github.io/velero-helm/
    version: 0.1.18
    releaseName: vui
    namespace: longhorn
    includeCRDs: true
    valuesFile: values.yaml
