---

- name: K3S Install
  hosts: all
  gather_facts: false

  pre_tasks:
    - name: Arch | Installing python
      ansible.builtin.raw: bash -c  "test -e /etc/arch-release && yes | sudo LC_ALL=en_US.UTF-8 pacman -Sy python"
      register: pacman_output
      changed_when:
        - pacman_output.stdout != ""
        - pacman_output.stdout != "\r\n"

    - name: Gathering facts
      ansible.builtin.setup:

  tasks:
    - name: OS specific | RedHat tasks
      when: (ansible_os_family == "RedHat")
      ansible.builtin.include_tasks: "install/redhat_01.yaml"

    - name: OS specific | Arch tasks
      when: (ansible_os_family == "Archlinux")
      ansible.builtin.include_tasks: "install/arch_01.yaml"

    - name: Generic
      ansible.builtin.include_tasks: "install/generic_01.yaml"

    - name: OS specific | RedHat tasks
      when: (ansible_os_family == "RedHat")
      ansible.builtin.include_tasks: "install/redhat_02.yaml"

    - name: OS specific | Arch tasks
      when: (ansible_os_family == "Archlinux")
      ansible.builtin.include_tasks: "install/arch_02.yaml"

    - name: Generic
      ansible.builtin.include_tasks: "install/generic_02.yaml"
