---

- name: K3S Remove
  hosts: all

  tasks:
    - name: Preparing | Checking existence of k3s-uninstall.sh
      ansible.builtin.stat:
        path: /usr/local/bin/k3s-uninstall.sh
      register: k3s_uninstall_result

    - name: Preparing | Checking existence of k3s-agent-uninstall.sh
      ansible.builtin.stat:
        path: /usr/local/bin/k3s-agent-uninstall.sh
      register: k3s_agent_uninstall_result

    - name: Uninstalling | k3s server
      ansible.builtin.command: /usr/local/bin/k3s-uninstall.sh
      changed_when: true
      when: k3s_uninstall_result.stat.exists

    - name: Uninstalling | k3s worker
      ansible.builtin.command: /usr/local/bin/k3s-agent-uninstall.sh
      changed_when: true
      when: k3s_agent_uninstall_result.stat.exists

    - name: Uninstalling | Cleaning container/pod logs and fluentbit db
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      with_items:
        - "/var/log/pods"
        - "/var/log/containers"
        - "/var/log/fluentbit"
        - "/var/lib/rancher/k3s"
        - "/etc/rancher"
        - "/var/lib/longhorn"

    - name: Uninstalling | Removing ipv4 vips
      ansible.builtin.command: ip addr del {{ item }}/32 dev eno1
      ignore_errors: true
      changed_when: true
      with_items:
        - 192.168.1.230
        - 192.168.1.231
        - 192.168.1.232
