ingress:
    enabled: true
    annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: web239,websecure239
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: traefik-redirect@kubernetescrd
    className: traefik
    hosts:
        - host: ENC[AES256_GCM,data:alkkcAeRO5ftI6WTgTiuucxeUs/1YO3ehgTzBvpfMA==,iv:O4B3hJay2KBDnX155JuHwvJJaXWLVA3KZpmInsRlEko=,tag:T/Mwolb/G8HEEQVixXj1Fg==,type:str]
          paths:
            - path: ENC[AES256_GCM,data:JQ==,iv:ThrLKi6kSJKNXAXucBi5tZCej0GPkElxBwV3x67/egk=,tag:Jk6gJ2fNInSVjuhhQoDLhg==,type:str]
              pathType: ENC[AES256_GCM,data:fWiGR6Ez,iv:QvDeypVOklYt0uz8EARm2+0SFPwk1kTyFOlZaO6v694=,tag:T/YSrYVev9aA7t7NryDE9w==,type:str]
    tls:
        - hosts:
            - ENC[AES256_GCM,data:ytOkcaija9g0M2ecZHOGLl97Omub5XyvU6z575+hew==,iv:HTP9R++Eg044grj92VqfubxLAvmE6/LNta6ArgN8uwQ=,tag:ZL2G5OL0d+VLgal/btvmrg==,type:str]
          secretName: wildcard-cloudflare-production-02
oidc:
    enable: true
    providers:
        authelia:
            display_name: Authelia
            provider_url: ENC[AES256_GCM,data:8PGNqTii5ldj1mMUdB8mMkOfDqge6Zv6Xn9fKmY=,iv:wSecvu3RGByN4ADSjbx5ZnJpBYzM8KS3te681G62FAM=,tag:RMdlxqv5WJ8vmC37eKUufA==,type:str]
            redirect_url: ENC[AES256_GCM,data:GL4GDJgh9yjcZK2JZB2UPehtMWRwk26dTd/tvpHxg5/Vqn7AYSVfLFR0Hx7RAUL4/2YKXOi+RzrcnGc+kMyDKiZCEeX8e34=,iv:fKx1kYFhiLVdKgLfu5/+9Zksu9hhJ3ZJ35j0W1HQkEo=,tag:GwdwhXQFCdus9haMqrRP3Q==,type:str]
            client_id: semaphore
            client_secret: ENC[AES256_GCM,data:2Ri1j+zZsChz3of9QKVr7nEbQ0N27FvS0yWN0Cr5JfhuiD7kdAEqZnOFk4SwF40m7sWWnWOiCqenVBPrS0qq94GODSJg/21M,iv:3XgpPGiSW32Pyy7V2lNDDUFSABOB4swHAd8sAnagt7w=,tag:CZf7q1/0S+/ElUZLviWe+g==,type:str]
admin:
    create: true
    email: ENC[AES256_GCM,data:8UY8IsxdFu8Y775SSLjmnJUw+1k=,iv:M6GhsnOj4UabqV0D6qxS+R+Jv7D2fB4EbZEaGU/YLlY=,tag:jElfMswUjaUCq2HSBA0toA==,type:str]
    # base64 / ES5ztudcpZwnuIZI8037
    password: ENC[AES256_GCM,data:aTRlFyXel4A3J38ugoMA5nlADgS6fyHUwiZUsw==,iv:7e/rgz5lyIBghePXFpVQLF05NQV1BuFA8rbxMnlnabM=,tag:CmSIpF8GApQ6Hi+odRPQcw==,type:str]
    fullname: Administrator
database:
    type: mysql
    host: ENC[AES256_GCM,data:LbTxyVjak/9qTmTbnm189qB+8rcC7pOgnewl+3+lLN4yAJE=,iv:mt3DaBKul+GDt+5uCXF1TG/fvhs0Ew5aH+l/s/ucPK4=,tag:J63z+/fGk5LXlfObENMTeg==,type:str]
    port: 3306
    name: semaphore
    username: ENC[AES256_GCM,data:cSEkgNUuIjG8,iv:tiandVMUI05YN8Ph4fivrW3wrR8+UGLyzDXCaEjB3Z0=,tag:J8fcSVs9scMIc+rjilLvzw==,type:str]
    password: ENC[AES256_GCM,data:rJhA0USZsALGKrOHFDzhgQKwAjw=,iv:6WQEm6QdyZX8/+44y5vRTiZIkX6rgQB0ZuP62OLxVBQ=,tag:/BZxBJRgbjGtM7ly3yMs7w==,type:str]
    persistence:
        enabled: false
secrets:
    accesskeyEncryption: ENC[AES256_GCM,data:MDR2K6JrMlhy10Lk0MvnpxqXQkCGqMx8+e1oIs9581ZNzn31j564y/+zwGaOSqg7eGq9cTZIJ+UAJPbq,iv:yc2TQINJNMcQ0iGIqu4ypy2cidBo89BHyoFURUJd9NE=,tag:rcbiSSVwa8RAQsjCH/cujA==,type:str]
    cookieEncryption: ENC[AES256_GCM,data:XJVnv8lFN8yyRFHe9DZTvg3G2Plq+5Ki9Gxr6ueirhqv6eeQ4q+tqwexFXhgZyhVesnf7KgTvkQDOlz8,iv:/8+DnZ0lEycuuvU9NgaSEwztKyLdRIElCWjhUIP2bHk=,tag:dHTgNhoDIheaJcFPb9Dqcw==,type:str]
    cookieHash: ENC[AES256_GCM,data:4zTIXdWRthQa21eWdiAxE6RRb3f6Ye+nrrS9AF7A7fct66sbZM72iF3Vxg/ljFYXOgIliAP9yAb2P8rI,iv:PrKLESsaL13edfRtR2xk33l4CehU/OgkeyJB8SWmK2o=,tag:PZvKs2JKAoS36UdkdFFKDQ==,type:str]
runner:
    # openssl rand -hex 32
    token: ENC[AES256_GCM,data:C6d7Y3AHb6jZXk6Y58Hi4ZUkxw9n7CYTKbxIGemzRjJJckcSbonBHtWebEENejZdFZcH2RID9+b5scVZbv7ZTg==,iv:vFPZT8L8p7toojhSnnDaeAMTapJZ2E9ByLYTIGiFXyg=,tag:bt41EMssgN1IyUCp1LoIYw==,type:str]
extraEnvVariables:
    SEMAPHORE_WEB_ROOT: ENC[AES256_GCM,data:eP67ZD6PjTMe/0dcgTj64PNAJJ69IAZ1jLHZvvgbGm4oDOr5GV8+,iv:9upFFnArF6d2n00u5q4X+6xnnM1FW1EvrPSW8/9aK+8=,tag:w0t57Pjo8ZyO+bfT2h/Eag==,type:str]
extraVolumeMounts:
    - name: requirements-txt
      mountPath: /etc/semaphore/requirements.txt
      subPath: requirements.txt
extraVolumes:
    - name: requirements-txt
      configMap:
        name: semaphore-requirements-txt
config:
    forwarded_env_vars:
        - TEST
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBrYk44YXN3QXFHa3VQYW5a
            RE5tcW91OG9RUkczRkNVZ05ibGIvQU5pZHdnCkRCM0JFRVdScE1QVFRwUmIxOSt6
            QkVheUxwdEMvaVhxQ1NMUVNkdWVTQzgKLS0tIE4reFg3T2p5TU5yTGdqeFRRODU0
            L05RczI5MmNRaFovWFovNmhIeGc3enMKaH9xsw4TFenL0SqfvLhI34XJaEsD7AO8
            vq6f/RgwE5c0zQNRzv1ilsKKNBCahBgLfeGQUOJA5C2ty/2gjCO18Q==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAzV3V1aGlZQ2hEaGJUb2NX
            VHhzWGQyUnRLY3dXN01tMlVyKzhOeUhxU3dVCnBjaXQrN2JQU0Q1MEFzckI3R1BS
            N3oyd0hqNkpQczg2U0FMdHJVR3dZcDgKLS0tIHJMcHdNZ2hnZndvUFZWVXlNUTN6
            UmtqRlJZaWpvQ0Y2MzNsOGVXWVFwYkkKUOaWnX30ztRuKjxRBXHi6HNsfPeULDiK
            ADpqMt+Ko01L793kR228jw1+LQeEYrwSuqjsEmRTj4zBnV8idSaadQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-02T11:21:47Z"
    mac: ENC[AES256_GCM,data:y/zHqSf886YXPaFDJML2CQkwDoS1vv+YxHvgDulqhPEbSf+GoIxq0JsMS6x6Siu4rHRtuyFR7ycyN2zKdD+1B/hcMLKZ84jW6O5F0ER6bKDF+G2gRjYhOZdEYN60UdxRAWB0L6JXxdCpwvbheB2HZv4u7+MPpFAg0K53Ws+XC4Y=,iv:Vw5Wx7V90DnqSpErneGOB9U0GYRYjGZEA42J9fqj8ds=,tag:wv2keSk3fqBSIqnIQzN9Og==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match|instance)$
    version: 3.11.0
