---
commonAnnotations:
  argocd.argoproj.io/sync-wave: "09"

helmCharts:
  - name: redis
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 23.2.6
    releaseName: redis
    namespace: databases
    valuesFile: values.yaml

resources:
  - k8s.np.redis.yaml
