---
commonAnnotations:
  argocd.argoproj.io/sync-wave: "17"

helmCharts:
  - name: loki
    repo: https://grafana.github.io/helm-charts
    version: 6.48.0
    releaseName: loki
    namespace: monitoring
    includeCRDs: true
    valuesFile: values.yaml
  - name: promtail
    repo: https://grafana.github.io/helm-charts
    version: 6.17.1
    releaseName: promtail
    namespace: monitoring
    includeCRDs: true

resources:
  - k8s.np.monitoring-loki.yaml
