deploymentMode: SingleBinary
loki:
    analytics:
        reporting_enabled: false
        usage_stats_url: ""
    auth_enabled: false
    revisionHistoryLimit: 3
    commonConfig:
        replication_factor: 1
    storage:
        type: filesystem
        filesystem:
            # Temporary workaround for https://github.com/grafana/loki/issues/18729
            #admin_api_directory: null
            chunks_directory: /var/loki/chunks
            rules_directory: /var/loki/rules
            wal_directory: /var/loki/wal
    schemaConfig:
        configs:
            - from: "2024-01-01"
              store: tsdb
              index:
                prefix: loki_index_
                period: 24h
              # we're storing on filesystem so there's no real persistence here.
              object_store: filesystem
              schema: v13
    compactor:
        retention_enabled: true
        compaction_interval: 10m
        retention_delete_delay: 2h
        retention_delete_worker_count: 150
        delete_request_store: filesystem
        shared_store: filesystem
        working_directory: /var/loki/compactor
    limits_config:
        retention_period: 744h
singleBinary:
    replicas: 1
read:
    replicas: 0
backend:
    replicas: 0
write:
    replicas: 0
monitoring:
    dashboards:
        enabled: true
        namespace: monitoring
    serviceMonitor:
        enabled: true
tableManager:
    retention_deletes_enabled: true
    retention_period: 360h
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvZnRWckxvNXpzSUxPTU5q
            UGxxZW5Xa0tMTm0reFEvL1ZPRzdNZHRXYW5rCmxZOXRlb0x4c2s5eHVqdlJiUEZp
            QnBDZ2NXNGdkdE1uZVViV0E1RGVudnMKLS0tIDJqMWU4ZUpTM0J1eURnbVdCMTZY
            bExXbXRTbHdSYm4vcmtjNGd4WGtreXcK5VZ6sILqkQ1xBS2sBfq8iWwz16uAHknA
            RIK9SJpbEbvcNgxzHxusYMruXVO+dgJ6dIFL3XEJDMxuy9AEICC8Cg==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3cXh2dmtXV1ZxOGRLVkNy
            YWhCSVJRb1FlN1NqR21PRGU1d001VlpqRG44CkVDNnkzM1UvaytndW5JVzIwUE1w
            WXJOSnN5RmJWRHJBUTJ6MXlvdFdVQTQKLS0tIFVFbkVwZStOSm4rOUZ6NGgwaVpz
            Vm8xQzk5ZnZqRkZMNHE0MWl0bE8xY28KnJN0G651KX0SEBKRTSGiSftUHMBlpm4X
            t9oDVSsl/zMZn3T+EY8kWcC0IWSI5XqMkHRmrN4YGQWZyUfHCwPNLA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-30T11:00:56Z"
    mac: ENC[AES256_GCM,data:VXyjvX3dX85Si3NC+k+xyc4DmfbvLNnCK7bXjAQM8RcOBPP3bnJV+eK9ikEM42XdqvISGGHfcYfxYzaylHkepG8xmLI9wWVEhSVgZynxZZNwa8vc4rcU9xeieV75E/MDQRcNVaQmz3eQ10bK08ol3ApSYLRI2UWUjqGNGhN67HU=,iv:yvFVz1d+cHLiCo5A8iW4h3SYUcryu4moVCKJ42cym3k=,tag:d5XE6ufo1bqv1mwGAViD1g==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match)$
    version: 3.11.0
