image:
    repository: ghcr.io/paperless-ngx/paperless-ngx
    tag: 2.20.2
env:
    - name: TZ
      value: Europe/Berlin
    - name: PAPERLESS_TIME_ZONE
      value: Europe/Berlin
    - name: PAPERLESS_REDIS
      value: redis://redis-master.databases.svc.cluster.local:6379/2
    - name: PAPERLESS_DBENGINE
      value: mariadb
    - name: PAPERLESS_DBHOST
      value: mariadb.databases.svc.cluster.local
    - name: PAPERLESS_DBPORT
      value: 3306
    - name: PAPERLESS_DBSSLMODE
      value: PREFERRED
    - name: PAPERLESS_FILENAME_FORMAT_REMOVE_NONE
      value: true
    - name: PAPERLESS_ENABLE_HTTP_REMOTE_USER
      value: true
    #- name: PAPERLESS_ENABLE_HTTP_REMOTE_USER_API
    #  value: true
    - name: PAPERLESS_OCR_LANGUAGE
      value: deu
    - name: PAPERLESS_OCR_MODE
      value: skip
    - name: PAPERLESS_USE_X_FORWARD_HOST
      value: true
    - name: PAPERLESS_USE_X_FORWARD_PORT
      value: true
    - name: PAPERLESS_CONSUMER_RECURSIVE
      value: true
    - name: PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS
      value: true
    - name: PAPERLESS_CONSUMER_POLLING
      value: 300
    - name: PAPERLESS_CONSUMER_ENABLE_BARCODES
      value: true
    - name: PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE
      value: true
    - name: PAPERLESS_OCR_DESKEW
      value: true
persistentVolumeClaim:
    create: false
    storageClassName: longhorn
    existingPersistentVolumeClaim: smb-pvc-container-paperless-data
consumption:
    type: pvc
    persistentVolumeClaim:
        claimName: smb-pvc-documents
media:
    enabled: true
    type: pvc
    persistentVolumeClaim:
        claimName: smb-pvc-container-paperless-media
export:
    type: pvc
    persistentVolumeClaim:
        claimName: smb-pvc-container-paperless-export
trash:
    enabled: true
    type: pvc
    persistentVolumeClaim:
        claimName: smb-pvc-container-paperless-trash
sops:
    age:
        - recipient: age1d2g7tgqpfvxulsusn3m608h60h2hne7yqwv5nh5nd24z6h0hgq0skjkhw8
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA4Mko2YnE4MHE0ZkJQaUEx
            Y2RDOFQwNFJoSG0wMm50U1o4dWYvRXNMYVJZCkRGbzFscjhRdlZicE83dlFRWnl3
            Ync3eWFUSVUzVzZwaXdwVDdCMTR0SkUKLS0tIFVCNk5LeVJmR1R2ZEZuOEo4Nkdo
            Y3JGa3lrdjlSa2VEWEkweHlqQ0Q3elkKFiMmo8yyZzCleIBfMSOrMFXZtpf7ewro
            jar3RwSRXjOc493Hl+H1xrYM63djnwY7YSJJ68oCSDUtT3vt+GHW+Q==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1q522xtgjrmvr43w7um5rh02ta3yfns635680hz4m7uhw0nfqj5zqgxnz27
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBoSGlGTmxpSWRWR0U3a0tp
            VWd4RGY2U0lYRWR4MVNNbXpFc0dyTHgvT3dzCmE0MlYyejZxdzd0d2dmTDZjaFdS
            UThhdndURlBLYXZ4cW5NWVZUSGc5WHcKLS0tIEttQkpVY0RWV1g5RW5xYlNvVlFw
            UndGQ0N6NkRCMWgxaU5CRnh2M0srcDQKvf1DQxvYSWPWdHILCjm3c4c5Tj9K6cPK
            6C7UWx1leP8XFZ5oWk7EkP5JvDK2oOgBG5mq9BoMxAYAzm5ucPdqng==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-16T19:49:07Z"
    mac: ENC[AES256_GCM,data:QyUmDa7bT4M5xp9SHq/E85JVfFZbtzk76WErn0dk0BoZA3zY3r5VHXwrb8Z7Moi64kqJ8o++ogewMUoS3BbR2Gh2kdDowP2XjQNjpKO1rbEYOb7o2l8Z1C16VLThV1xqv84VPwqPTaweiWCpS1dSCxFCegCG2ILCAyMnw5vXBAo=,iv:Fa7J6zMZ4rxqNQ8+8Gn8bIfrWGXCaRX70ImGjJBw8wM=,tag:SOub+PpofM43iWbufZHBxQ==,type:str]
    encrypted_regex: ^(data|stringData|email|dnsNames|.*(H|h)osts?|hostname|username|password|url|issuer|argocdServerAdminPassword|oidc.config|commonName|literals|.*awsAccessKeyId|.*awsSecretAccessKey|.*defaultAdminPassword|apiToken|accountId|rootPassword|replicationPassword|adminPassword|root_url|client_secret|auth_url|api_url|PIHOLE_DOMAIN|TUNNEL_DNS_UPSTREAM|customDnsEntries|securityTokenKey|emailRecipients|.*provider_url|.*redirect_url|.*accesskeyEncryption|SEMAPHORE_WEB_ROOT|token|cookieEncryption|cookieHash|^ldap|.*match|instance)$
    version: 3.11.0
