---
name: Publish docs via GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/docs.yaml"
      - "mkdocs.yaml"
      - "docs/**"

jobs:
  publish-docs:
    permissions:
      contents: write
      pages: write
    runs-on: ubuntu-latest
    # Don't run job on pull requests from forks
    if: github.event.pull_request.head.repo.fork == false
    steps:
      - uses: actions/checkout@v6
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: |
          pip install -r requirements.txt
      - run: mkdocs gh-deploy --config-file ./mkdocs.yaml --force
