---
commonAnnotations:
  argocd.argoproj.io/sync-wave: "17"

resources:
  - k8s.np.monitoring-kubernetes-event-exporter.yaml

helmCharts:
  - name: kubernetes-event-exporter
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 3.6.3
    releaseName: kubernetes-event-exporter
    namespace: monitoring
    includeCRDs: true
    valuesFile: values.yaml
